.alt-schedule {
    padding-top: 40px;
}
    .alt-schedule__heading {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 0;
        margin-bottom: 0;
        font-family: var(--font-heading);
        font-weight: normal;
        font-style: italic;
        font-size: 60px;
        line-height: 70px;
        color: #E4BB6B;
        text-transform: uppercase;
        text-align: center;
        gap: 24px;
    }

    .alt-schedule__table-headings {
        margin-top: 38px;
    }

    .alt-schedule__filter {
        display: none;
    }

    .alt-schedule__body {
        margin-top: 45px;
    }
        .alt-schedule__item {
            margin-top: 45px;
        }

        .alt-schedule__item:first-child {
            margin-top: 0;
        }
            .alt-schedule__location {

            }

            .alt-schedule__data {
                margin-top: 30px;
            }

    .alt-schedule__download {
        margin-top: 45px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: fit-content;
    }



@media (1850px <= width) {

    .alt-schedule {
        padding-top: 60px;
    }
        .alt-schedule__heading {
            /*display: flex;*/
            /*align-items: center;*/
            /*justify-content: center;*/
            /*margin-top: 0;*/
            /*margin-bottom: 0;*/
            /*text-align: center;*/
            gap: 38px;
            font-size: 80px;
            line-height: 94px;
        }

        .alt-schedule__table-headings {
            margin-top: 57px;
        }

        .alt-schedule__body {
            margin-top: 60px;
        }
            .alt-schedule__item {
                margin-top: 60px;
            }

            .alt-schedule__item:first-child {
                /*margin-top: 0;*/
            }
                .alt-schedule__location {

                }

                .alt-schedule__data {
                    margin-top: 40px;
                }

        .alt-schedule__download {
            margin-top: 60px;
        }
}



@media (width < 740px) {

    .alt-schedule {
        padding-top: 40px;
    }
        .alt-schedule__heading {
            /*display: flex;*/
            /*align-items: center;*/
            /*justify-content: center;*/
            /*margin-top: 0;*/
            /*margin-bottom: 0;*/
            /*font-family: var(--font-heading);*/
            /*font-weight: normal;*/
            /*font-style: italic;*/
            font-size: 32px;
            line-height: 37px;
            /*color: #F9F6F2;*/
            /*text-transform: uppercase;*/
            /*text-align: center;*/
            /*gap: 24px;*/

            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 16px;
        }

        .alt-schedule__table-headings {
            display: none;
        }

        .alt-schedule__filter {
            display: block;
            margin-top: 24px;
        }

        .alt-schedule__body {
            margin-top: 40px;
        }
            .alt-schedule__item {
                margin-top: 40px;
            }

            .alt-schedule__item:first-child {
                margin-top: 0;
            }
                .alt-schedule__location {

                }

                .alt-schedule__data {
                    margin-top: 24px;
                }

        .alt-schedule__download {
            margin-top: 24px;
        }
}

