.tour {
    padding-top: 4px;
}
    .tour__item {
        margin-top: 24px;
    }

    .tour__item:first-child {
        margin-top: 0;
    }

    .tour__item--empty {

    }

        .tour__time {
            display: block;
            font-family: var(--font-heading);
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            color: #E4BB6B;
        }

        .tour__action {
            margin-top: 16px;
        }
            .tour__action.button,
            .tour__action .button {
                width: 100%;
            }

            .tour__item--empty .tour__action {
                padding-top: 10px;
                padding-bottom: 10px;
                font-size: 16px;
                line-height: 24px;
                color: #B9B9B9;
                text-align: center;
            }



@media (1850px <= width) {

    .tour {
        /*padding-top: 4px;*/
    }
        .tour__item {
            /*margin-top: 24px;*/
        }

        .tour__item:first-child {
            /*margin-top: 0;*/
        }

        .tour__item--empty {

        }

            .tour__time {
                /*display: block;*/
                /*font-family: var(--font-heading);*/
                /*font-weight: 500;*/
                font-size: 20px;
                line-height: 23px;
                /*color: #E4BB6B;*/
            }

            .tour__action {
                /*margin-top: 16px;*/
            }
                .tour__action.button,
                .tour__action .button {
                    /*width: 100%;*/
                }

                .tour__item--empty .tour__action {
                    padding-top: 13px;
                    padding-bottom: 12px;
                    font-size: 18px;
                    line-height: 25px;
                    /*color: #B9B9B9;*/
                    /*text-align: center;*/
                }
}
