.application {
    padding-top: var(--page-top-padding);
}
    .application__heading {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 0;
        margin-bottom: 0;
        text-align: center;
        gap: 18px;
    }

    .application__form {
        margin-top: 40px;
    }



@media (1850px <= width) {

    .application {

    }
        .application__heading {
            gap: 24px;
        }

        .application__form {
            margin-top: 60px;
        }
}



@media (width < 740px) {

    .application {

    }
        .application__heading {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 22px;
        }

        .application__form {
            margin-top: 32px;
        }
}





@media (width < 400px) {

    .application__heading.title,
    .application__heading .title {
        font-size: 28px;
        line-height: 32px;
    }
}



