.article {
    margin-top: var(--article-top-padding);
}
    .article__heading {
        margin-top: 0;
        margin-bottom: 0;
    }

    .article__info {
        margin-top: 18px;
        font-size: 16px;
        line-height: 20px;
    }

    .article__body {
        margin-top: 30px;
    }

    .article__additional-section {
        margin-top: 60px;
    }
        .article__sub-heading {
            margin-top: 0;
            margin-bottom: 0;
        }

        .article__sub-content {
            margin-top: 18px;
        }

    .article__attachment-section {
        margin-top: 80px;
    }
        .article__attachment-heading {
            margin-top: 0;
            margin-bottom: 0;
            color: #E4BB6B;
        }

        .article__widget {
            margin-top: 30px;
        }



@media (1700px <= width) {

    .article {
        /*margin-top: var(--article-top-padding);*/
    }
        .article__heading {
            /*margin-top: 0;*/
            /*margin-bottom: 0;*/
        }

        .article__info {
            margin-top: 24px;
            /*display: flex;*/
            /*align-items: flex-start;*/
            font-size: 20px;
            line-height: 27px;
        }

        .article__body {
            margin-top: 40px;
        }

        .article__additional-section {
            margin-top: 80px;
        }
            .article__sub-heading {
                /*margin-top: 0;*/
                /*margin-bottom: 0;*/
            }

            .article__sub-content {
                margin-top: 24px;
            }

        .article__attachment-section {
            margin-top: 100px;
        }
            .article__attachment-heading {
                /*margin-top: 0;*/
                /*margin-bottom: 0;*/
                /*color: #E4BB6B;*/
            }

            .article__widget {
                margin-top: 40px;
            }
}



@media (width < 1700px) {

    .article {
        /*margin-top: var(--article-top-padding);*/
    }
        .article__heading {
            /*margin-top: 0;*/
            /*margin-bottom: 0;*/
        }

        .article__info {
            margin-top: 16px;
            /*display: flex;*/
            /*align-items: flex-start;*/
        }

        .article__body {
            margin-top: 24px;
        }

        .article__additional-section {
            margin-top: 40px;
        }
            .article__sub-heading {
                /*margin-top: 0;*/
                /*margin-bottom: 0;*/
            }

            .article__sub-content {
                margin-top: 16px;
            }

        .article__attachment-section {
            margin-top: 60px;
        }
            .article__attachment-heading {
                /*margin-top: 0;*/
                /*margin-bottom: 0;*/
                /*color: #E4BB6B;*/
            }

            .article__widget {
                margin-top: 24px;
            }
}


