body {
    height: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: var(--font);
    font-size: var(--body-font-size);
    line-height: var(--body-line-height);
}
