body {
    height: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    background-color: #0B1E3A;
    color-scheme: dark;
    font-family: var(--font);
    font-size: var(--body-font-size);
    line-height: var(--body-line-height);
    color: #FFFFFF;
}


@media (width < 740px) {

    .burger-expanded body {
        background-color: #FFFFFF;
    }
}



/* Лэндинг 275 лет */

.body-275 {

}


@media (width < 740px) {

    .burger-expanded .body-275 {
        background-color: #0B1E3A;
    }
}
