.breadcrumbs {
    padding-top: 13px;
    padding-bottom: 13px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-left: -8px;
    margin-right: -8px;
}
    .breadcrumbs__item {
        position: relative;
        padding-right: 8px;
    }

    .breadcrumbs__item:last-child {
        padding-right: 0;
    }
        .breadcrumbs__item::after {
            content: "";
            position: absolute;
            right: 3px;
            top: 10px;
            width: 1px;
            height: 16px;
            background-color: #8E8E8E;
        }

        .breadcrumbs__item:last-child::after {
            display: none;
        }

        .breadcrumbs__link {
            display: block;
            padding: 8px;
            font-size: 13px;
            line-height: 20px;
            color: #C4BFB9;
            text-decoration: 1px underline transparent;
            text-underline-offset: 3px;
            transition: text-decoration-color var(--transition-hover);
        }

        .breadcrumbs__link:hover {
            text-decoration-color: currentColor;
        }

        .breadcrumbs__title {
            padding: 8px;
            max-width: 235px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-size: 14px;
            line-height: 20px;
            color: #FFFFFF;
        }



@media (1700px <= width) {

    .breadcrumbs {

    }
        .breadcrumbs__item {

        }

        .breadcrumbs__item:last-child {

        }
            .breadcrumbs__item::after {
                top: 9px;
                height: 18px;
            }

            .breadcrumbs__item:last-child::after {

            }

            .breadcrumbs__link {
                font-size: 14px;
                line-height: 20px;

            }

            .breadcrumbs__link:hover {

            }

            .breadcrumbs__title {

            }
}
