.breadcrumbs {
    --breadcrumbs-padding: 8px;
}

.breadcrumbs {

}
    .breadcrumbs__scroll {
        margin-left: calc(-1 * var(--breadcrumbs-padding));
        margin-right: calc(-1 * var(--breadcrumbs-padding));
    }
        .breadcrumbs__ribbon {
            display: flex;
        }
            .breadcrumbs__item {
                position: relative;
                padding-right: var(--breadcrumbs-padding);
                white-space: nowrap;
            }

            .breadcrumbs__item:last-child {
                padding-right: 0;
                flex-grow: 1;
                overflow: hidden; /* Имеет смысл на смартфонах, последний айтем -- сколько влезло, столько влезло */
            }
                .breadcrumbs__item::after {
                    content: "";
                    position: absolute;
                    right: 3px;
                    top: calc(var(--breadcrumbs-padding) + 2px);
                    width: 1px;
                    height: 16px;
                    background-color: #8E8E8E;
                }

                .breadcrumbs__item:last-child::after {
                    display: none;
                }

                .breadcrumbs__link {
                    display: block;
                    padding: var(--breadcrumbs-padding);
                    font-size: 13px;
                    line-height: 20px;
                    color: #C4BFB9;
                    text-decoration: 1px underline transparent;
                    text-underline-offset: 3px;
                    transition: text-decoration-color var(--transition-hover);
                }

                .breadcrumbs__link:hover {
                    text-decoration-color: currentColor;
                }

                .breadcrumbs__title {
                    padding: var(--breadcrumbs-padding);
                    max-width: 235px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    font-size: 14px;
                    line-height: 20px;
                    color: #FFFFFF;
                }



@media (1850px <= width) {

    .breadcrumbs {

    }
        .breadcrumbs__scroll {

        }
            .breadcrumbs__ribbon {

            }
                .breadcrumbs__item {

                }

                .breadcrumbs__item:last-child {

                }
                    .breadcrumbs__item::after {
                        top: calc(var(--breadcrumbs-padding) + 1px);
                        height: 18px;
                    }

                    .breadcrumbs__item:last-child::after {

                    }

                    .breadcrumbs__link {
                        font-size: 14px;
                        line-height: 20px;
                    }

                    .breadcrumbs__link:hover {

                    }

                    .breadcrumbs__title {

                    }
}



@media (width < 740px) {

    .breadcrumbs {

    }
        .breadcrumbs__scroll {
            overflow-x: auto;
            margin-left: calc(-1 * var(--container-padding));
            margin-right: calc(-1 * var(--container-padding));
            padding-left: calc(var(--container-padding) - var(--breadcrumbs-padding));
            padding-right: calc(var(--container-padding) - var(--breadcrumbs-padding));
        }
            .breadcrumbs__ribbon {
                display: inline-flex;
                align-items: flex-start;
            }
                .breadcrumbs__item {
                    padding-right: 4px;
                }

                .breadcrumbs__item:last-child {

                }
                    .breadcrumbs__item::after {
                        right: 1px;
                        height: 14px;
                    }

                    .breadcrumbs__item:last-child::after {

                    }

                    .breadcrumbs__link {
                        font-size: 12px;
                        line-height: 16px;
                    }

                    .breadcrumbs__link:hover {

                    }

                    .breadcrumbs__title {
                        font-size: 12px;
                        line-height: 16px;
                    }
}

