.breadcrumbs {
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 13px;
    line-height: 24px; /* Здесь будет всё инлайнами, так что важно задать line-height выше */
}
    .breadcrumbs__item {
        position: relative;
        display: inline;
        vertical-align: baseline;
    }

    .breadcrumbs__item:last-child {

    }
        .breadcrumbs__item::after {
            content: "";
            display: inline-block;
            vertical-align: top;
            margin-top: 4px;
            margin-left: 7px;
            margin-right: 7px;
            width: 1px;
            height: 16px;
            background-color: #8E8E8E;
        }

        .breadcrumbs__item:last-child::after {
            display: none;
        }

        .breadcrumbs__link {
            display: inline;
            vertical-align: baseline;
            padding-top: 6px;
            padding-bottom: 6px;
            color: #C4BFB9;
            white-space: nowrap;
            text-decoration: 1px underline transparent;
            text-underline-offset: 3px;
            transition: text-decoration-color var(--transition-hover);
        }

        .breadcrumbs__link:hover {
            text-decoration-color: currentColor;
        }

        .breadcrumbs__title {
            display: inline;
            vertical-align: baseline;
            max-width: 235px;
            overflow: hidden;
            text-overflow: ellipsis;
            color: #FFFFFF;
        }



@media (1850px <= width) {

    .breadcrumbs {
        padding-top: 6px;
        padding-bottom: 8px;
        font-size: 14px;
        line-height: 26px;
    }
        .breadcrumbs__item {

        }

        .breadcrumbs__item:last-child {

        }
            .breadcrumbs__item::after {
                height: 18px;
            }

            .breadcrumbs__item:last-child::after {

            }

            .breadcrumbs__link {
                padding-top: 8px;
                padding-bottom: 8px;
            }

            .breadcrumbs__link:hover {

            }

            .breadcrumbs__title {

            }
}



@media (width < 740px) {

    .breadcrumbs {
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 12px;
        line-height: 20px;
    }
        .breadcrumbs__item {

        }

        .breadcrumbs__item:last-child {

        }
            .breadcrumbs__item::after {
                height: 14px;
            }

            .breadcrumbs__item:last-child::after {

            }

            .breadcrumbs__link {
                padding-top: 5px;
                padding-bottom: 5px;
            }

            .breadcrumbs__link:hover {

            }

            .breadcrumbs__title {
                max-width: none;
            }
}

