.archive {

}
    .archive__content {

    }

    .archive__action {
        margin-top: 30px;
    }



@media (1850px <= width) {

    .archive {

    }
        .archive__content {

        }

        .archive__action {
            margin-top: 40px;
        }
}



@media (width < 740px) {

    .archive {

    }
        .archive__content {

        }

        .archive__action {
            margin-top: 24px;
        }
}


