.bullet {
    position: relative;
    top: -1px;
    display: inline-block;
    vertical-align: baseline;
    margin-left: 4px;
    margin-right: 4px;
    flex-shrink: 0;
    width: 8px;
    height: 8px;
    background-color: currentColor;
    border-radius: 50%;
    text-indent: 200%;
    white-space: nowrap;
    overflow: hidden;
}


@media (1850px <= width) {

    .bullet {
        width: 10px;
        height: 10px;
        margin-left: 6px;
        margin-right: 6px;
    }
}
