.button {
    position: relative;
    vertical-align: top;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: none;
    padding: 11px 20px;
    min-width: 100px;
    background-color: #E4BB6B;
    border-radius: 21px;
    font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #0B1E3A;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    transition: background-color var(--transition-hover);
}

.button:hover {
    background-color: var(--action-color-hover);
}

.button:active {
    translate: 0 1px;
    transition: none;
}
    .button__icon {
        flex-shrink: 0;
        width: 16px;
        height: 16px;
        fill: currentColor;
    }

@media (1850px <= width) {

    .button {
        padding: 13px 24px;
        border-radius: 24px;
        font-size: 18px;
        line-height: 24px;
        gap: 10px;
    }
        .button__icon {
            width: 18px;
            height: 18px;
        }
}

@media (width < 740px) {

    .button {

    }
        .button__icon {
            width: 20px;
            height: 20px;
        }
}


.button--secondary {
    background-color: transparent;
    box-shadow: inset 0 0 0 1px #E4BB6B;
    color: #E4BB6B;
}

.button--secondary:hover {
    background-color: var(--action-color-hover);
    box-shadow: inset 0 0 0 1px transparent;
    color: #0B1E3A;
}


.button--transparent {
    background-color: transparent;
    box-shadow: none;
    color: #FFFFFF;
}

.button--transparent:hover {
    background-color: rgb(255 255 255 / 10%);
    box-shadow: none;
    color: #FFFFFF;
}



/*.button:disabled,*/
/*.button:disabled:hover,*/
/*.button:disabled:active {*/
/*    background-color: #F6F6F6;*/
/*    color: var(--disabled-color);*/
/*    translate: none;*/
/*    cursor: default;*/
/*}*/

/*.button--secondary {*/
/*    box-shadow: inset 0 0 0 2px var(--action-color);*/
/*    background-color: transparent;*/
/*    color: var(--action-color);*/
/*}*/

/*.button--secondary:hover {*/
/*    background-color: #F3F9FF;*/
/*}*/




@keyframes button-loading-spin {
    100% { transform: rotate(360deg); }
}

.button--loading {
    color: transparent;
    pointer-events: none;
}
    .button--loading::after {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        display: block;
        width: 24px;
        height: 24px;
        margin-top: -12px;
        margin-left: -12px;
        background-image: url("../vectors/button-loading.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        animation: button-loading-spin 1s steps(12) infinite;
    }

    @media (1850px <= width) {
        .button--loading::after {
            width: 28px;
            height: 28px;
            margin-top: -14px;
            margin-left: -14px;
        }
    }

.button--success {
    color: transparent;
    pointer-events: none;
}
    .button--success::after {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        display: block;
        width: 24px;
        height: 24px;
        margin-top: -12px;
        margin-left: -12px;
        background-image: url("../vectors/button-success.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }

    @media (1850px <= width) {
        .button--success::after {
            width: 28px;
            height: 28px;
            margin-top: -14px;
            margin-left: -14px;
        }
    }


.button--warning {
    color: transparent;
    pointer-events: none;
}
    .button--warning::after {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        display: block;
        width: 24px;
        height: 24px;
        margin-top: -12px;
        margin-left: -12px;
        background-image: url("../vectors/button-warning.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }

    @media (1850px <= width) {
        .button--warning::after {
            width: 28px;
            height: 28px;
            margin-top: -14px;
            margin-left: -14px;
        }
    }





.button--larger {
    padding: 12px 36px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 26px;
}

.button--larger.button--loading::after,
.button--larger.button--success::after,
.button--larger.button--warning::after {
    width: 28px;
    height: 28px;
    margin-top: -14px;
    margin-left: -14px;
}
    .button--larger .button__icon {
        width: 18px;
        height: 18px;
    }


@media (1850px <= width) {

    .button--larger {
        padding: 14px 40px;
        border-radius: 28px;
        font-size: 20px;
        line-height: 28px;
        gap: 10px;
    }
    .button--larger.button--loading::after,
    .button--larger.button--success::after,
    .button--larger.button--warning::after {
        width: 32px;
        height: 32px;
        margin-top: -16px;
        margin-left: -16px;
    }
        .button--larger .button__icon {
            width: 20px;
            height: 20px;
            gap: 12px;
        }
}



.button--largest {
    padding: 15px 28px;
    border-radius: 29px;
    font-size: 20px;
    line-height: 28px;
    gap: 12px;
}
    .button--largest .button__icon {
        width: 22px;
        height: 22px;
    }


@media (1850px <= width) {

    .button--largest {
        padding: 20px 32px;
        border-radius: 36px;
        font-size: 24px;
        line-height: 32px;
        gap: 12px;
    }
        .button--largest.button--loading::after,
        .button--largest.button--success::after,
        .button--largest.button--warning::after {
            width: 32px;
            height: 32px;
            margin-top: -16px;
            margin-left: -16px;
        }
            .button--largest .button__icon {
                width: 20px;
                height: 20px;
                gap: 14px;
            }
}


@media (width < 740px) {

    .button--largest {
        padding: 8px 20px;
        border-radius: 19px;
        font-size: 16px;
        line-height: 22px;
        /*gap: 12px;*/
    }
        .button--largest .button__icon {
            /*width: 22px;*/
            /*height: 22px;*/
        }
}
