.week {
    /* Ширины:
         7*227 (дни календаря)
       + 6*2 (разделители)
       + 12*13 (отступы слева и справа от разделителей)
       + 3 (три лишних пикселя осталось)
       = 1760
    */
    margin-right: 3px;
    display: grid;
    grid-template-columns: repeat(7, 227px);
    gap: 28px;
    background-image: linear-gradient(to right, transparent, transparent 253px, #223152 253px, #223152 255px);
    background-size: 255px 1px;
    background-repeat: repeat;
    background-position: -13px top;
}
    .week__day {
        padding-top: 4px;
        padding-bottom: 16px;
    }
        .week__number {
            font-family: var(--font-heading);
            font-style: italic;
            font-size: 48px;
            line-height: 48px;
            text-align: right;
        }

        .week__number--weekend {
            color: #E4BB6B;
        }

        .week__today-shows {
            margin-top: 21px;
            display: flex;
            flex-direction: column;
            gap: 24px;
        }
