/* Довольно запарно выключать слайдер на десктопах скриптом.
   Проще перебить пару стилей:
 */
.carousel--css-disable-on-smartphone {

}

@media (width < 740px) {

    .carousel--css-disable-on-smartphone {

    }
        .carousel--css-disable-on-smartphone .carousel__widget .swiper {
            overflow: visible;
        }
            .carousel--css-disable-on-smartphone .carousel__widget .swiper-wrapper {
                display: block !important;
                height: auto !important;
                transform: none !important;
            }
                .carousel--css-disable-on-smartphone .swiper-slide {
                    width: auto !important;
                    margin: 0 !important;
                }

    .carousel--css-disable-on-smartphone .carousel__pagination {
        display: none;
    }

    .carousel--css-disable-on-smartphone .carousel__button {
        display: none !important;
    }
}



.carousel--photo-gallery {

}

@media (740px <= width) {

    .carousel--photo-gallery .carousel__controls {
        display: none;
    }

    .carousel--photo-gallery .swiper-wrapper {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: 20px;
    }

    @media (1850px <= width) {

        .carousel--photo-gallery .swiper-wrapper {
            gap: 24px;
        }
    }
}



.carousel--video-gallery {

}

@media (740px <= width) {

    .carousel--video-gallery .carousel__controls {
        display: none;
    }

    .carousel--video-gallery .swiper-wrapper {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 20px;
    }

    @media (1850px <= width) {

        .carousel--video-gallery .swiper-wrapper {
            gap: 24px;
        }
    }
}




/* Глобальные стили для всех каруселей */

.swiper-button-next,
.swiper-button-prev {
    user-select: none;
}




/*@media (width < 740px) {*/

/*    .swiper--skin-basic {*/

/*    }*/
/*        .swiper--skin-basic .swiper-slide:not(:first-child) {*/
/*            display: none;*/
/*        }*/

/*        .swiper--skin-basic.swiper-initialized .swiper-slide {*/
/*            display: block;*/
/*        }*/
/*}*/





/*@media (740px <= width) {*/

/*    .swiper--skin-basic .swiper-controls {*/
/*        display: none;*/
/*    }*/
/*}*/





/* На смартфонах одинаковы */

@media (width < 740px) {

    .carousel {

    }
        .carousel__widget {

        }
            .carousel__widget .swiper {
                /* Если оставить overflow: hidden по дефолту, то получается странный эффект
                   когда карусель уходит не в край экрана, а в край контейнера. Отменяем это поведение.
                   overflow: hidden; возвращается на уровне .page, уже за пределами контейнера.
                */
                overflow: visible;
            }

        .carousel__controls {
            margin-bottom: -16px; /* Потому что нижний паддинг у кнопок */
            display: flex;
            align-items: center;
            justify-content: center;
        }
            .carousel__button {
                width: 49px;
                height: 49px;
                background-color: transparent;
                background-size: 27px 17px;
                background-repeat: no-repeat;
                background-position: center center;
                border: none;
                text-indent: 200%;
                white-space: nowrap;
                overflow: hidden;
                cursor: pointer;
            }

            .carousel__button:hover {

            }

            .carousel__button.swiper-button-disabled,
            .carousel__button.swiper-button-disabled:hover {
                opacity: 50%;
                cursor: default;
                user-select: none;
            }

            .carousel__button--prev {
                background-image: url("../vectors/swiper-slide-mobile-left.svg");
            }

            .carousel__button--next {
                background-image: url("../vectors/swiper-slide-mobile-right.svg");
            }


            .stories--landing .carousel__button--prev {
                background-image: url("../vectors/swiper-slide-mobile-left-stories.svg");
            }

            .stories--landing .carousel__button--next {
                background-image: url("../vectors/swiper-slide-mobile-right-stories.svg");
            }


            .carousel__pagination {
                width: auto !important; /* Конфликт со стилями слайдера */
                font-size: 15px;
                line-height: 20px;
                user-select: none; /* При клике по стрелочкам иногда текст выделяется */
            }
}



/* Skin Slider */

.carousel--css-skin-slider {

}

@media (740px <= width) {

    .carousel--css-skin-slider {
        position: relative;
        padding-left: 104px;
        padding-right: 104px;
    }
        .carousel--css-skin-slider .carousel__widget {
            border-radius: var(--slider-rounding); /* Нужно обрезать углы ровно так же как и у самих слайдов,
                                                      чтобы во время перехода между слайдами, они не станоивлись
                                                      прямыми, так как картинка сместилась и её border-radius
                                                      уже не видно. Можно закомментировать эту строчку и посмотреть. */
            overflow: hidden;
        }

        .carousel--css-skin-slider .carousel__controls {
            margin-top: 20px;
        }
            .carousel--css-skin-slider .carousel__button {
                position: absolute;
                top: 0;
                bottom: 56px; /* Высота пагинатора */
                display: flex;
                align-items: center;
                justify-content: center;
                width: 92px;
                border: none;
                padding: 0;
                background-color: transparent;
                background-size: 28px 36px;
                background-repeat: no-repeat;
                background-position: center center;
                border-radius: var(--slider-rounding);
                cursor: pointer;
                text-indent: 200%;
                white-space: nowrap;
                overflow: hidden;
                transition: background-color var(--transition-hover);
            }

            .carousel--css-skin-slider .carousel__button--prev {
                background-image: url("../vectors/swiper-slide-desktop-left.svg");
                left: 0;
            }

            .carousel--css-skin-slider .carousel__button--next {
                background-image: url("../vectors/swiper-slide-desktop-right.svg");
                right: 0;
            }

            .carousel--css-skin-slider .carousel__button:hover {
                background-color: rgb(255 255 255 / 5%);
            }

            .carousel--css-skin-slider .carousel__button.swiper-button-disabled,
            .carousel--css-skin-slider .carousel__button.swiper-button-disabled:hover {
                opacity: 50%;
                background-color: transparent;
                cursor: default;
                user-select: none;
            }

            .carousel--css-skin-slider .carousel__pagination {
                z-index: 2; /* выше чем .swiper */
                width: fit-content;
                margin-left: auto;
                margin-right: auto;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0;
            }
                .carousel--css-skin-slider .carousel__bullet {
                    display: flex;
                    align-items: center;
                    width: 36px;
                    height: 36px;
                    padding-left: 6px;
                    padding-right: 6px;
                    margin: 0 !important; /* конфликт со стилями swiper */
                    background-color: transparent; /* конфликт со стилями swiper */
                    border-radius: 4px;
                    opacity: 100%;
                    cursor: pointer;
                }

                .carousel--css-skin-slider .carousel__bullet:hover {
                    background-color: rgb(255 255 255 / 10%);
                }

                .carousel--css-skin-slider .carousel__bullet--current {
                    cursor: default;
                }

                .carousel--css-skin-slider .carousel__bullet--current:hover {
                    background-color: transparent;
                }
                    .carousel--css-skin-slider .carousel__bullet::after {
                        content: "";
                        display: block;
                        width: 100%;
                        height: 2px;
                        border-radius: 1px;
                        background-color: #F8F0E5;
                    }

                    .carousel--css-skin-slider .carousel__bullet--current::after {
                        background-color: #E4BB6B;
                    }


    @media (1850px <= width) {

        .carousel--css-skin-slider {
            /*position: relative;*/
            padding-left: 136px;
            padding-right: 136px;
        }
            .carousel--css-skin-slider .carousel__widget {

            }

            .carousel--css-skin-slider .carousel__controls {
                margin-top: 24px;
            }
                .carousel--css-skin-slider .carousel__button {
                    /*position: absolute;*/
                    /*top: 0;*/
                    bottom: 82px; /* Высота пагинатора */
                    /*display: flex;*/
                    /*align-items: center;*/
                    /*justify-content: center;*/
                    width: 120px;
                    /*border: none;*/
                    /*padding: 0;*/
                    /*background-color: transparent;*/
                    background-size: 40px 52px;
                    /*border-radius: var(--slider-rounding);*/
                    /*cursor: pointer;*/
                    /*transition: background-color var(--transition-hover);*/
                }

                .carousel--css-skin-slider .carousel__button:hover {
                    /*background-color: rgb(255 255 255 / 5%);*/
                }

                .carousel--css-skin-slider .carousel__button.swiper-button-disabled,
                .carousel--css-skin-slider .carousel__button.swiper-button-disabled:hover {
                    /*opacity: 50%;*/
                    /*background-color: transparent;*/
                    /*cursor: default;*/
                    /*user-select: none;*/
                }

                .carousel--css-skin-slider .carousel__button--prev {
                    /*left: 0;*/
                }

                .carousel--css-skin-slider .carousel__button--next {
                    /*right: 0;*/
                }

                .carousel--css-skin-slider .carousel__pagination {
                    /*z-index: 2; !* выше чем .swiper *!*/
                    /*width: fit-content;*/
                    /*margin-left: auto;*/
                    /*margin-right: auto;*/
                    /*display: flex;*/
                    /*align-items: center;*/
                    /*justify-content: center;*/
                    /*gap: 0;*/
                }
                    .carousel--css-skin-slider .carousel__bullet {
                        /*display: flex;*/
                        /*align-items: center;*/
                        width: 58px;
                        height: 58px;
                        padding-left: 8px;
                        padding-right: 8px;
                        /*margin: 0 !important; !* конфликт со стилями swiper *!*/
                        /*background-color: transparent; !* конфликт со стилями swiper *!*/
                        border-radius: 5px;
                        /*opacity: 100%;*/
                    }

                    .carousel--css-skin-slider .carousel__bullet:hover {
                        /*background-color: rgb(255 255 255 / 10%);*/
                    }
                        .carousel--css-skin-slider .carousel__bullet::after {
                            /*content: "";*/
                            /*display: block;*/
                            /*width: 100%;*/
                            height: 4px;
                            border-radius: 2px;
                            /*background-color: #F8F0E5;*/
                        }

                        .carousel--css-skin-slider .carousel__bullet--current::after {
                            /*background-color: #E4BB6B;*/
                        }
    }
}



/* Skin Intro */

.carousel--css-skin-intro {
    position: relative;
}
    .carousel--css-skin-intro .carousel__widget {

    }

    .carousel--css-skin-intro .carousel__controls {
        margin: 0;
    }
        .carousel--css-skin-intro .carousel__pagination {
            position: absolute;
            z-index: 2; /* выше чем .swiper */
            bottom: 0;
            left: 0;
            right: 0;
            width: fit-content;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0;
        }
            .carousel--css-skin-intro .carousel__bullet {
                display: flex;
                align-items: center;
                width: 56px;
                height: 36px;
                padding-left: 8px;
                padding-right: 8px;
                margin: 0 !important; /* конфликт со стилями swiper */
                background-color: transparent; /* конфликт со стилями swiper */
                border-radius: 4px;
                opacity: 100%;
                cursor: pointer;
            }
                .carousel--css-skin-intro .carousel__bullet::after {
                    content: "";
                    display: block;
                    width: 100%;
                    height: 4px;
                    border-radius: 2px;
                    background-color: #303F64;
                }

                .carousel--css-skin-intro .carousel__bullet--current::after {
                    background-color: #E4BB6B;
                }

        .carousel--css-skin-intro .carousel__bar {
            width: 100%; /* на мобилках конфликт с флексом */
            background-color: #303F64;
        }
            .carousel--css-skin-intro .carousel__progress {
                width: 1px;
                height: 6px;
                background-color: #E4BB6B;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
            }

@media (1850px <= width) {

    .carousel--css-skin-intro {

    }
        .carousel--css-skin-intro .carousel__widget {

        }

    .carousel--css-skin-intro .carousel__controls {

    }
        .carousel--css-skin-intro .carousel__bar {

        }
            .carousel--css-skin-intro .carousel__progress {
                height: 10px;
            }
}


@media (width < 740px) {

    .carousel--css-skin-intro {

    }
        .carousel--css-skin-intro .carousel__widget {

        }

    .carousel--css-skin-intro .carousel__controls {

    }
        .carousel--css-skin-intro .carousel__bar {

        }
            .carousel--css-skin-intro .carousel__progress {
                height: 4px;
            }
}



/* Skin Stories */

@media (740px <= width) {

    .carousel--css-skin-stories {
        position: relative;
    }
        .carousel--css-skin-stories .carousel__widget {

        }
            .carousel--css-skin-stories .swiper {
                padding-top: 23px;
                padding-bottom: 23px;
                overflow: visible;
            }
                .carousel--css-skin-stories .swiper-slide {
                    width: 300px;
                    opacity: 40%;
                    transition: opacity var(--transition-hover);
                }

                .carousel--css-skin-stories .swiper-slide-active {
                    opacity: 100%;
                }
                    .carousel--css-skin-stories .story__scale {
                        transition: transform 1200ms var(--ease-out-quint);
                    }

                    .carousel--css-skin-stories .swiper-slide-active .story__scale {
                        transform: scale(110%);
                    }


        .carousel--css-skin-stories .carousel__bar {
            width: 100%; /* на мобилках конфликт с флексом */
            background-color: #303F64;
        }
            .carousel--css-skin-stories .carousel__progress {
                width: 1px;
                height: 6px;
                background-color: #E4BB6B;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
            }

        .carousel--css-skin-stories .carousel__button {
            position: absolute;
            z-index: 10;
            top: 0;
            bottom: 0;
            width: calc(50% - 165px);
            border: none;
            padding: 0;
            background-color: transparent;
            cursor: pointer;
            text-indent: 200%;
            white-space: nowrap;
            overflow: hidden;
        }
            .carousel--css-skin-stories .carousel__button::after {
                content: "";
                position: absolute;
                top: 50%;
                margin-top: -30px;
                width: 60px;
                height: 60px;
                background-size: 44px 44px;
                background-repeat: no-repeat;
                background-position: center center;
                border-radius: 50%;
                transition: background-color var(--transition-hover);
            }

            .carousel--css-skin-stories .carousel__button:hover::after {
                background-color: #E4BB6B;
            }

            .carousel--css-skin-stories .carousel__button--prev {
                left: 0;
            }

            .carousel--css-skin-stories .carousel__button--next {
                right: 0;
            }
                .carousel--css-skin-stories .carousel__button--prev::after {
                    left: 10%;
                    background-image: url("../vectors/stories-prev.svg");
                }

                .carousel--css-skin-stories .carousel__button--next::after {
                    right: 10%;
                    background-image: url("../vectors/stories-next.svg");
                }


    @media (1850px <= width) {

        .carousel--css-skin-stories {
            /*position: relative;*/
        }
            .carousel--css-skin-stories .carousel__widget {

            }
                .carousel--css-skin-stories .swiper {
                    padding-top: 30px;
                    padding-bottom: 30px;
                    /*overflow: visible;*/
                }
                    .carousel--css-skin-stories .swiper-slide {
                        width: 400px;
                        /*opacity: 40%;*/
                        /*transition: opacity var(--transition-hover);*/
                    }

                    .carousel--css-skin-stories .swiper-slide-active {
                        /*opacity: 100%;*/
                    }
                        .carousel--css-skin-stories .story__scale {
                            /*transition: transform 1200ms var(--ease-out-quint);*/
                        }

                        .carousel--css-skin-stories .swiper-slide-active .story__scale {
                            /*transform: scale(110%);*/
                        }


            .carousel--css-skin-stories .carousel__bar {
                /*width: 100%; !* на мобилках конфликт с флексом *!*/
                /*background-color: #303F64;*/
            }
                .carousel--css-skin-stories .carousel__progress {
                    /*width: 1px;*/
                    /*height: 6px;*/
                    /*background-color: #E4BB6B;*/
                    /*border-top-right-radius: 5px;*/
                    /*border-bottom-right-radius: 5px;*/
                }

            .carousel--css-skin-stories .carousel__button {
                /*position: absolute;*/
                /*z-index: 10;*/
                /*top: 0;*/
                /*bottom: 0;*/
                width: calc(50% - 220px);
                /*border: none;*/
                /*padding: 0;*/
                /*cursor: pointer;*/
                /*text-indent: 200%;*/
                /*white-space: nowrap;*/
                /*overflow: hidden;*/
            }
                .carousel--css-skin-stories .carousel__button::after {
                    /*content: "";*/
                    /*position: absolute;*/
                    /*top: 50%;*/
                    margin-top: -40px;
                    width: 80px;
                    height: 80px;
                    background-size: 60px 60px;
                    /*background-repeat: no-repeat;*/
                    /*background-position: center center;*/
                    /*border-radius: 50%;*/
                    /*transition: background-color var(--transition-hover);*/
                }

                .carousel--css-skin-stories .carousel__button:hover::after {
                    /*background-color: #E4BB6B;*/
                }

                .carousel--css-skin-stories .carousel__button--prev {
                    /*left: 0;*/
                }

                .carousel--css-skin-stories .carousel__button--next {
                    /*right: 0;*/
                }
                    .carousel--css-skin-stories .carousel__button--prev::after {
                        /*left: 10%;*/
                        /*background-image: url("../vectors/stories-prev.svg");*/
                    }

                    .carousel--css-skin-stories .carousel__button--next::after {
                        /*right: 10%;*/
                        /*background-image: url("../vectors/stories-next.svg");*/
                    }
    }
}


@media (width < 740px) {

    .carousel--css-skin-stories {

    }
        .carousel--css-skin-stories .carousel__widget {

        }

    .carousel--css-skin-stories .carousel__controls {

    }
        .carousel--css-skin-stories .carousel__bar {

        }
}


/* Skin Feedback */

@media (740px <= width) {

    .carousel--css-skin-feedback {
        position: relative;
    }
        .carousel--css-skin-feedback .carousel__widget {

        }
            .carousel--css-skin-feedback .swiper-autoheight .swiper-wrapper {
                align-items: stretch;
            }

        .carousel--css-skin-feedback .carousel__controls {
            margin: 23px 0 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }
            .carousel--css-skin-feedback .carousel__pagination {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0;
                width: auto;
            }
                .carousel--css-skin-feedback .carousel__bullet {
                    display: flex;
                    align-items: center;
                    width: 30px;
                    height: 30px;
                    padding: 9px;
                    margin: 0 !important; /* конфликт со стилями swiper */
                    background-color: transparent; /* конфликт со стилями swiper */
                    opacity: 100%;
                    cursor: pointer;
                }
                    .carousel--css-skin-feedback .carousel__bullet::after {
                        content: "";
                        display: block;
                        width: 12px;
                        height: 12px;
                        border-radius: 50%;
                        background-color: transparent;
                        box-shadow: inset 0 0 0 1px #E4BB6B;
                    }

                    .carousel--css-skin-feedback .carousel__bullet:hover::after {
                        background-color: rgb(255 255 255 / 10%);
                    }

                    .carousel--css-skin-feedback .carousel__bullet--current::after,
                    .carousel--css-skin-feedback .carousel__bullet--current:hover::after {
                        background-color: #E4BB6B;
                    }

            .carousel--css-skin-feedback .carousel__bar {
                width: 100%; /* на мобилках конфликт с флексом */
                background-color: #303F64;
            }
                .carousel--css-skin-feedback .carousel__progress {
                    width: 1px;
                    height: 6px;
                    background-color: #E4BB6B;
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;
                }

            .carousel--css-skin-feedback .carousel__button {
                width: 49px;
                height: 49px;
                background-color: transparent;
                background-size: 27px 17px;
                background-repeat: no-repeat;
                background-position: center center;
                border: none;
                text-indent: 200%;
                white-space: nowrap;
                overflow: hidden;
                cursor: pointer;
            }

            .carousel--css-skin-feedback .carousel__button:hover {

            }

            .carousel--css-skin-feedback .carousel__button.swiper-button-disabled,
            .carousel--css-skin-feedback .carousel__button.swiper-button-disabled:hover {
                opacity: 50%;
                cursor: default;
                user-select: none;
            }

            .carousel--css-skin-feedback .carousel__button--prev {
                background-image: url("../vectors/swiper-slide-mobile-left.svg");
            }

            .carousel--css-skin-feedback .carousel__button--next {
                background-image: url("../vectors/swiper-slide-mobile-right.svg");
            }


    @media (1850px <= width) {

        .carousel--css-skin-feedback {

        }
            .carousel--css-skin-feedback .carousel__widget {

            }

        .carousel--css-skin-feedback .carousel__controls {

        }
            .carousel--css-skin-feedback .carousel__bar {

            }
                .carousel--css-skin-feedback .carousel__progress {
                    height: 10px;
                }
    }
}


@media (width < 740px) {

    .carousel--css-skin-feedback {

    }
        .carousel--css-skin-feedback .carousel__widget {

        }

    .carousel--css-skin-feedback .carousel__controls {

    }
        .carousel--css-skin-feedback .carousel__bar {

        }
            .carousel--css-skin-feedback .carousel__progress {
                height: 4px;
            }
}



/* Skin Participation */

@media (740px <= width) {

    .carousel--css-skin-participation {

    }
        .carousel--css-skin-participation .carousel__widget {

        }
            .carousel--css-skin-participation .swiper {
                overflow: visible;
            }

        .carousel--css-skin-participation .carousel__controls {
            margin: 12px 0 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }
            .carousel--css-skin-participation .carousel__pagination {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0;
                width: auto;
            }
                .carousel--css-skin-participation .carousel__bullet {
                    display: flex;
                    align-items: center;
                    width: 30px;
                    height: 30px;
                    padding: 9px;
                    margin: 0 !important; /* конфликт со стилями swiper */
                    background-color: transparent; /* конфликт со стилями swiper */
                    opacity: 100%;
                    cursor: pointer;
                }
                    .carousel--css-skin-participation .carousel__bullet::after {
                        content: "";
                        display: block;
                        width: 12px;
                        height: 12px;
                        border-radius: 50%;
                        background-color: transparent;
                        box-shadow: inset 0 0 0 1px #E4BB6B;
                    }

                    .carousel--css-skin-participation .carousel__bullet:hover::after {
                        background-color: rgb(255 255 255 / 10%);
                    }

                    .carousel--css-skin-participation .carousel__bullet--current::after,
                    .carousel--css-skin-participation .carousel__bullet--current:hover::after {
                        background-color: #E4BB6B;
                    }


            .carousel--css-skin-participation .carousel__button {
                width: 49px;
                height: 49px;
                background-color: transparent;
                background-size: 27px 17px;
                background-repeat: no-repeat;
                background-position: center center;
                border: none;
                text-indent: 200%;
                white-space: nowrap;
                overflow: hidden;
                cursor: pointer;
            }

            .carousel--css-skin-participation .carousel__button:hover {

            }

            .carousel--css-skin-participation .carousel__button.swiper-button-disabled,
            .carousel--css-skin-participation .carousel__button.swiper-button-disabled:hover {
                opacity: 50%;
                cursor: default;
                user-select: none;
            }

            .carousel--css-skin-participation .carousel__button--prev {
                background-image: url("../vectors/swiper-slide-mobile-left.svg");
            }

            .carousel--css-skin-participation .carousel__button--next {
                background-image: url("../vectors/swiper-slide-mobile-right.svg");
            }


    @media (1850px <= width) {

        .carousel--css-skin-participation {

        }
            .carousel--css-skin-participation .carousel__widget {

            }

        .carousel--css-skin-participation .carousel__controls {
            margin-top: 23px;
        }
    }
}


@media (width < 740px) {

    .carousel--css-skin-participation {

    }
        .carousel--css-skin-participation .carousel__widget {

        }
            .carousel--css-skin-participation .swiper {

            }
                .carousel--css-skin-participation .swiper-slide {
                    margin-top: 24px !important;
                }

                .carousel--css-skin-participation .swiper-slide:first-child {
                    margin-top: 0;
                }

    .carousel--css-skin-participation .carousel__controls {

    }
}


