.chapter {
    padding-top: 60px;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    align-items: center;
    gap: 20px;
}
    .chapter__preview {

    }

    .chapter__preview--stretched:first-child {
        margin-left: -80px;
    }

    .chapter__preview--stretched:last-child {
        margin-right: -80px;
    }

    .chapter__preview.slide--to-right:not(.slide--animated) {
        transform: rotate(-30deg) translate(-300px, 0);
    }

    .chapter__preview.slide--to-left:not(.slide--animated) {
        transform: rotate(30deg) translate(300px, 0);
    }

        .chapter__image {
            width: 100%;
            height: auto;
            vertical-align: top;
        }

    .chapter__content {

    }
        .chapter__text {

        }

        .chapter__quote {
            margin-top: 40px;
            margin-left: 20px;
        }

        .chapter__quote--pushed {
            margin-left: 80px;
        }



@media (1850px <= width) {

    .chapter {
        padding-top: 80px;
        gap: 28px;
    }
        .chapter__preview {

        }

        .chapter__preview--stretched:first-child {
            margin-left: -160px;
        }

        .chapter__preview--stretched:last-child {
            margin-right: -160px;
        }

        .chapter__preview.slide--to-right:not(.slide--animated) {
            transform: rotate(-30deg) translate(-400px, 0);
        }

        .chapter__preview.slide--to-left:not(.slide--animated) {
            transform: rotate(30deg) translate(400px, 0);
        }
            .chapter__image {

            }

        .chapter__content {

        }
            .chapter__text {

            }

            .chapter__quote {
                margin-top: 80px;
                margin-left: 32px;
            }

            .chapter__quote--pushed {
                margin-left: 130px;
            }
}



@media (width < 740px) {

    .chapter {
        display: block;
    }
        .chapter__preview {

        }

        .chapter__preview--stretched {
            margin-left: 0;
        }
            .chapter__image {

            }

        .chapter__content {
            margin-top: 38px;
        }
            .chapter__text {

            }

            .chapter__quote {
                margin-top: 36px;
                margin-left: 0;
            }

            .chapter__quote--pushed {
                margin-left: 0;
            }
}



.chapter--full-width {
    border-top: 14px solid transparent;
    display: block;
}
    .chapter--full-width .chapter__preview {

    }
        .chapter--full-width .chapter__image {

        }

    .chapter--full-width .chapter__content {
        margin-top: 30px;
        margin-left: 295px;
        margin-right: 97px;
    }
        .chapter--full-width .chapter__text {

        }

        .chapter--full-width .chapter__quote {

        }



@media (1850px <= width) {

    .chapter--full-width {
        border-top-width: 20px;
    }
        .chapter--full-width .chapter__preview {

        }
            .chapter--full-width .chapter__image {

            }

        .chapter--full-width .chapter__content {
            margin-top: 40px;
            margin-left: 394px;
            margin-right: 130px;
        }
            .chapter--full-width .chapter__text {

            }

            .chapter--full-width .chapter__quote {

            }
}



@media (width < 740px) {

    .chapter--full-width {
        /*border-top: 14px solid transparent;*/
        /*display: block;*/
    }
        .chapter--full-width .chapter__preview {

        }
            .chapter--full-width .chapter__image {

            }

        .chapter--full-width .chapter__content {
            /*margin-top: 30px;*/
            margin-left: 0;
            margin-right: 0;
        }
            .chapter--full-width .chapter__text {

            }

            .chapter--full-width .chapter__quote {

            }
}



