.modal-pic {
    display: none;
    z-index: 100;
    height: 200px;
    width: 300px;
    cursor: -webkit-zoom-in;
    cursor: zoom-in;
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-pic--picture {
    height: 100%;
}



@media screen and (max-width: 1000px) {
    .checkout__map {
        position: relative;
        overflow: auto;
        max-height: calc(100% - 210px);
    }
}

.checkout__map-places-inner {
    max-width: 1080px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-bottom: 20px;
}

.checkout__map-nav-wrapper {
    position: fixed;
    left: 14px;
    z-index: 2000;
    display: none;
}

@media screen and (max-width: 1000px) {
    .checkout__map-nav-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}

.checkout__map-nav {
    position: relative;
    display: inline-block;
    width: 64px;
    height: 64px;
    margin-right: 6px;
    background: url("data:image/svg+xml,%3Csvg width='64' height='63' viewBox='0 0 64 63' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cellipse cx='32' cy='31.5' rx='32' ry='31.5' fill='%23FFC700'/%3E%3Crect x='13' y='13.7812' width='10' height='9.84375' fill='%23061721'/%3E%3Crect x='26' y='13.7812' width='10' height='9.84375' fill='%23061721'/%3E%3Crect x='40' y='13.7812' width='10' height='9.84375' fill='%23061721'/%3E%3Crect x='13' y='26.5781' width='10' height='9.84375' fill='%23061721'/%3E%3Crect x='26' y='26.5781' width='10' height='9.84375' fill='%23061721'/%3E%3Crect x='40' y='26.5781' width='10' height='9.84375' fill='%23061721'/%3E%3Crect x='13' y='39.375' width='10' height='9.84375' fill='%23061721'/%3E%3Crect x='26' y='39.375' width='10' height='9.84375' fill='%23061721'/%3E%3Crect x='40' y='39.375' width='10' height='9.84375' fill='%23061721'/%3E%3C/svg%3E%0A");
    border-radius: 50%;
}

.checkout__map-nav-point {
    position: absolute;
    width: 14px;
    height: 14px;
    background: #e34242;
    border-radius: 50%;
    -webkit-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
}

.checkout__map-nav-label {
    padding: 8px 13px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 11px;
    background: rgba(255, 199, 0, 0.9);
    border-radius: 52px;
}

.checkout__map {
    text-align: center;
}

.checkout__map-places {
    overflow: hidden;
}

@media screen and (max-width: 1200px) {
    .services__item-descr {
        font-size: 16px;
        line-height: 30px;
    }
    .checkout__map-places {
        overflow: auto;
    }
}

.checkout__map-places-inner {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0 auto;
}

.checkout__map-scene {
    position: relative;
    text-align: center;
    z-index: 1;
    background: url("data:image/svg+xml,%3Csvg width='540' height='21' viewBox='0 0 540 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.6' d='M538.32 2.5602C538.32 2.5602 404.24 19.2002 270.16 19.2002C136.08 19.2002 2.00002 2.5602 2.00002 2.5602' stroke='%23D0021B' stroke-width='3' stroke-linecap='square'/%3E%3C/svg%3E%0A")
            center 30px/500px no-repeat;
    padding-bottom: 50px;
    margin-bottom: 10px;
}

.checkout__map-scene-title {
    font-size: 20px;
    text-transform: uppercase;
}

.checkout__map-title {
    display: block;
    width: 100%;
    margin-bottom: 3px;
    text-align: center;
    font-family: Verdana;
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
}

.checkout__map-first-bottom-box .checkout__map-title,
.checkout__map-first-top-c-box .checkout__map-title {
    margin-top: 10px;
}

.checkout__map-floor {
    display: block;
    width: 100%;
    text-align: center;
    font-family: Verdana;
    font-size: 9px;
    line-height: 11px;
    color: grey;
    opacity: 0.6;
}

.checkout__map-subtitle {
    display: block;
    margin-bottom: 9px;
    font-family: Roboto;
    font-size: 12px;
    line-height: 15px;
    color: grey;
    opacity: 0.6;
}

.checkout__map-subtitle--tal {
    text-align: left;
}

.checkout__map-subtitle--tar {
    text-align: right;
}

.checkout__map-subtitle--tac {
    text-align: center;
    margin-top: 12px;
}

.checkout__map-row {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.checkout__map-places-box--jc-sb,
.checkout__map-row.checkout__map-second-c-row {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.checkout__map-places-box--jc-sb,
.checkout__map-second-c-box {
    width: 100%;
}

.checkout__map-first-bottom-row {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.checkout__map-number {
    font-family: Verdana;
    font-size: 7px;
    line-height: 8px;
    letter-spacing: 1.2px;
    color: grey;
}

.checkout__map-number--mr {
    margin-right: 6px;
}

.checkout__map-center .checkout__map-number--mr {
    margin-right: 16px;
    text-align: center;
    width: 10px;
}

.checkout__map-number--ml {
    margin-left: 6px;
}

.checkout__map-center .checkout__map-number--ml {
    margin-left: 16px;
    text-align: center;
    width: 10px;
}

.checkout__map-places-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.checkout__map-places-box--col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.checkout__map-place {
    width: 18px;
    height: 17px;
    margin-bottom: 1px;
    margin-right: 1px;
    border: 1px solid #6d9ee1;
    border-radius: 5px;
}

.checkout__map-place-fake {
    visibility: hidden;
    pointer-events: none;
}

.checkout__map-place--active {
    background: url("data:image/svg+xml,%3Csvg width='12' height='13' viewBox='0 0 12 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.2156 4.72241L4.72461 11.2134L0.948933 7.4377' stroke='white' stroke-width='1.2'/%3E%3C/svg%3E%0A")
            center -1px no-repeat,
        #7ed321;
}

.checkout__map-place--special {
    background: url("data:image/svg+xml,%3Csvg width='9' height='10' viewBox='0 0 9 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.875 7.82812H7.34375V6.39062C7.34375 5.87369 6.92319 5.45312 6.40625 5.45312H5.26711C5.09491 5.45312 4.95472 5.31302 4.95461 5.14081L4.95327 2.8157C5.30878 2.68238 5.5625 2.33902 5.5625 1.9375C5.5625 1.42056 5.14194 1 4.625 1C4.10806 1 3.6875 1.42056 3.6875 1.9375C3.6875 2.30627 3.90153 2.62598 4.21189 2.77897L3.19208 3.61805C3.11994 3.67741 3.07812 3.76595 3.07812 3.85938V5.32812C3.07812 5.50072 3.21803 5.64062 3.39062 5.64062C3.56322 5.64062 3.70312 5.50072 3.70312 5.32812V4.00694L4.32864 3.49227L4.32961 5.14117C4.32991 5.6578 4.75047 6.07812 5.26711 6.07812H6.40625C6.57856 6.07812 6.71875 6.21831 6.71875 6.39062V8.14062C6.71875 8.31322 6.85866 8.45312 7.03125 8.45312H7.875C8.04759 8.45312 8.1875 8.31322 8.1875 8.14062C8.1875 7.96803 8.04759 7.82812 7.875 7.82812ZM4.625 2.25C4.45269 2.25 4.3125 2.10981 4.3125 1.9375C4.3125 1.76519 4.45269 1.625 4.625 1.625C4.79731 1.625 4.9375 1.76519 4.9375 1.9375C4.9375 2.10981 4.79731 2.25 4.625 2.25Z' fill='%23808080' stroke='%23808080' stroke-width='0.2'/%3E%3Cpath d='M3.51562 8.37503C2.47312 8.37503 1.625 7.52691 1.625 6.48441C1.625 5.83555 1.95362 5.26211 2.45312 4.92153V4.20447C1.59555 4.60569 1 5.47676 1 6.48441C1 7.87151 2.12852 9.00003 3.51562 9.00003C4.82903 9.00003 5.91041 7.98822 6.02164 6.70316H5.39353C5.28473 7.64297 4.48413 8.37503 3.51562 8.37503Z' fill='%23808080' stroke='%23808080' stroke-width='0.2'/%3E%3C/svg%3E%0A")
        center/13px no-repeat;
}

.checkout__map-place--special.checkout__map-place--active {
    background: url("data:image/svg+xml,%3Csvg width='9' height='10' viewBox='0 0 9 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.875 7.82812H7.34375V6.39062C7.34375 5.87369 6.92319 5.45312 6.40625 5.45312H5.26711C5.09491 5.45312 4.95472 5.31302 4.95461 5.14081L4.95327 2.8157C5.30878 2.68238 5.5625 2.33902 5.5625 1.9375C5.5625 1.42056 5.14194 1 4.625 1C4.10806 1 3.6875 1.42056 3.6875 1.9375C3.6875 2.30627 3.90153 2.62598 4.21189 2.77897L3.19208 3.61805C3.11994 3.67741 3.07812 3.76595 3.07812 3.85938V5.32812C3.07812 5.50072 3.21803 5.64062 3.39062 5.64062C3.56322 5.64062 3.70312 5.50072 3.70312 5.32812V4.00694L4.32864 3.49227L4.32961 5.14117C4.32991 5.6578 4.75047 6.07812 5.26711 6.07812H6.40625C6.57856 6.07812 6.71875 6.21831 6.71875 6.39062V8.14062C6.71875 8.31322 6.85866 8.45312 7.03125 8.45312H7.875C8.04759 8.45312 8.1875 8.31322 8.1875 8.14062C8.1875 7.96803 8.04759 7.82812 7.875 7.82812ZM4.625 2.25C4.45269 2.25 4.3125 2.10981 4.3125 1.9375C4.3125 1.76519 4.45269 1.625 4.625 1.625C4.79731 1.625 4.9375 1.76519 4.9375 1.9375C4.9375 2.10981 4.79731 2.25 4.625 2.25Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3Cpath d='M3.51562 8.37503C2.47312 8.37503 1.625 7.52691 1.625 6.48441C1.625 5.83555 1.95362 5.26211 2.45312 4.92153V4.20447C1.59555 4.60569 1 5.47676 1 6.48441C1 7.87151 2.12852 9.00003 3.51562 9.00003C4.82903 9.00003 5.91041 7.98822 6.02164 6.70316H5.39353C5.28473 7.64297 4.48413 8.37503 3.51562 8.37503Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3Crect x='4' y='1.43103' width='1' height='1' fill='white'/%3E%3C/svg%3E%0A")
            center/13px no-repeat,
        #7ed321;
}

.checkout__map-places-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

@media screen and (min-width: 1240px) {
    .checkout__map-place--hover:hover {
        border-color: #7ed321;
    }
    .checkout__map-place--hover.checkout__map-place--active:hover {
        border-color: #ff5000;
        background: url("data:image/svg+xml,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.11382 1.72711L0.96795 9.87298' stroke='white' stroke-width='1.2'/%3E%3Cpath d='M0.96821 1.72711L9.11408 9.87298' stroke='white' stroke-width='1.2'/%3E%3C/svg%3E%0A")
                3px center no-repeat,
            #ff5000;
    }
    .checkout__map-place--special.checkout__map-place--active:hover {
        background: url("data:image/svg+xml,%3Csvg width='9' height='10' viewBox='0 0 9 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.875 7.82812H7.34375V6.39062C7.34375 5.87369 6.92319 5.45312 6.40625 5.45312H5.26711C5.09491 5.45312 4.95472 5.31302 4.95461 5.14081L4.95327 2.8157C5.30878 2.68238 5.5625 2.33902 5.5625 1.9375C5.5625 1.42056 5.14194 1 4.625 1C4.10806 1 3.6875 1.42056 3.6875 1.9375C3.6875 2.30627 3.90153 2.62598 4.21189 2.77897L3.19208 3.61805C3.11994 3.67741 3.07812 3.76595 3.07812 3.85938V5.32812C3.07812 5.50072 3.21803 5.64062 3.39062 5.64062C3.56322 5.64062 3.70312 5.50072 3.70312 5.32812V4.00694L4.32864 3.49227L4.32961 5.14117C4.32991 5.6578 4.75047 6.07812 5.26711 6.07812H6.40625C6.57856 6.07812 6.71875 6.21831 6.71875 6.39062V8.14062C6.71875 8.31322 6.85866 8.45312 7.03125 8.45312H7.875C8.04759 8.45312 8.1875 8.31322 8.1875 8.14062C8.1875 7.96803 8.04759 7.82812 7.875 7.82812ZM4.625 2.25C4.45269 2.25 4.3125 2.10981 4.3125 1.9375C4.3125 1.76519 4.45269 1.625 4.625 1.625C4.79731 1.625 4.9375 1.76519 4.9375 1.9375C4.9375 2.10981 4.79731 2.25 4.625 2.25Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3Cpath d='M3.51562 8.37503C2.47312 8.37503 1.625 7.52691 1.625 6.48441C1.625 5.83555 1.95362 5.26211 2.45312 4.92153V4.20447C1.59555 4.60569 1 5.47676 1 6.48441C1 7.87151 2.12852 9.00003 3.51562 9.00003C4.82903 9.00003 5.91041 7.98822 6.02164 6.70316H5.39353C5.28473 7.64297 4.48413 8.37503 3.51562 8.37503Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3Crect x='4' y='1.43103' width='1' height='1' fill='white'/%3E%3C/svg%3E%0A")
                center/13px no-repeat,
            #ff5000;
    }
}

.checkout__map-place--disabled {
    border-color: #e8e8e8;
    pointer-events: none;
}

.checkout__map-third {
    position: relative;
    height: 935px;
    padding-bottom: 10px;
}

.checkout__map-first-top,
.checkout__map-second,
.checkout__map-third {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

.checkout__map-first-top {
    margin-bottom: 33px;
    padding: 0 10px;
}

.checkout__map-first,
.checkout__map-second {
    position: absolute;
    top: -25px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    width: 960px;
    height: 850px;
    padding-top: 25px;
    -webkit-box-shadow: inset 0 1px 25px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 25px rgba(0, 0, 0, 0.2);
}

.checkout__map-second {
    padding-right: 10px;
    padding-left: 10px;
    height: 705px;
}

.checkout__map-first {
    width: 800px;
    height: 550px;
    padding-top: 50px;
}

.checkout__map-third-l,
.checkout__map-third-r {
    margin-top: 70px;
}

.checkout__map-second-l {
    margin-left: -20px;
}

.checkout__map-second-r {
    margin-right: -10px;
}

.checkout__map-second-l-row,
.checkout__map-second-r-row,
.checkout__map-third-l-row,
.checkout__map-third-r-row {
    margin-bottom: 16px;
}

.checkout__map-second-l-row,
.checkout__map-third-l-row {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.checkout__map-second-r-row,
.checkout__map-third-r-row {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.checkout__map-first-top-c-row {
    margin-bottom: 4.7px;
}

.checkout__map-places-box--col-2 {
    width: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.checkout__map-first-top-l-row + .checkout__map-first-top-l-row,
.checkout__map-first-top-r-row + .checkout__map-first-top-r-row {
    margin-top: 15px;
}

.checkout__map-first-top-l {
    padding-right: 20px;
}

.checkout__map-first-top-r {
    padding-left: 20px;
}

.checkout__map-first-top-l-row .checkout__map-places-box--col-2 {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.checkout__map-second-c,
.checkout__map-third-c {
    -ms-flex-item-align: end;
    align-self: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.checkout__map-first-top-c {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.checkout__map-third-c-box {
    margin-top: 10px;
}

.checkout__map-first-bottom-wrapper,
.checkout__map-first-top-c-wrapper,
.checkout__map-second-c-wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 10px 80px 20px;
}

.checkout__map-first-top-c-wrapper {
    padding: 0 20px;
    border: 1px solid #e0e0e0;
    border-width: 0 1px;
}

.checkout__map-first-bottom-wrapper {
    padding: 0 52px;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.checkout__map-first-bottom .checkout__map-subtitle--tac {
    position: relative;
    margin-top: 22px;
    padding-top: 6px;
}

.checkout__map-first-bottom .checkout__map-subtitle--tac::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    border-top: 1px solid #e0e0e0;
    width: 108px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
        transform: translateX(-50%);
}

.checkout__map-first-top-c-box-middle {
    margin: 0 16px;
}

.checkout__inner {
    max-width: 1180px;
    max-height: calc(100% - 80px);
    overflow: auto;
}

.checkout__summary {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

@media screen and (max-width: 1200px) {
    .checkout__inner {
        height: 100%;
        top: 0;
        left: 0;
        -webkit-transform: unset;
        -ms-transform: unset;
            transform: unset;
        max-height: unset;
    }
    .checkout__back-btn {
        width: 43px;
        height: 26px;
        top: 18px;
        left: 2px;
        background: url("data:image/svg+xml,%3Csvg width='19' height='16' viewBox='0 0 19 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19 6.66663H5.42858L10.1786 1.99999L8.14289 0L0 8L8.14285 16L10.1785 14L5.42858 9.33333H19V6.66663Z' fill='black'/%3E%3C/svg%3E%0A")
            center no-repeat;
    }
    .checkout__header {
        padding: 14px;
    }
    .checkout__spectacle-title {
        font-size: 30px;
        line-height: 35px;
    }
    .checkout__spectacle-time {
        font-size: 14px;
        line-height: 16px;
    }
    .checkout__dates {
        padding: 0 0 0 14px;
        overflow: auto;
    }
    .checkout__summary {
        padding: 0 14px;
    }
    .checkout__summary-title {
        margin-bottom: 16px;
        font-size: 24px;
        line-height: 35px;
    }
    .checkout__summary-item:nth-child(4n) {
        margin-right: 10px;
    }
    .checkout__summary-item {
        min-width: 143px;
        padding: 10px 0 7px;
        margin-right: 10px;
        margin-bottom: 0;
    }
    .checkout__summary-item-stage {
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 6px;
    }
    .checkout__summary-item-info {
        padding-bottom: 12px;
    }
    .checkout__summary-item-row {
        margin-right: 12px;
    }
    .checkout__summary-item-place,
    .checkout__summary-item-row {
        font-size: 14px;
    }
    .checkout__summary-buy-btn {
        width: 100%;
        margin-left: 0;
        font-size: 16px;
        line-height: 19px;
    }
    .checkout__summary-item-remove {
        width: 18px;
        height: 18px;
        top: -9px;
        left: unset;
        right: -5px;
        border-radius: 50%;
        opacity: 1;
        pointer-events: all;
        background-size: 40%;
    }
    .checkout__add {
        padding: 30px 14px 36px;
    }
    .checkout__add-title {
        margin-bottom: 16px;
        font-size: 20px;
        line-height: 24px;
    }
    .checkout__add-items {
        overflow: auto;
    }
    .checkout__add-item-qty {
        padding-bottom: 16px;
        margin-bottom: 5px;
    }
    .checkout__add-item-price {
        font-size: 14px;
        line-height: 16px;
    }
    .checkout__add-price {
        font-size: 20px;
        line-height: 24px;
    }
    .checkout__confirm {
        padding: 40px 14px 50px;
    }
    .checkout__confirm-fields {
        margin-bottom: 36px;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .checkout__confirm-price {
        margin-bottom: 24px;
        text-align: center;
        font-size: 24px;
        line-height: 24px;
    }
    .checkout__confirm-buy {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .checkout__confirm-buy-descr {
        max-width: 100%;
        text-align: center;
    }
    .checkout[data-state="selected"] .checkout__summary {
        padding: 12px 14px;
    }
    .checkout[data-state="buy"] .checkout__summary {
        padding: 0 14px;
    }
    .checkout[data-state="buy"] .checkout__summary-items {
        overflow: hidden;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .checkout[data-state="buy"] .checkout__summary-item:nth-child(2n),
    .checkout[data-state="buy"] .checkout__summary-item:nth-child(4n) {
        margin-right: 0;
    }
    .checkout[data-state="buy"] .checkout__summary-item {
        width: 100%;
        min-width: unset;
        max-width: calc(50% - 8px);
        margin-right: 10px;
        margin-bottom: 12px;
    }
    .checkout-modal-succes .checkout__succes-img {
        height: 111px;
        padding: 69px 0 24px;
        background-size: 40%;
    }
    .checkout-modal-succes .checkout__succes-intro {
        margin-bottom: 24px;
        font-size: 24px;
        line-height: 35px;
    }
}

.checkout__map-left.checkout__map-second-l,
.checkout__map-right.checkout__map-second-r {
    margin: 0;
}


.checkout__map-second-c-wrapper {
    padding-left: 89px;
    padding-right: 89px;
}

.checkout__map-first-bottom-row + .checkout__map-first-bottom-row,
.checkout__map-first-top-c-row + .checkout__map-first-top-c-row,
.checkout__map-second-c-row + .checkout__map-second-c-row,
.checkout__map-second-l .checkout__map-place + .checkout__map-place,
.checkout__map-second-r .checkout__map-place + .checkout__map-place,
.checkout__map-third-c-row + .checkout__map-third-c-row,
.checkout__map-third-l .checkout__map-place + .checkout__map-place,
.checkout__map-third-r .checkout__map-place + .checkout__map-place {
    margin: 6px 0 0;
}

.checkout__map-places-box--col-2 .checkout__map-place {
    margin: 0 2px 6px 0;
}

.checkout__map-places-box--col-2 .checkout__map-place:last-child {
    margin-bottom: 0;
}

.checkout__map-first-bottom .checkout__map-title {
    margin-top: 15px;
}

.checkout__map-nav-wrapper {
    opacity: 0;
    pointer-events: none;
}

.checkout__map-nav-wrapper--active {
    opacity: 1;
    pointer-events: all;
}

@media screen and (max-width: 1200px) {
    .checkout__map {
        width: 100vw;
        height: 70vh;
    }
    .che00out__map--small .checkout__map-places-inner {
        visibility: hidden;
        pointer-events: none;
    }
    .checkout__map--big .checkout__map-places-inner {
        width: 1180px;
        height: 1030px;
    }
    .checkout__map--small .checkout__map-places {
        overflow: hidden;
        height: 65vh;
    }
    .checkout__map--small .checkout__map-mob-image {
        visibility: visible;
        pointer-events: all;
    }
    .checkout__map-places {
        position: relative;
        height: 70vh;
    }
}

.checkout {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(1, 1, 2, 0.5);
    width: 100%;
    height: 100%;
    z-index: 21;
    -webkit-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
}

.checkout__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1140px;
    max-height: calc(100% - 80px);
    overflow-y: auto;
    overflow-x: hidden;
    background: #fff;
    -webkit-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
}

@media screen and (max-width: 1140px) {
    .checkout__inner {
        height: 100%;
        top: 0;
        left: 0;
        -webkit-transform: unset;
        -ms-transform: unset;
            transform: unset;
        max-height: unset;
    }
    .checkout[data-state="selected"] .checkout__inner {
        overflow: hidden;
    }
}





.checkout__map-info {
    display: inline-block;
    margin: 0 0 10px;
    padding: 4px 25px;
    background: #ffc700;
    border-radius: 52px;
    font-family: Roboto;
    font-size: 18px;
    line-height: 35px;
}

@media screen and (max-width: 1200px) {
    .checkout__map-info {
        padding: 8px 16px;
        font-size: 11px;
        line-height: 11px;
    }
}

.checkout__summary {
    padding: 0 60px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.checkout__summary-title {
    width: 100%;
    margin-bottom: 24px;
    font-size: 36px;
    line-height: 42px;
}

@media screen and (max-width: 1200px) {
    .checkout__summary {
        padding: 0 14px;
    }
    .checkout__summary-title {
        margin-bottom: 16px;
        font-size: 24px;
        line-height: 35px;
    }
}

.checkout__summary-price {
    width: 100%;
    margin: 20px 0 30px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 22px;
    line-height: 24px;
}

.checkout__summary-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-height: 140px;
    min-width: calc(170px * 4 + 10px);
    max-width: calc(170px * 4 + 10px);
    overflow: auto;
}

@media screen and (max-width: 1200px) {
    .checkout__summary-items {
        width: 100%;
        min-width: unset;
        max-width: unset;
        max-height: unset;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        margin-bottom: 6px;
        padding-top: 9px;
    }
}

.checkout__summary-item {
    min-width: 160px;
    padding: 14px 0 10px;
    border: 1px solid #e3e3e3;
    margin-right: 10px;
    margin-bottom: 10px;
    position: relative;
}

.checkout__summary-item:nth-child(4n) {
    margin-right: 0;
}

@media screen and (max-width: 1200px) {
    .checkout__summary-item:nth-child(4n) {
        margin-right: 10px;
    }
    .checkout__summary-item {
        min-width: 143px;
        padding: 10px 0 7px;
        margin-right: 10px;
        margin-bottom: 0;
    }
}

.checkout__summary-item:last-child {
    margin-right: 0;
}

.checkout__summary-item-stage {
    text-align: center;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 10px;
}

.checkout__summary-item-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-bottom: 14px;
    border-bottom: 1px solid #e3e3e3;
}

.checkout__summary-item-row {
    margin-right: 10px;
}

.checkout__summary-item-place,
.checkout__summary-item-row {
    font-family: Roboto;
    font-size: 16px;
    line-height: 19px;
}

@media screen and (max-width: 1200px) {
    .checkout__summary-item-stage {
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 6px;
    }
    .checkout__summary-item-info {
        padding-bottom: 12px;
    }
    .checkout__summary-item-row {
        margin-right: 12px;
    }
    .checkout__summary-item-place,
    .checkout__summary-item-row {
        font-size: 14px;
    }
}

.checkout__summary-item-price {
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    line-height: 19px;
    color: rgba(6, 23, 33, 0.6);
    margin-top: 7px;
}

@media screen and (max-width: 1200px) {
    .checkout__summary-item-price {
        margin-top: 5px;
        font-size: 14px;
        line-height: 16px;
    }
}

.checkout__summary-buy-btn {
    margin-left: auto;
    padding: 14px 22px;
    background: #ffc700;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #000;
}

.checkout__summary-item-remove {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    width: 100%;
    height: 100%;
    background: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M30 1.76757L28.2324 0L15 13.2324L1.76757 0L0 1.76757L13.2324 15L0 28.2324L1.76757 30L15 16.7676L28.2324 30L30 28.2324L16.7676 15L30 1.76757Z' fill='white'/%3E%3C/svg%3E%0A")
            center no-repeat,
        #061721;
    -webkit-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
}

@media screen and (max-width: 1200px) {
    .checkout__summary-buy-btn {
        width: 100%;
        margin-left: 0;
        font-size: 16px;
        line-height: 19px;
    }
    .checkout__summary-item-remove {
        width: 18px;
        height: 18px;
        top: -9px;
        left: unset;
        right: -5px;
        border-radius: 50%;
        opacity: 1;
        pointer-events: all;
        background-size: 40%;
    }
}

.checkout__summary-item--hover:hover .checkout__summary-item-remove {
    z-index: 1;
    opacity: 1;
    pointer-events: all;
}

.checkout__summary,
.checkout__summary-price,
.checkout__summary-title {
    display: none;
}

.checkout__add {
    display: none;
    padding: 30px 60px 34px;
    background: #f5f5f5;
}

.checkout__add-title {
    margin-bottom: 22px;
    font-family: Roboto;
    font-size: 22px;
    line-height: 24px;
}

@media screen and (max-width: 1200px) {
    .checkout__add {
        padding: 30px 14px 36px;
    }
    .checkout__add-title {
        margin-bottom: 16px;
        font-size: 20px;
        line-height: 24px;
    }
    .checkout__add-items {
        overflow: auto;
    }
}

.checkout__add-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px;
}

.checkout__add-item {
    min-width: 160px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 14px 0 9px;
    margin-right: 10px;
    background: #fff;
    border: 1px solid #e3e3e3;
}

.checkout__add-item:last-child {
    margin-right: 0;
}

@media screen and (max-width: 1200px) {
    .checkout__add-item {
        min-width: 130px;
        margin-right: 10px;
    }
}

.checkout__add-item-title {
    max-width: 110px;
    margin: 0 auto 30px;
    text-align: center;
    font-size: 20px;
    line-height: 23px;
}

@media screen and (max-width: 1200px) {
    .checkout__add-item-title {
        max-width: 100px;
        font-size: 18px;
        line-height: 18px;
        margin: 0 auto 16px;
    }
}

.checkout__add-item-price {
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    line-height: 19px;
    opacity: 0.6;
}

.checkout__add-price {
    font-family: Roboto;
    font-weight: 500;
    font-size: 22px;
    line-height: 24px;
}

.checkout__confirm {
    display: none;
    padding: 30px 60px 36px;
}

.checkout__confirm-fields {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 30px;
}

@media screen and (max-width: 1200px) {
    .checkout__add-price {
        font-size: 20px;
        line-height: 24px;
    }
    .checkout__confirm {
        padding: 40px 14px 50px;
    }
    .checkout__confirm-fields {
        margin-bottom: 36px;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}

.checkout__confirm-field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-right: 24px;
}

@media screen and (max-width: 1200px) {
    .checkout__confirm-field {
        width: 100%;
        margin-right: 0;
        margin-bottom: 24px;
    }
}

.checkout__confirm-field:last-child {
    margin-right: 0;
}

.checkout__confirm-field label {
    margin-bottom: 10px;
    font-family: Roboto;
    font-size: 14px;
    line-height: 18px;
}

.checkout__confirm-field input {
    border: 1px solid rgba(173, 189, 199, 0.6);
    padding: 14px;
    min-width: 280px;
    font-family: Roboto;
    font-size: 16px;
    line-height: 21px;
}

.checkout__confirm-price {
    margin-bottom: 20px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 26px;
    line-height: 24px;
}

.checkout__confirm-buy {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

@media screen and (max-width: 1200px) {
    .checkout__confirm-price {
        margin-bottom: 24px;
        text-align: center;
        font-size: 24px;
        line-height: 24px;
    }
    .checkout__confirm-buy {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}

.checkout__confirm-buy-btn {
    margin-right: 15px;
    padding: 14px 56px;
    text-align: center;
    background: #ffc700;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    color: #000;
}

@media screen and (max-width: 1200px) {
    .checkout__confirm-buy-btn {
        width: 100%;
        margin-right: 0;
        margin-bottom: 13px;
        padding: 14px 56px;
        font-size: 18px;
        line-height: 21px;
    }
}

.checkout__confirm-buy-descr {
    max-width: 610px;
    font-family: Roboto;
    font-size: 13px;
    line-height: 18px;
    color: #000;
}

.checkout[data-state="select"] .checkout__spectacle-date {
    display: none;
}

.checkout[data-state="selected"] .checkout__summary {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 16px 60px;
    background: #f5f5f5;
    border-top: 1px solid #e0e0e0;
}

@media screen and (max-width: 1200px) {
    .checkout__confirm-buy-descr {
        max-width: 100%;
        text-align: center;
    }
    .checkout[data-state="selected"] .checkout__summary {
        padding: 12px 14px;
    }
}

@media screen and (max-width: 1140px) {
    .checkout[data-state="selected"] .checkout__map-places {
        padding-bottom: 200px;
    }
}

.checkout[data-state="buy"] .checkout__header {
    padding: 24px 0 27px 57px;
    margin: 0 60px 30px;
    border-bottom: 1px solid rgba(6, 23, 33, 0.3);
}

@media screen and (max-width: 1200px) {
    .checkout[data-state="buy"] .checkout__header {
        margin: 0 14px 24px;
        padding: 13px 0 20px 43px;
    }
}

.checkout[data-state="buy"] .checkout__back-btn {
    display: block;
}

.checkout[data-state="buy"] .checkout__dates {
    display: none;
}

.checkout[data-state="buy"] .checkout__summary {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 30px 0 60px;
}

.checkout[data-state="buy"] .checkout__add,
.checkout[data-state="buy"] .checkout__spectacle-date,
.checkout[data-state="buy"] .checkout__summary-price,
.checkout[data-state="buy"] .checkout__summary-title {
    display: block;
}

.checkout[data-state="buy"] .checkout__map,
.checkout[data-state="buy"] .checkout__map-nav-wrapper,
.checkout[data-state="buy"] .checkout__summary-buy-btn,
.checkout[data-state="buy"] .checkout__summary-item-remove {
    display: none;
}

.checkout[data-state="buy"] .checkout__summary-items {
    max-width: unset;
}

.checkout[data-state="buy"] .checkout__summary-item {
    pointer-events: none;
    border-color: #061721;
}

@media screen and (max-width: 1200px) {
    .checkout[data-state="buy"] .checkout__summary {
        padding: 0 14px;
    }
    .checkout[data-state="buy"] .checkout__summary-items {
        overflow: hidden;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .checkout[data-state="buy"] .checkout__summary-item:nth-child(2n) {
        margin-right: 0;
    }
}

.checkout[data-state="buy"] .checkout__summary-item:nth-child(4n) {
    margin-right: 10px;
}

.checkout[data-state="buy"] .checkout__summary-item:nth-child(6n) {
    margin-right: 0;
}


.checkout {
  z-index: 22 !important;
}
.volkov_news .actors__items{
  align-items: flex-start;
}
.actors__items {
  align-items: center;
  justify-content: center;
}
.actors .actors__items {
  align-items: flex-start;
}
.checkout__summary-buy-btn {
  cursor: pointer;
}
.container.cp {
  max-width: 880px;
}
.cp h2 {
  margin-bottom: 36px !important;
}
.event-actors__item-info {
  width: calc(100% - 120px);
}
/*--------------доп. услуги------------*/
.checkout__add,
.checkout__services {
  display: none !important;
}

.events__item-description,
.events__item-info-item {
  width: 100%;
}
h1 {
  font-size: 48px !important;
  line-height: 59px !important;
}
.events__item-info-item:last-child {
  margin-right: 0 !important;
}
.events__item-info {
  padding-right: 25px !important;
}

/*actor-slider-events*/
.actor__events {
  width: 100%;
  margin-bottom: 50px;
}
/* .actor__events .container {
    max-width: 880px;
} */

.actor__events .affiche__item-date {
  display: block;
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 20px;
}

.actor__events .affiche__item::before {
  box-shadow: none;
}

.ubs-sales-available {
  display: flex;
  height: 100%;
}

.actor__events .affiche__btn-buy {
  width: 100%;
  opacity: 1;
  transform: translateX(0);
}
.actor__events .affiche__item {
  margin-bottom: 0 !important;
}
.actor__info-cp br:last-child {
  display: none;
}
.container.p-404 {
  margin-bottom: 40px;
}
.p-404 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.p-404 img {
  width: 100%;
  height: auto;
  max-width: 900px;
  margin-bottom: 15px;
  object-fit: contain;
}
.index-page header {
  background: #0f1216;
}

header .header__inner {
  margin-top: 20px;
  margin-bottom: 38px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.index-page .main-slider__inner::before {
  height: 441px;
  top: -160px;
}

.checkout__confirm .checkout__confirm-field .input_error {
  border: 1px solid #ff5000;
}

/* newhall */

.checkout__map-places-inner {
  visibility: visible !important;
  pointer-events: all !important;
  height: unset;
}


@media (max-width: 1080px) {
  .checkout__map,
  .checkout__map-places {
    height: unset !important;
    max-height: unset !important;
    overflow: unset !important;
  }

  .checkout__map-nav-wrapper {
    align-items: center;
  }
  .checkout__map-scene {
    background-color: transparent !important;
  }

  .checkout__map-places:not(.checkout-secondary) .checkout__map-places-scale {
    width: 1100px;
    height: 935px;
  }

  .checkout .checkout__inner {
    height: 100vh;
  }
  .checkout[data-state="selected"] .checkout__inner {
    height: calc(100vh + 205px);
    overflow: auto !important;
  }
  .checkout[data-state="selected"] .checkout__summary {
    position: fixed !important;
  }

  .checkout[data-state="selected"] .checkout__inner .checkout__map {
    padding-bottom: 25px;
  }
  .checkout__map-places .checkout__map-place {
    pointer-events: none;
  }
  .checkout__map-places.zoomed .checkout__map-place {
    pointer-events: all;
  }
	.checkout__map-places {
    height: 110vw !important;
  }

  .checkout__map-places.zoomed {
    width: 100%;
    overflow: auto !important;
  }

  .checkout[data-state="selected"] .checkout__map-places.zoomed {
    margin-bottom: 365px !important;
  }
  .checkout[data-state="selected"] .checkout__map-places:not(.zoomed) {
    height: calc(110vw + 365px) !important;
  }
  .checkout[data-state="selected"] .checkout-secondary:not(.zoomed) {
    height: calc(110vw + 365px) !important;
  }

  .checkout[data-state="selected"] .checkout__map-places {
    padding-bottom: 0 !important;
  }

  .checkout__map-places.zoomed .checkout__map-places-inner {
    width: 1100px;
    height: 1100px !important;
  }
  .checkout-secondary.zoomed .checkout__map-places-inner {
    width: 600px;
    height: 500px !important;
  }
  .checkout[data-state="select"]
    .checkout__map-places
    .checkout__map-places-inner,
  .checkout[data-state="select"]
    .checkout-secondary
    .checkout__map-places-inner {
    min-height: 100%;
  }

  .checkout[data-state="selected"]
    .checkout__map-places
    .checkout__map-places-inner {
    height: calc(200vw + 205px);
  }
  .checkout[data-state="selected"]
    .checkout-secondary
    .checkout__map-places-inner {
    height: calc(125vw + 205px);
  }
  .checkout[data-state="buy"] .checkout__map-nav-wrapper,
  .checkout__map-nav-point {
    opacity: 0 !important;
    pointer-events: none !important;
  }
	.checkout__map-place--disabled {
		pointer-events: none!important;
	}
	.cp img {
		object-fit: unset;
		margin: 20px 0;
	}
}
@media (min-width: 1100px) {
  .checkout__map {
    width: unset;
    height: unset;
  }
  .checkout[data-state="selected"] .checkout__inner {
    overflow-y: auto;
  }
  .checkout[data-state="selected"] .checkout__map-places {
    padding: 0;
  }
  .checkout__map-places {
    height: unset;
    overflow-x: hidden;
  }
  .checkout[data-state="selected"] .checkout__map-places {
    height: calc(100% - 160px);
  }
  .checkout-secondary.checkout__map-places {
    overflow: hidden;
  }
}


.checkout__map-place--photo {
    background-image: url('../vectors/camera.svg');
    background-size: 11px 11px;
    background-repeat: no-repeat;
    background-position: center center;
}

/* VOLKOV HALL-PLAN*/
.checkout__map-place {
  cursor: pointer;
}
/* VOLKOV HALL-PLAN-3 */
.checkout__map-row--type-3 {
  display: flex;
  flex-wrap: wrap;
  width: 57px;
}
.checkout__map--type-3 {
  width: 100%;
}

.checkout__map-scene--type-3 {
  width: 10px;
  transform: translateY(50%);
}
.checkout__map-scene--type-3 .checkout__map-scene-title {
  display: block;
  white-space: nowrap;
  transform: rotate(-90deg);
}

.checkout__map--type-3 > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 214px;
  margin: 0 auto;
}
.checkout__map-row--type-3 > .checkout__map-place {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 8px;
}
.checkout__map-row--type-3 > .checkout__map-place--round span {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 13px;
  height: 13px;
  border: 1px solid #6d9ee1;
  border-radius: 100%;
  transition: border-color 0.2s ease-in-out;
}
.checkout__map-row--type-3 > .checkout__map-place--round:hover span {
  border-color: #7ed321;
}
.checkout__map-row--type-3 > .checkout__map-place--round-s span::after {
  content: 'c';
  position: absolute;
  bottom: -2px;
  right: -2px;
  font-size: 8px;
  background-color: #fff;
  line-height: 5px;
  padding: 1px;
  border-radius: 100%;
}
.checkout__map-row--type-3 > .checkout__map-number {
  width: 19px;
  height: 18px;
  text-align: center;
}
.checkout__summary-pk-text{
  text-transform: uppercase;
  font-size: 20px;
  margin-left: 5px;
  color: red;
}
.checkout__summary-pk{
  padding-top: 5px;
}
.checkout__summary{
  flex-wrap: nowrap;
}
.error-pk{
  color: red;
  margin-left: 10px;
  font-size: 26px;
}
@media (max-width: 1100px) {
  .checkout__summary{
    flex-wrap: wrap;
  }
  .warning-pk {
    text-align: left;
  }
}
.checkout__price-ticket {
  display: flex;
  padding-left: 60px;
  margin-bottom: 22px;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (max-width: 1200px) {

  .checkout__price-ticket  {
      padding: 0 0 0 14px;
      overflow: auto;
  }
}
.checkout__mobile_photo {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-bottom: 20px;
}
@media (min-width: 1100px) {
  .checkout__mobile_photo {
    display: none;
  }

}

.checkout_map_title {
  font-size: 50px;
  text-align: center;
}

.checkout_map_title_discription {
  margin: 20px 0 35px 0;
  font-size: 20px;
  text-transform: uppercase;
}

@media screen and (max-width: 1200px){
  .checkout_map_title {
      font-size: 30px;
      line-height: 35px;
  }
  .checkout_map_title_discription {
    font-size: 12px;
  }
}
