.choice {
    position: relative;
    display: block;
    width: fit-content;
    min-width: 20px;
    min-height: 40px;
}
    .choice__widget {
        opacity: 0;
        position: absolute;
        left: 2px;
        top: 12px;
    }

    .choice__label {
        position: relative;
        display: flex;
        vertical-align: top;
        padding: 8px 0 8px 38px;
        font-size: 18px;
        line-height: 24px;
        color: #FFFFFF;
        cursor: pointer;
        user-select: none;
        transition: color var(--transition-hover);
    }

    .choice__icon {
        position: absolute;
        left: 0;
        top: 8px;
        width: 24px;
        height: 24px;
        box-shadow: inset 0 0 0 1px #FFFFFF;
        background-color: transparent;
        background-size: 24px 24px;
        background-repeat: no-repeat;
        background-position: center center;
        border-radius: 4px;
        pointer-events: none; /* Since this icon is positioned higher than label, let's make it possible to click through, so that the user interacts only with the label. For now, this icon won't generate its own cursor, for example. */
        transition: box-shadow var(--transition-hover);
    }

    .choice__widget[type="checkbox"] ~ .choice__icon {

    }

    .choice__widget[type="radio"] ~ .choice__icon {
        border-radius: 50%;
    }


/* Hovered */
/* не :disabled, и не чекнутая радиокнопка */
.choice__widget:not(:disabled):not([type="radio"]:checked) ~ .choice__label:hover {
    color: var(--action-color);
}

.choice__widget:not(:disabled):not([type="radio"]:checked) ~ .choice__label:hover ~ .choice__icon {
    box-shadow: inset 0 0 0 1px var(--action-color);
}


/* Checked */

.choice__widget:checked ~ .choice__label {
    transition: none;
}

.choice__widget:checked ~ .choice__icon {
    transition: none;
}


.choice__widget[type="checkbox"]:checked ~ .choice__icon {
    background-color: #F8F0E5;
    background-image: url("../vectors/choice-checkbox.svg");
}

.choice__widget[type="radio"]:checked ~ .choice__icon {
    background-image: url("../vectors/choice-radio.svg");
}


/* Checked & Hovered */

.choice__widget[type="checkbox"]:checked ~ .choice__label:hover ~ .choice__icon {
    background-color: var(--action-color);
    box-shadow: inset 0 0 0 1px var(--action-color);
}

.choice__widget[type="radio"]:checked ~ .choice__label {
    cursor: default; /* checked radio button can’t be hovered */
}



/* Focused */

.choice__widget:focus-visible ~ .choice__icon {
    outline: auto;
}


/* Disabled */
.choice__widget:disabled ~ .choice__label {
    cursor: default;
    color: var(--disabled-color);
}

.choice__widget[type="checkbox"]:disabled ~ .choice__icon,
.choice__widget[type="checkbox"]:disabled ~ .choice__label:hover ~ .choice__icon {
    background-color: transparent;
    box-shadow: inset 0 0 0 1px var(--disabled-color);
}

.choice__widget[type="checkbox"]:disabled:checked ~ .choice__icon,
.choice__widget[type="checkbox"]:disabled:checked ~ .choice__label:hover ~ .choice__icon {
    background-color: var(--disabled-color);
}



.choice__widget[type="radio"]:disabled ~ .choice__icon,
.choice__widget[type="radio"]:disabled ~ .choice__label:hover ~ .choice__icon {
    box-shadow: inset 0 0 0 1px var(--disabled-color);
}

.choice__widget[type="radio"]:disabled:checked ~ .choice__icon,
.choice__widget[type="radio"]:disabled:checked ~ .choice__label:hover ~ .choice__icon {
    background-image: url("../vectors/choice-radio-disabled.svg");
}




.choice--bolder {

}
    .choice--bolder .choice__label {
        font-weight: 600;
        font-size: 13px;
        line-height: 20px;
    }


.choice--full-width {
    width: 100%;
}
