.choice {
    position: relative;
    display: block;
    width: fit-content;
    min-height: 30px;
}

.choice--inverted {

}

    .choice__widget {
        opacity: 0;
        position: absolute;
        left: 2px;
        top: 10px;
    }

    .choice__label {
        position: relative;
        display: flex;
        vertical-align: top;
        padding: 5px 0 5px 28px;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
        cursor: pointer;
        user-select: none;
        transition: color var(--transition-hover);
    }

    .choice--inverted .choice__label {
        padding-left: 28px;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        color: #505050;
    }

    .choice__icon {
        position: absolute;
        left: 0;
        top: 5px;
        width: 20px;
        height: 20px;
        box-shadow: inset 0 0 0 1px #FFFFFF;
        background-color: transparent;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        border-radius: 3px;
        pointer-events: none; /* Since this icon is positioned higher than label, let's make it possible to click through, so that the user interacts only with the label. For now, this icon won't generate its own cursor, for example. */
        transition: box-shadow var(--transition-hover);
    }

    .choice--inverted .choice__icon {
        width: 16px;
        height: 16px;
        box-shadow: inset 0 0 0 1px #505050;
    }

    .choice__widget[type="checkbox"] ~ .choice__icon {

    }

    .choice__widget[type="radio"] ~ .choice__icon {
        border-radius: 50%;
    }


/* Hovered */
/* не :disabled, и не чекнутая радиокнопка */
.choice__widget:not(:disabled):not([type="radio"]:checked) ~ .choice__label:hover {
    color: var(--action-color);
}

.choice--inverted .choice__widget:not(:disabled):not([type="radio"]:checked) ~ .choice__label:hover {
    color: #0B1E3A;
}



.choice__widget:not(:disabled):not([type="radio"]:checked) ~ .choice__label:hover ~ .choice__icon {
    box-shadow: inset 0 0 0 1px var(--action-color);
}

.choice--inverted .choice__widget:not(:disabled):not([type="radio"]:checked) ~ .choice__label:hover ~ .choice__icon {
    box-shadow: inset 0 0 0 1px #0B1E3A;
}


/* Checked */

.choice__widget:checked ~ .choice__label {

}

.choice__widget:checked ~ .choice__icon {

}


.choice__widget[type="checkbox"]:checked ~ .choice__icon {
    background-color: #F8F0E5;
    background-image: url("../vectors/choice-checkbox.svg");
}

.choice--inverted .choice__widget[type="checkbox"]:checked ~ .choice__icon {
    background-color: #E4BB6B;
}

.choice__widget[type="radio"]:checked ~ .choice__icon {
    background-image: url("../vectors/choice-radio.svg");
}


/* Checked & Hovered */

.choice__widget[type="checkbox"]:checked ~ .choice__label:hover ~ .choice__icon {
    background-color: var(--action-color);
    box-shadow: inset 0 0 0 1px var(--action-color);
}

.choice__widget[type="radio"]:checked ~ .choice__label {
    cursor: default; /* checked radio button can’t be hovered */
}



/* Focused */

.choice__widget:focus-visible ~ .choice__icon {
    outline: auto;
}


/* Disabled */
.choice__widget:disabled ~ .choice__label {
    cursor: default;
    color: var(--disabled-color);
}

.choice__widget[type="checkbox"]:disabled ~ .choice__icon,
.choice__widget[type="checkbox"]:disabled ~ .choice__label:hover ~ .choice__icon {
    background-color: transparent;
    box-shadow: inset 0 0 0 1px var(--disabled-color);
}

.choice__widget[type="checkbox"]:disabled:checked ~ .choice__icon,
.choice__widget[type="checkbox"]:disabled:checked ~ .choice__label:hover ~ .choice__icon {
    background-color: var(--disabled-color);
}



.choice__widget[type="radio"]:disabled ~ .choice__icon,
.choice__widget[type="radio"]:disabled ~ .choice__label:hover ~ .choice__icon {
    box-shadow: inset 0 0 0 1px var(--disabled-color);
}

.choice__widget[type="radio"]:disabled:checked ~ .choice__icon,
.choice__widget[type="radio"]:disabled:checked ~ .choice__label:hover ~ .choice__icon {
    background-image: url("../vectors/choice-radio-disabled.svg");
}






.choice--full-width {
    width: 100%;
}



@media (1850px <= width) {

    .choice {
        min-height: 40px;
    }
        .choice__widget {
            left: 2px;
            top: 12px;
        }

        .choice__label {
            padding: 8px 0 8px 38px;
            font-size: 18px;
            line-height: 24px;
        }

        .choice__icon {
            top: 8px;
            width: 24px;
            height: 24px;
            border-radius: 4px;
        }


    .choice--inverted .choice__icon {
        width: 20px;
        height: 20px;
    }

    .choice--inverted .choice__label {
        padding-left: 32px;
        font-size: 14px;
        line-height: 19px;
    }
}
