.clipped {
    --clipped-handler-height: 34px; /* 29 is a height of a button + 5px of space before it */
}

.clipped {
    position: relative;
}
    .clipped__viewport {
        position: relative;
        overflow: hidden;
        transition: height var(--transition-show);
    }
        .clipped__content {
            padding-bottom: 24px; /* отступ перед кнопкой "Подробнее" */
            border-bottom: var(--clipped-handler-height) solid transparent;
        }

    .clipped__handler {
        position: absolute;
        z-index: 50;
        left: 0;
        bottom: 0;
        display: none;
    }
        .clipped__more {

        }

        .clipped__less {
            display: none;
        }

.clipped--expandable {

}
    .clipped--expandable .clipped__viewport {

    }
        .clipped--expandable .clipped__viewport::after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: calc(40px + var(--clipped-handler-height)); /* 40px -- desired height plus some space for "read more" */
            display: block;
            background-image: linear-gradient(rgba(11 30 58 / 0), rgba(11 30 58 / 80%) 70%, rgba(11 30 58 / 100%));
            border-bottom: var(--clipped-handler-height) solid #0B1E3A;
            transition: opacity var(--transition-show);
            pointer-events: none;
        }

    .clipped--expandable .clipped__handler {
        display: flex;
    }


/* while calculating */
.clipped--measurement {

}
    .clipped--measurement .clipped__viewport {
        height: auto !important;
    }
        .clipped--measurement .clipped__content {
            height: auto !important;
        }


.clipped--open {

}
    .clipped--open .clipped__viewport::after {
        opacity: 0;
    }

    .clipped--open .clipped__more {
        display: none;
    }

    .clipped--open .clipped__less {
        display: inline;
    }

    .clipped--open .clipped__handler .anchor-link__icon {
        transform: scaleY(-1);
    }
