.comment {
    padding: 18px;
    background-color: #F8F0E5;
    color-scheme: light;
    color: #000000;
    border-radius: 10px;
}
    .comment__text {

    }

    .comment__author {
        margin-top: 10px;
        width: fit-content;
        margin-left: auto;
        font-size: 17px;
        line-height: 22px;
    }
