.congratulations {
    padding-top: 80px;
    padding-bottom: 110px;
}
    .congratulations__wrap {

    }
        .congratulations__heading {
            margin-top: 0;
            margin-bottom: 0;
            font-family: var(--font-heading);
            font-weight: normal;
            font-style: italic;
            font-size: 44px;
            line-height: 51px;
            color: #E4BB6B;
            text-transform: uppercase;
        }

        .congratulations__body {
            margin-top: 40px;
        }


@media (1850px <= width) {

    .congratulations {
        padding-top: 250px;
        padding-bottom: 110px;
    }
        .congratulations__wrap {

        }
            .congratulations__heading {
                font-size: 52px;
                line-height: 61px;
            }

            .congratulations__body {
                margin-top: 60px;
            }
}



@media (width < 740px) {

    .congratulations {
        /*padding-top: 80px;*/
        /*padding-bottom: 110px;*/
    }
        .congratulations__wrap {

        }
            .congratulations__heading {
                /*margin-top: 0;*/
                /*margin-bottom: 0;*/
                /*font-family: var(--font-heading);*/
                /*font-weight: normal;*/
                /*font-style: italic;*/
                font-size: 24px;
                line-height: 28px;
                /*color: #E4BB6B;*/
                /*text-transform: uppercase;*/
            }

            .congratulations__body {
                /*margin-top: 40px;*/
            }
}

