.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

@media (1850px <= width) {

    .container {
        width: 1760px;
    }
}

@media (width < 740px) {

    .container {
        width: auto;
        max-width: 430px; /* Максимальный поддерживаемый телефон -- это стандартные
                             430px для "iPhone 15 Plus" и "iPhone 15 Pro Max".
                             На устройствах больше будет прост центрирование. */
        border-left: var(--container-padding) solid transparent;
        border-right: var(--container-padding) solid transparent;
    }
}



.container--smaller {

}

@media (1850px <= width) {

    .container--smaller {
        width: 1582px;
    }
}

