.crowd {
    padding-top: var(--page-top-padding);
}
    .crowd__heading {
        margin-top: 0;
        margin-bottom: 0;
        text-align: center;
    }

    .crowd__search {
        margin-top: 18px;
        width: 340px;
        margin-left: auto;
    }

    .crowd__body {
        margin-top: 30px;
    }
        .crowd__sub-heading {
            margin-top: 75px;
            margin-bottom: 30px;
            font-family: var(--font-heading);
            font-weight: normal;
            font-style: italic;
            font-size: 32px;
            line-height: 32px;
            color: #E4BB6B;
            text-transform: uppercase;
        }

        .crowd__sub-heading:first-child {
            margin-top: 40px;
        }

        .crowd__list {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap: 30px 18px;
            justify-content: center;
        }



@media (1850px <= width) {

    .crowd {

    }
        .crowd__heading {

        }

        .crowd__search {
            margin-top: 24px;
            width: 420px;
        }

        .crowd__body {
            margin-top: 40px;
        }
            .crowd__sub-heading {
                margin-top: 100px;
                margin-bottom: 40px;
                font-size: 48px;
                line-height: 48px;
            }

            .crowd__sub-heading:first-child {
                margin-top: 53px;
            }

            .crowd__list {
                grid-template-columns: repeat(6, 1fr);
                gap: 40px 24px;
            }
}



@media (width < 740px) {

    .crowd {

    }
        .crowd__heading {

        }

        .crowd__search {
            width: auto;
        }

        .crowd__body {

        }
            .crowd__sub-heading {

            }

            .crowd__list {
                grid-template-columns: repeat(2, 1fr);
                gap: 30px 16px;
            }
}

