.dot {
    display: inline-block;
    vertical-align: middle;
    width: 8px;
    height: 8px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #FFFFFF;
    border-radius: 50%;
    text-indent: 200%;
    white-space: nowrap;
    overflow: hidden;
    fill: currentColor;
}

@media (1850px <= width) {
    .dot {
        width: 10px;
        height: 10px;
        margin-left: 12px;
        margin-right: 12px;
    }
}



@media (width < 740px) {

    .dot {
        width: 6px;
        height: 6px;
        margin-left: 8px;
        margin-right: 8px;
    }
}
