.encyclopedia-link {
    display: flex;
    align-items: center;
    gap: 14px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 18px 36px;
    background-color: #F8F0E5;
    border-radius: 6px;
    text-decoration: none;
    transition: background-color var(--transition-hover);
}
    .encyclopedia-link__emblem {
        flex-shrink: 0;
        width: 60px;
        height: 64px;
    }
        .encyclopedia-link__emblem #background {
            fill: #E4BB6B;
            transition: fill var(--transition-hover);
        }

        .encyclopedia-link__emblem #theater {
            fill: #0B1E3A;
            transition: fill var(--transition-hover);
        }

    .encyclopedia-link__content {
        flex-grow: 1;
    }
        .encyclopedia-link__heading {
            font-family: var(--font-heading);
            font-weight: bold;
            font-style: italic;
            font-size: 18px;
            line-height: 22px;
            color: #0B1E3A;
            text-transform: uppercase;
            transition: color var(--transition-hover);
        }

        .encyclopedia-link__go {
            margin-top: 6px;
            font-size: 13px;
            line-height: 18px;
            color: #303F64;
            text-align: center;
            transition: color var(--transition-hover);
        }


.encyclopedia-link:hover {
    background-color: #E4BB6B;
    color: #0B1E3A;
}
    .encyclopedia-link:hover .encyclopedia-link__emblem {
        flex-shrink: 0;
    }
        .encyclopedia-link:hover .encyclopedia-link__emblem #background {
            fill: #0B1E3A;
        }

        .encyclopedia-link:hover .encyclopedia-link__emblem #theater {
            fill: #E4BB6B;
        }

    .encyclopedia-link:hover .encyclopedia-link__content {

    }
        .encyclopedia-link:hover .encyclopedia-link__heading {
            color: #0B1E3A;
        }

        .encyclopedia-link:hover .encyclopedia-link__go {
            color: #0B1E3A;
        }



@media (1850px <= width) {

    .encyclopedia-link {
        gap: 16px;
        padding: 24px 48px;
        border-radius: 9px;
    }
        .encyclopedia-link__emblem {
            width: 72px;
            height: 77px;
        }
            .encyclopedia-link__emblem #background {

            }

            .encyclopedia-link__emblem #theater {

            }

        .encyclopedia-link__content {

        }
            .encyclopedia-link__heading {
                font-size: 22px;
                line-height: 26px;
            }

            .encyclopedia-link__go {
                margin-top: 8px;
                font-size: 16px;
                line-height: 22px;
            }
}



@media (width < 740px) {

    .encyclopedia-link {
        gap: 16px;
        padding: 16px 44px;
    }
        .encyclopedia-link__emblem {
            width: 72px;
            height: 77px;
        }
            .encyclopedia-link__emblem #background {

            }

            .encyclopedia-link__emblem #theater {

            }

        .encyclopedia-link__content {

        }
            .encyclopedia-link__heading {
                font-size: 20px;
                line-height: 23px;
                text-align: center;
            }

            .encyclopedia-link__go {
                margin-top: 10px;
                font-size: 14px;
                line-height: 19px;
            }
}

@media (width < 400px) {

    .encyclopedia-link {
        padding-left: 30px;
        padding-right: 30px;
    }
}


@media (width < 370px) {

    .encyclopedia-link {
        padding-left: 20px;
        padding-right: 20px;
    }
}



@media (width < 350px) {

    .encyclopedia-link {
        padding-left: 20px;
        padding-right: 20px;
    }
        .encyclopedia-link__emblem {
            width: 60px;
            height: 64px;
        }

        .encyclopedia-link__heading {
            font-size: 18px;
            line-height: 21px;
        }
}

