.engage {
    display: grid;
    grid-template-columns: 573fr 1165fr;
    gap: 18px;
}
    .engage__header {

    }
        .engage__heading {
            margin-top: 0;
            margin-bottom: 0;
            font-family: var(--font-heading);
            font-weight: normal;
            font-style: italic;
            font-size: 26px;
            line-height: 32px;
            text-transform: uppercase;
            color: #E4BB6B;
        }

    .engage__body {

    }
        .engage__fieldset {
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 1fr));
            gap: 16px 22px;
        }
            .engage__field {

            }

            .engage__field--full-width {
                grid-column: span 2;
            }

        .engage__footer {
            margin-top: 33px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 18px;
        }
            .engage__agreement {
                max-width: 350px;
                font-size: 15px;
                line-height: 22px;
                text-align: right;
            }

            .engage__submit {

            }



@media (1850px <= width) {

    .engage {
        gap: 22px;
    }
        .engage__header {

        }
            .engage__heading {
                font-size: 32px;
                line-height: 37px;
            }

        .engage__body {

        }
            .engage__fieldset {
                gap: 24px 30px;
            }
                .engage__field {

                }

                .engage__field--full-width {

                }

            .engage__footer {
                margin-top: 44px;
                gap: 24px;
            }
                .engage__agreement {
                    max-width: 390px;
                    font-size: 17px;
                    line-height: 23px;
                }

                .engage__submit {

                }
}



@media (width < 740px) {

    .engage {
        display: block;
        /*grid-template-columns: 573fr 1165fr;*/
        /*gap: 18px;*/
    }
        .engage__header {

        }
            .engage__heading {
                /*margin-top: 0;*/
                /*margin-bottom: 0;*/
                /*font-family: var(--font-heading);*/
                /*font-weight: normal;*/
                /*font-style: italic;*/
                font-size: 24px;
                line-height: 28px;
                /*text-transform: uppercase;*/
                /*color: #E4BB6B;*/
            }

        .engage__body {
            margin-top: 24px;
        }
            .engage__fieldset {
                display: flex;
                flex-direction: column;
                /*grid-template-columns: repeat(2, minmax(0, 1fr));*/
                gap: 12px;
            }
                .engage__field {

                }

                .engage__field:first-child {
                    margin-top: 0;
                }

                .engage__field--full-width {
                    /*grid-column: span 2;*/
                }

            .engage__footer {
                margin-top: 16px;
                display: flex;
                flex-direction: column;
                align-items: stretch;
                /*justify-content: flex-end;*/
                gap: 10px;
            }
                .engage__agreement {
                    max-width: none;
                    font-size: 14px;
                    line-height: 19px;
                    text-align: left;
                }

                .engage__submit {
                    order: -1;
                }
                    .engage__submit.button,
                    .engage__submit .button {
                        width: 100%;
                    }
}


