.events {
    --radius: 8px;
}

.events {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: 188px 159px 44px 98px 50px 32px 145px;
    gap: 18px;
}
    .events__item {
        position: relative;
        background-color: #EBD7B2;
        overflow: hidden;
        border-radius: 8px;
        transition: background-color var(--transition-hover);
    }

    .events__item:hover {
        background-color: #FFFFFF;
    }

    .events__item--01 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .events__item--02 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 5;
    }

    .events__item--03 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 5;
        grid-row-end: 8;
    }


    .events__item--04 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .events__item--05 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 6;
    }

    .events__item--06 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 6;
        grid-row-end: 8;
    }

    .events__item--07 {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 4;
    }

    .events__item--08 {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 4;
        grid-row-end: 7;
    }

    .events__item--09 {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 7;
        grid-row-end: 8;
    }
        .events__preview {
            display: block;
            width: 100%;
            height: 100%;
        }
            .events__image {
                vertical-align: top;
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: filter var(--transition-hover);
            }

            .events__item:hover .events__image {
                filter: brightness(110%) contrast(110%);
            }

            .events__overlay {
                position: absolute;
                inset: 0;
                background-color: rgb(48 63 100 / 60%);
                backdrop-filter: blur(3px);
                transform: translate3d(0, 0, 0); /* форсируем 3d acceleration */
                backface-visibility: hidden; /* улучшаем производительность */
            }

        .events__label {
            position: absolute;
            inset: 0;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding: 18px;
            font-family: var(--font-heading);
            font-weight: 500;
            font-style: italic;
            font-size: 24px;
            line-height: 28px;
            color: #303F64;
            text-transform: uppercase;
        }

        .events__preview ~ .events__label {
            color: #F8F0E5;
        }



@media (1850px <= width) {

    .events {
        /*display: grid;*/
        /*grid-template-columns: repeat(3, minmax(0, 1fr));*/
        grid-template-rows: 250px 212px 58px 131px 67px 43px 193px;
        gap: 25px;
    }
        .events__item {
            /*position: relative;*/
            /*background-color: #EBD7B2;*/
            /*overflow: hidden;*/
            /*height: 428px;*/
            border-radius: 10px;
            /*transition: background-color var(--transition-hover);*/
        }

        .events__item:hover {
            /*background-color: #FFFFFF;*/
        }

            .events__preview {
                /*display: block;*/
            }
                .events__image {
                    /*vertical-align: top;*/
                    /*width: 100%;*/
                    /*height: auto;*/
                    /*transition: filter var(--transition-hover);*/
                }

                .events__item:hover .events__image {
                    /*filter: brightness(110%) contrast(110%);*/
                }

                .events__overlay {
                    /*position: absolute;*/
                    /*inset: 0;*/
                    /*background-color: rgb(48 63 100 / 60%);*/
                    /*backdrop-filter: blur(3px);*/
                    border-radius: 10px;
                }

            .events__label {
                /*position: absolute;*/
                /*inset: 0;*/
                /*display: flex;*/
                /*flex-direction: column;*/
                /*justify-content: flex-end;*/
                padding: 24px;
                /*font-family: var(--font-heading);*/
                /*font-weight: 500;*/
                /*font-style: italic;*/
                font-size: 32px;
                line-height: 37px;
                /*color: #303F64;*/
                /*text-transform: uppercase;*/
            }

            .events__preview ~ .events__label {
                /*color: #F8F0E5;*/
            }
}



@media (width < 740px) {

    .events {
        /*--radius: 8px;*/
    }

    .events {
        display: block;
        /*grid-template-columns: repeat(3, minmax(0, 1fr));*/
        /*gap: 18px;*/
    }
        .events__item {
            margin-top: 16px;
            display: block;
            height: 164px;
            /*position: relative;*/
            /*background-color: #EBD7B2;*/
            /*overflow: hidden;*/
            /*border-radius: 8px;*/
            /*transition: background-color var(--transition-hover);*/
        }

        .events__item:has(.events__preview) {
            height: 286px;
        }

        .events__item:first-child {
            margin-top: 0;
        }

        .events__item:hover {
            /*background-color: #FFFFFF;*/
        }

            .events__preview {
                /*display: block;*/
            }
                .events__image {
                    /*vertical-align: top;*/
                    /*width: 100%;*/
                    /*height: auto;*/
                    /*transition: filter var(--transition-hover);*/
                }

                .events__item:hover .events__image {
                    /*filter: brightness(110%) contrast(110%);*/
                }

                .events__overlay {
                    /*position: absolute;*/
                    /*inset: 0;*/
                    /*background-color: rgb(48 63 100 / 60%);*/
                    /*backdrop-filter: blur(3px);*/
                }

            .events__label {
                /*position: absolute;*/
                /*inset: 0;*/
                /*display: flex;*/
                /*flex-direction: column;*/
                /*justify-content: flex-end;*/
                /*padding: 18px;*/
                /*font-family: var(--font-heading);*/
                /*font-weight: 500;*/
                /*font-style: italic;*/
                /*font-size: 24px;*/
                /*line-height: 28px;*/
                /*color: #303F64;*/
                /*text-transform: uppercase;*/
            }

            .events__preview ~ .events__label {
                /*color: #F8F0E5;*/
            }
}

