.file {
    position: relative;
    display: block;
    padding: 22px 73px;
    background-color: #F8F0E5;
    border-radius: 6px;
    font-size: 25px;
    line-height: 32px;
    color: #0B1E3A;
    text-decoration: none;
    transition: background-color var(--transition-hover);
}

.file:hover {
    background-color: #FFFFFF;
}
    .file__icon {
        position: absolute;
        left: 29px;
        top: 50%;
        margin-top: -14px;
        width: 22px;
        height: 28px;
        fill: currentColor;
    }

    .file__download {
        position: absolute;
        right: 24px;
        top: 50%;
        margin-top: -11px;
        width: 20px;
        height: 21px;
        fill: currentColor;
    }


@media (1850px <= width) {

    .file {
        /*position: relative;*/
        /*padding: 22px 73px;*/
        padding-top: 28px;
        padding-bottom: 28px;
        /*background-color: #F8F0E5;*/
        /*border-radius: 6px;*/
        font-size: 28px;
        line-height: 34px;
        /*color: #0B1E3A;*/
        /*text-decoration: none;*/
        /*transition: background-color var(--transition-hover);*/
    }

    .file:hover {
        /*background-color: #FFFFFF;*/
    }

        .file__icon {
            /*position: absolute;*/
            /*left: 29px;*/
            /*top: 50%;*/
            margin-top: -17px;
            width: 28px;
            height: 35px;
            /*fill: currentColor;*/
        }

        .file__download {
            /*position: absolute;*/
            /*right: 24px;*/
            /*top: 50%;*/
            margin-top: -12px;
            width: 24px;
            height: 25px;
            /*fill: currentColor;*/
        }
}



@media (width < 740px) {

    .file {
        /*position: relative;*/
        padding: 18px 55px;
        /*background-color: #F8F0E5;*/
        /*border-radius: 6px;*/
        font-size: 20px;
        line-height: 27px;
        /*color: #0B1E3A;*/
        /*text-decoration: none;*/
        /*transition: background-color var(--transition-hover);*/
    }

    .file:hover {
        /*background-color: #FFFFFF;*/
    }

        .file__icon {
            /*position: absolute;*/
            left: 20px;
            /*top: 50%;*/
            margin-top: -13px;
            width: 21px;
            height: 25px;
            /*fill: currentColor;*/
        }

        .file__download {
            /*position: absolute;*/
            right: 18px;
            /*top: 50%;*/
            margin-top: -11px;
            width: 21px;
            height: 22px;
            /*fill: currentColor;*/
        }
}


