/*
Nunito Sans:
 - regular
   regular italic
 - 600
   600 italic
 - 700
   700 italic

Brygada 1918:
 - regular
   regular italic
 - 500
   500 italic
 - 600 italic
 - 700 italic
 */



@font-face {
    font-display: swap;
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/nunito-sans-v15-cyrillic_latin-regular.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "Nunito Sans";
    font-style: italic;
    font-weight: 400;
    src: url("../fonts/nunito-sans-v15-cyrillic_latin-italic.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/nunito-sans-v15-cyrillic_latin-600.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "Nunito Sans";
    font-style: italic;
    font-weight: 600;
    src: url("../fonts/nunito-sans-v15-cyrillic_latin-600italic.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/nunito-sans-v15-cyrillic_latin-700.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "Nunito Sans";
    font-style: italic;
    font-weight: 700;
    src: url("../fonts/nunito-sans-v15-cyrillic_latin-700italic.woff2") format("woff2");
}




@font-face {
    font-display: swap;
    font-family: "Brygada 1918";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/brygada-1918-v22-cyrillic_latin-regular.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "Brygada 1918";
    font-style: italic;
    font-weight: 400;
    src: url("../fonts/brygada-1918-v22-cyrillic_latin-italic.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "Brygada 1918";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/brygada-1918-v22-cyrillic_latin-500.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "Brygada 1918";
    font-style: italic;
    font-weight: 500;
    src: url("../fonts/brygada-1918-v22-cyrillic_latin-500italic.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "Brygada 1918";
    font-style: italic;
    font-weight: 600;
    src: url("../fonts/brygada-1918-v22-cyrillic_latin-600italic.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "Brygada 1918";
    font-style: italic;
    font-weight: 700;
    src: url("../fonts/brygada-1918-v22-cyrillic_latin-700italic.woff2") format("woff2");
}
