.gallery {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 285fr));
    gap: 20px;
}

@media (1850px <= width) {

    .gallery {
        grid-template-columns: repeat(6, minmax(0, 273px)); /* если оставить 1fr, то получится 273.33px, по-этому вручную пишем 273px */
        gap: 24px;
    }
}
