.header {
    height: var(--header-height);
}
    .header__detachable-part {
        position: fixed;
        z-index: 100;
        left: 0;
        top: 0;
        right: 0;
        height: var(--header-height);
        padding-top: 16px;
        transition: background-color var(--transition-hover);
    }

    .page-scrolled .header__detachable-part {
        background-color: rgb(255 255 255 / 30%);
    }

        .header__wrap {
            position: relative;
        }
            .header__logo {
                position: absolute;
                left: 0;
                top: 5px;
                display: block;
                /*width: 323px;*/
                /*height: 97px;*/
                width: 240px;
                height: 75px;
                background-image: url("../images/header-logo/header-logo@1x.png");
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center center;
                text-indent: 200%;
                white-space: nowrap;
                overflow: hidden;
            }

            @media (min-resolution: 1.5dppx) {
                .header__logo {
                    background-image: url("../images/header-logo/header-logo@2x.png");
                }
            }

            @media (min-resolution: 2.5dppx) {
                .header__logo {
                    background-image: url("../images/header-logo/header-logo@3x.png");
                }
            }

            .header__first-line {
                width: fit-content;
                margin-left: auto;
                display: flex;
                align-items: center;
                gap: 10px;
            }
                .header__action {
                    display: block;
                    padding: 5px;
                }

                .header__action:last-child {
                    margin-right: -5px;
                }
                    .header__icon {
                        vertical-align: top;
                        fill: #DAC0A3;
                        transition: fill var(--transition-hover);
                    }

                    .header__action:hover .header__icon {
                        fill: #FFFFFF;
                    }

            .header__second-line {
                width: fit-content;
                margin-left: auto;
                display: flex;
                align-items: center;
                gap: 39px;
            }
                .header__nav {
                    display: flex;
                    align-items: center;
                    gap: 24px;
                }
                    .header__link {
                        padding: 12px 12px 13px;
                        font-family: var(--font-heading);
                        font-weight: bold;
                        font-style: italic;
                        font-size: 20px;
                        line-height: 23px;
                        color: #E4BB6B;
                        text-transform: uppercase;
                        text-decoration: 1.5px underline transparent;
                        text-underline-offset: 6px;
                        transition: text-decoration-color var(--transition-hover);
                    }

                    .header__link:hover {
                        text-decoration-color: currentColor;
                    }

                .header__toggle-menu {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: -16px; /* Делаем так, чтобы иконка была по правому краю контейнера */
                    width: 70px;
                    height: 48px;
                    border: none;
                    padding: 0;
                    background-color: transparent;
                    cursor: pointer;
                }
                    .header__burger {
                        vertical-align: top;
                        width: 40px;
                        height: auto;
                        fill: #E4BB6B;
                        transition: fill var(--transition-hover);
                    }

                    .header__toggle-menu:hover .header__burger {
                        fill: #FFFFFF;
                    }

    .header__dropdown {
        position: fixed;
        z-index: 100;
        left: 0;
        right: 0;
        top: var(--header-height);
        margin-top: 17px;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        display: none;
    }

    .burger-expanded .header__dropdown {
        display: block;
    }
        .header__drop-wrap {

        }
            .header__inner-wrap {
                margin-left: -30px;
                margin-right: -30px;
                padding: 24px 30px;
                background-color: #FFFFFF;
                color-scheme: light;
                color: #0B1E3A;
            }



@media (1700px <= width) {

    .header {
        /*height: var(--header-height);*/
    }
        .header__detachable-part {
            /*position: fixed;*/
            /*z-index: 100;*/
            /*left: 0;*/
            /*top: 0;*/
            /*right: 0;*/
            /*height: var(--header-height);*/
            padding-top: 28px;
        }
            .header__wrap {
                /*position: relative;*/
            }
                .header__logo {
                    /*position: absolute;*/
                    /*left: 0;*/
                    top: 9px;
                    /*display: block;*/
                    width: 323px;
                    height: 97px;
                }

                .header__first-line {
                    /*width: fit-content;*/
                    /*margin-left: auto;*/
                    /*display: flex;*/
                    /*align-items: center;*/
                    /*gap: 10px;*/
                }
                    .header__action {
                        /*display: block;*/
                        /*padding: 5px;*/
                    }

                    .header__action:last-child {
                        /*margin-right: -5px;*/
                    }
                        .header__icon {
                            /*vertical-align: top;*/
                            /*fill: #DAC0A3;*/
                            /*transition: fill var(--transition-hover);*/
                        }

                        .header__action:hover .header__icon {
                            /*fill: #FFFFFF;*/
                        }

                .header__second-line {
                    /*width: fit-content;*/
                    /*margin-left: auto;*/
                    /*display: flex;*/
                    /*align-items: center;*/
                    gap: 35px;
                }
                    .header__nav {
                        /*display: flex;*/
                        /*align-items: center;*/
                        gap: 24px;
                    }
                        .header__link {
                            padding: 12px 16px;
                            /*font-family: var(--font-heading);*/
                            /*font-weight: bold;*/
                            /*font-style: italic;*/
                            font-size: 22px;
                            line-height: 26px;
                            /*color: #E4BB6B;*/
                            /*text-transform: uppercase;*/
                            /*text-decoration: 1.5px underline transparent;*/
                            /*text-underline-offset: 6px;*/
                            /*transition: text-decoration-color var(--transition-hover);*/
                        }

                        .header__link:hover {
                            /*text-decoration-color: currentColor;*/
                        }

                    .header__toggle-menu {
                        /*display: flex;*/
                        /*align-items: center;*/
                        /*justify-content: center;*/
                        margin-top: -4px;
                        margin-right: -6px; /* Делаем так, чтобы иконка была по правому краю контейнера */
                        /*margin-bottom: -4px; !* на 4px выходит за границы шапки *!*/
                        /*width: 70px;*/
                        height: 50px;
                        /*border: none;*/
                        /*padding: 0;*/
                        /*background-color: transparent;*/
                        /*cursor: pointer;*/
                    }
                        .header__burger {
                            /*vertical-align: top;*/
                            width: 58px;
                            padding-top: 4px;
                            /*height: auto;*/
                            /*fill: #E4BB6B;*/
                            /*transition: fill var(--transition-hover);*/
                        }

                        .header__toggle-menu:hover .header__burger {
                            /*fill: #FFFFFF;*/
                        }

        .header__dropdown {
            /*position: fixed;*/
            /*z-index: 100;*/
            /*left: 0;*/
            /*right: 0;*/
            /*top: var(--header-height);*/
            /*margin-top: 17px;*/
            /*width: fit-content;*/
            /*margin-left: auto;*/
            /*margin-right: auto;*/
        }
            .header__drop-wrap {

            }
                .header__inner-wrap {
                    margin-left: -40px;
                    margin-right: -40px;
                    padding: 33px 40px;
                }
}



@media (width < 740px) {

    .header {
        padding-top: var(--header-height);
        /*height: var(--header-height);*/
    }
        .header__detachable-part {
            /*position: fixed;*/
            /*z-index: 100;*/
            /*left: 0;*/
            /*top: 0;*/
            /*right: 0;*/
            /*height: var(--header-height);*/
            padding-top: 0;
            /*transition: background-color var(--transition-hover);*/
        }

        .page-scrolled .header__detachable-part {
            /*background-color: rgb(255 255 255 / 30%);*/
        }
            .header__wrap {
                /*position: relative;*/
                display: flex;
                align-items: stretch;
                justify-content: space-between;
            }
                .header__logo {
                    /*position: absolute;*/
                    /*left: 0;*/
                    top: 24px;
                    /*display: block;*/
                    width: 149px;
                    height: 45px;
                    /*background-image: url("../images/header-logo/header-logo@1x.png");*/
                    /*background-size: contain;*/
                    /*background-repeat: no-repeat;*/
                    /*background-position: center center;*/
                    /*text-indent: 200%;*/
                    /*white-space: nowrap;*/
                    /*overflow: hidden;*/
                }

                .burger-expanded .header__logo {
                    display: none;
                }

                .header__first-line {
                    /*width: fit-content;*/
                    /*margin-left: auto;*/
                    /*display: flex;*/
                    /*align-items: center;*/
                    /*gap: 10px;*/
                    display: none;
                }

                .burger-expanded .header__first-line {
                    display: flex;
                    margin-left: 0;
                }
                    .header__action {
                        /*display: block;*/
                        /*padding: 5px;*/
                    }

                    .header__action:last-child {
                        /*margin-right: -5px;*/
                    }
                        .header__icon {
                            /*vertical-align: top;*/
                            /*fill: #DAC0A3;*/
                            /*transition: fill var(--transition-hover);*/
                        }

                        .burger-expanded .header__icon {
                            fill: #6073A2;
                        }

                        .header__action:hover .header__icon {
                            /*fill: #FFFFFF;*/
                        }

                .header__second-line {
                    /*width: fit-content;*/
                    /*margin-left: auto;*/
                    /*display: flex;*/
                    /*align-items: center;*/
                    /*gap: 39px;*/
                }
                    .header__nav {
                        display: none;
                    }
                        .header__link {
                            /*padding: 12px 12px 13px;*/
                            /*font-family: var(--font-heading);*/
                            /*font-weight: bold;*/
                            /*font-style: italic;*/
                            /*font-size: 20px;*/
                            /*line-height: 23px;*/
                            /*color: #E4BB6B;*/
                            /*text-transform: uppercase;*/
                            /*text-decoration: 1.5px underline transparent;*/
                            /*text-underline-offset: 6px;*/
                            /*transition: text-decoration-color var(--transition-hover);*/
                        }

                        .header__link:hover {
                            /*text-decoration-color: currentColor;*/
                        }

                    .header__toggle-menu {
                        /*display: flex;*/
                        /*align-items: center;*/
                        /*justify-content: center;*/
                        margin-right: calc(-1 * var(--container-padding)); /* Делаем так, чтобы иконка была по правому краю контейнера */
                        width: 100px;
                        height: var(--header-height);
                        /*border: none;*/
                        /*padding: 0;*/
                        /*background-color: transparent;*/
                        /*cursor: pointer;*/
                    }
                        .header__burger {
                            /*vertical-align: top;*/
                            width: 44px;
                            /*height: auto;*/
                            /*fill: #E4BB6B;*/
                            /*transition: fill var(--transition-hover);*/
                        }

                        .header__toggle-menu:hover .header__burger {
                            /*fill: #FFFFFF;*/
                        }

        .header__dropdown {
            position: static;
            /*z-index: 100;*/
            /*left: 0;*/
            /*right: 0;*/
            /*top: var(--header-height);*/
            margin-top: 0;
            width: auto;
            /*margin-left: auto;*/
            /*margin-right: auto;*/
            /*display: none;*/
        }

        .burger-expanded .header__dropdown {
            /*display: block;*/
        }
            .header__drop-wrap {

            }
                .header__inner-wrap {
                    margin: 0;
                    padding: 0;
                    /*background-color: #FFFFFF;*/
                    /*color-scheme: light;*/
                    /*color: #0B1E3A;*/
                }


    .burger-expanded {

    }
}


