.header-275 {
    --slide: 500ms ease;
}

.header-275 {

}
    .header-275__mobile-panel {
        display: none;
    }

    .header-275__desktop-variant-and-mobile-dropdown {
        position: fixed;
        z-index: 300; /* на основном сайте было выше .week-headings */
        left: 0;
        right: 0;
        top: 0;
        height: var(--header-height);
        transition: height var(--slide),
                    background-color var(--slide),
                    backdrop-filter var(--slide);
    }

    .page-scrolled .header-275__desktop-variant-and-mobile-dropdown {
        height: var(--header-collapsed-height);
        background-color: rgb(11 30 58 / 70%);
        backdrop-filter: blur(4px);
        transform: translate3d(0, 0, 0); /* форсируем 3d acceleration */
        backface-visibility: hidden; /* улучшаем производительность */
    }
        .header-275__desktop-wrap {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between; /* Навигация внутри будет по центру, всё остальное position: absolute по краям */
        }
            .header-275__desktop-logo {

            }

            .header-275__navigation {
                margin-top: 2px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 16px;
            }
                .header-275__link {
                    padding: 12px 12px 13px;
                    font-family: var(--font-heading);
                    font-weight: 600;
                    font-style: italic;
                    font-size: 16px;
                    line-height: 22px;
                    color: #E4BB6B;
                    text-transform: uppercase;
                    text-decoration: 1px underline transparent;
                    text-underline-offset: 4px;
                    transition: text-decoration-color var(--transition-hover);
                }

                .header-275__link:hover {
                    text-decoration-color: currentColor;
                }

            .header-275__main-site {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 6px;
                width: fit-content;
                border-radius: 4px;
                padding: 10px 12px;
                font-weight: 500;
                font-size: 16px;
                line-height: 22px;
                color: #E4BB6B;
                text-decoration: none;
                transition: background-color var(--transition-hover);
            }

            .header-275__main-site:hover {
                background-color: rgb(228 187 107 / 15%);
            }
                .header-275__main-site-icon {
                    vertical-align: top;
                    fill: currentColor;
                }




@media (1850px <= width) {

    .header-275 {

    }
        .header-275__mobile-panel {

        }

        .header-275__desktop-variant-and-mobile-dropdown {

        }

        .page-scrolled .header-275__desktop-variant-and-mobile-dropdown {

        }
            .header-275__desktop-wrap {

            }
                .header-275__desktop-logo {

                }

                .header-275__navigation {
                    gap: 30px;
                }
                    .header-275__link {
                        padding: 16px 15px 17px;
                        font-size: 18px;
                        line-height: 24px;
                    }

                    .header-275__link:hover {

                    }

                .header-275__main-site {
                    gap: 7px;
                    font-size: 18px;
                    line-height: 24px;
                }

                .header-275__main-site:hover {

                }
                    .header-275__main-site-icon {

                    }
}




@media (width < 740px) {

    .header-275 {

    }
        .header-275__mobile-panel {
            display: block;
            position: fixed;
            z-index: 300; /* на основном сайте было выше .week-headings */
            left: 0;
            right: 0;
            top: 0;
            height: var(--header-height);
            transition: height var(--slide),
                        background-color var(--slide),
                        backdrop-filter var(--slide);
        }

        .page-scrolled .header-275__mobile-panel {
            height: var(--header-collapsed-height);
            background-color: rgb(11 30 58 / 70%);
            backdrop-filter: blur(4px);
            transform: translate3d(0, 0, 0); /* форсируем 3d acceleration */
            backface-visibility: hidden; /* улучшаем производительность */
        }

            .header-275__mobile-wrap {
                height: 100%;
                display: flex;
                align-items: flex-start;
            }
                .header-275__mobile-logo {
                    margin-top: 18px;
                    transition: margin-top var(--slide);
                }

                .page-scrolled .header-275__mobile-logo {
                    margin-top: 6px;
                }

                .header-275__show-menu {
                    margin-left: auto;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: calc(-1 * var(--container-padding) + 2px); /* Делаем так, чтобы иконка была по правому краю контейнера. 2px чтобы не породить горизонтальный скролл (иногда встречается баг на андроиде) */
                    width: 100px;
                    height: var(--header-height);
                    border: none;
                    padding: 0 0 0 40px;
                    background-color: transparent;
                    cursor: pointer;
                    transition: height var(--slide);
                }

                .header-275__show-menu:hover .header-275__burger {
                    fill: #FFFFFF;
                }

                .page-scrolled:not(.burger-expanded) .header-275__show-menu {
                    height: 58px;
                }
                    .header-275__burger {
                        vertical-align: top;
                        fill: #E4BB6B;
                    }

                    .burger-expanded .header-275__burger {
                        display: none;
                    }

                    /* Крестик закрытия бургера: */
                    .header-275__burger-cross {
                        vertical-align: top;
                        fill: #E4BB6B;
                        display: none;
                    }

                    .burger-expanded .header-275__burger-cross {
                        display: block;
                    }

        .header-275__desktop-variant-and-mobile-dropdown {
            position: static;
            height: auto;
            display: none;
        }

        .burger-expanded .header-275__desktop-variant-and-mobile-dropdown {
            display: block;
        }

        .page-scrolled .header-275__desktop-variant-and-mobile-dropdown {
            height: auto;
            background-color: transparent;
            backdrop-filter: none;
            transform: none;
            /*backface-visibility: hidden; !* улучшаем производительность *!*/
        }
            .header-275__desktop-wrap {
                height: auto;
                display: block;
                padding-top: calc(var(--header-height) + 12px);
            }
                .header-275__desktop-logo {
                    display: none;
                }

                .header-275__navigation {
                    margin-top: 0;
                    display: flex;
                    width: fit-content;
                    flex-direction: column;
                    align-items: stretch;
                    gap: 0;
                }
                    .header-275__link {
                        padding: 14px 0;
                        /*font-family: var(--font-heading);*/
                        /*font-weight: 600;*/
                        /*font-style: italic;*/
                        /*font-size: 16px;*/
                        /*line-height: 22px;*/
                        /*color: #E4BB6B;*/
                        /*text-transform: uppercase;*/
                        /*text-decoration: 1px underline transparent;*/
                        /*text-underline-offset: 4px;*/
                        /*transition: text-decoration-color var(--transition-hover);*/
                    }

                    .header-275__link:hover {
                        /*text-decoration-color: currentColor;*/
                    }

                .header-275__main-site {
                    margin-top: 24px;
                    background-color: #E4BB6B;
                    border-radius: 23px;
                    padding: 12px 16px;
                    /*display: flex;*/
                    /*align-items: center;*/
                    /*justify-content: center;*/
                    /*gap: 6px;*/
                    /*width: fit-content;*/
                    /*border-radius: 4px;*/
                    /*padding: 10px 12px;*/
                    /*font-weight: 500;*/
                    /*font-size: 16px;*/
                    /*line-height: 22px;*/
                    color: #0B1E3A;
                    /*text-decoration: none;*/
                    /*transition: background-color var(--transition-hover);*/
                }

                .header-275__main-site:hover {
                    background-color: #E4BB6B;
                }
                    .header-275__main-site-icon {
                        /*vertical-align: top;*/
                        /*fill: currentColor;*/
                    }
}










/*@media (width < 740px) {*/

/*    .header-275 {*/

/*    }*/
/*        .burger-expanded .header-275__mobile-panel {*/
/*            background-color: #FFFFFF;*/
/*            color-scheme: light;*/
/*        }*/

/*        .page-scrolled.burger-expanded .header-275__mobile-panel {*/
/*            background-color: #FFFFFF;*/
/*            backdrop-filter: none;*/
/*            transition: none;*/
/*        }*/
/*                .burger-expanded .header-275__mobile-logo {*/
/*                    display: none;*/
/*                }*/

/*    !*.header-275__toggle-menu {*!*/
/*    !*    position: absolute;*!*/
/*    !*    right: 0;*!*/
/*    !*    top: 0;*!*/
/*    !*    width: 70px;*!*/
/*    !*    height: 48px;*!*/
/*    !*    border: none;*!*/
/*    !*    padding: 0;*!*/
/*    !*    background-color: transparent;*!*/
/*    !*    cursor: pointer;*!*/
/*    !*}*!*/
/*    !*.header-275__burger {*!*/
/*    !*    vertical-align: top;*!*/
/*    !*    width: 40px;*!*/
/*    !*    height: auto;*!*/
/*    !*    fill: #E4BB6B;*!*/
/*    !*    transition: fill var(--transition-hover);*!*/
/*    !*}*!*/

/*    !*.header-275__burger-cross {*!*/
/*    !*    display: none;*!*/
/*    !*}*!*/

/*    !*.header-275__toggle-menu:hover .header-275__burger {*!*/
/*    !*    fill: #FFFFFF;*!*/
/*    !*}*!*/
/*                    .header-275__toggle-menu {*/
/*                        !*display: flex;*!*/
/*                        !*align-items: center;*!*/
/*                        !*justify-content: center;*!*/
/*                        margin-right: calc(-1 * var(--container-padding)); !* Делаем так, чтобы иконка была по правому краю контейнера *!*/
/*                        width: 100px;*/
/*                        height: var(--header-height);*/
/*                        !*border: none;*!*/
/*                        !*padding: 0;*!*/
/*                        !*background-color: transparent;*!*/
/*                        !*cursor: pointer;*!*/
/*                        transition: height var(--slide);*/
/*                    }*/

/*                    .page-scrolled:not(.burger-expanded) .header-275__toggle-menu {*/
/*                        height: 58px;*/
/*                    }*/

/*                        .header-275__burger {*/
/*                            !*vertical-align: top;*!*/
/*                            width: 44px;*/
/*                            !*height: auto;*!*/
/*                            !*fill: #E4BB6B;*!*/
/*                            !*transition: fill var(--transition-hover);*!*/
/*                        }*/

/*                        .burger-expanded .header-275__burger {*/
/*                            display: none;*/
/*                        }*/


/*                        !* Крестик закрытия бургера: *!*/
/*                        .header-275__burger-cross {*/
/*                            margin-right: -24px;*/
/*                            fill: #303F64;*/
/*                        }*/

/*                        .burger-expanded .header-275__burger-cross {*/
/*                            display: block;*/
/*                        }*/

/*    .burger-expanded {*/

/*    }*/
/*}*/


