.header {
    --slide: 500ms ease;
}

.header {
    height: var(--header-height);
}

.header--zero-height {
    height: 0;
}
    .header__detachable-part {
        position: fixed;
        z-index: 300;
        left: 0;
        top: 0;
        right: 0;
        height: var(--header-height);
        transition: height var(--slide),
                    background-color var(--slide),
                    backdrop-filter var(--slide);
    }

    .page-scrolled .header__detachable-part {
        height: var(--header-collapsed-height);
        background-color: rgb(11 30 58 / 70%);
        backdrop-filter: blur(4px);
        transform: translate3d(0, 0, 0); /* форсируем 3d acceleration */
        backface-visibility: hidden; /* улучшаем производительность */
    }
        .header__wrap {
            position: relative;
        }
            .header__logo {
                position: absolute;
                left: 0;
                top: 21px;
                transition: top var(--slide);
            }

            .page-scrolled .header__logo {
                top: 6px;
            }


            .header__first-line {
                position: absolute;
                right: 0;
                top: 16px;
                width: fit-content;
                margin-left: auto;
                display: flex;
                align-items: center;
                gap: 10px;
                transition: top var(--slide);
            }

            .page-scrolled .header__first-line {
                top: -44px;
            }

                .header__action {
                    display: block;
                    padding: 5px;
                }

                .header__action:first-child {
                    margin-left: -7px;
                }

                .header__action:last-of-type {
                    margin-right: -5px;
                }

                /* Вообще язык в шапке должен быть сделать как header__action.
                Но конкретно на лендинге берётся компонент .lang изначально
                предназначенный для другого использования
                */
                .header__lang {
                    margin-left: 4px;
                }
                    .header__lang .lang {

                    }

                .search-expanded .header__action--search {
                    opacity: 0;
                    visibility: hidden;
                }
                    .header__icon {
                        vertical-align: top;
                        fill: #DAC0A3;
                        transition: fill var(--transition-hover);
                    }

                    .header__action:hover .header__icon {
                        fill: #FFFFFF;
                    }

                .header__search {
                    position: absolute;
                    right: 120px;
                    top: 50%;
                    margin-top: -22px;
                    align-items: stretch;
                    display: none;
                }

                .search-expanded .header__search {
                    display: flex;
                    animation: var(--slide-left);
                }
                    .header__search-form {
                        width: 344px;
                    }

                    .header__close-search {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 0;
                        border: none;
                        width: 40px;
                        background-color: transparent;
                        cursor: pointer;
                    }
                        .header__search-cross {
                            fill: #F9F0E5;
                        }

                        .header__close-search:hover .header__search-cross {
                            fill: #FFFFFF;
                        }




            .header__second-line {
                position: absolute;
                right: 0;
                top: 56px;
                width: fit-content;
                margin-left: auto;
                display: flex;
                align-items: center;
                gap: 20px;
                transition: top var(--slide);
            }

            .page-scrolled .header__second-line {
                top: 21px;
            }

                .header__shortcuts {
                    display: flex;
                    align-items: center;
                    gap: 24px;
                }
                    .header__link {
                        padding: 12px 12px 13px;
                        font-family: var(--font-heading);
                        font-weight: bold;
                        font-style: italic;
                        font-size: 20px;
                        line-height: 23px;
                        color: #E4BB6B;
                        text-transform: uppercase;
                        text-decoration: 1.5px underline transparent;
                        text-underline-offset: 6px;
                        transition: text-decoration-color var(--transition-hover);
                    }

                    .header__link:hover {
                        text-decoration-color: currentColor;
                    }

                .header__toggle-menu {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: -16px; /* Делаем так, чтобы иконка была по правому краю контейнера */
                    width: 70px;
                    height: 48px;
                    border: none;
                    padding: 0;
                    background-color: transparent;
                    cursor: pointer;
                }
                    .header__burger {
                        vertical-align: top;
                        width: 40px;
                        height: auto;
                        fill: #E4BB6B;
                        transition: fill var(--transition-hover);
                    }

                    .header__burger-cross {
                        display: none;
                    }

                    .header__toggle-menu:hover .header__burger {
                        fill: #FFFFFF;
                    }


    @keyframes header-dropdown {
        from { opacity: 50%; transform: translateY(-20px); }
        to { opacity: 100%; transform: translateY(0); }
    }

    .header__dropdown {
        position: fixed;
        z-index: 300; /* выше .week-headings */
        left: 0;
        right: 0;
        top: var(--header-height);
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        display: none;
        transition: margin-top var(--slide);
    }

    .page-scrolled .header__dropdown {
        margin-top: -28px; /* На столько шапка стала меньше */
    }

    .burger-expanded .header__dropdown {
        display: block;
        animation: header-dropdown 800ms var(--ease-out-quint);
    }
        .header__drop-wrap {

        }
            .header__inner-wrap {
                position: relative;
                margin-left: -30px;
                margin-right: -30px;
                padding: 24px 30px 30px;
                background-color: #FFFFFF;
                color-scheme: light;
                color: #0B1E3A;
            }
                .header__close-menu {
                    position: absolute;
                    right: 0;
                    top: 0;
                    padding: 16px;
                    background-color: transparent;
                    border: none;
                    cursor: pointer;
                }
                    .header__nav-cross {
                        vertical-align: top;
                        fill: #6073A2;
                    }

                    .header__close-menu:hover .header__nav-cross {
                        fill: #0B1E3A;
                    }

                .header__navigation {

                }
                    .header__profile-link {
                        margin-top: -17px;
                        display: block;
                        width: fit-content;
                        border: 1px solid currentColor;
                        border-radius: 4px;
                        padding: 10px 8px;
                        font-size: 15px;
                        line-height: 22px;
                        color: #505050;
                        text-decoration: none;
                        transition: background-color var(--transition-hover);
                    }

                    .header__profile-link:hover {
                        background-color: rgb(11 30 58 / 10%);
                    }


@media (1850px <= width) {

    .header {

    }
        .header__detachable-part {

        }

        .page-scrolled .header__detachable-part {

        }
            .header__wrap {

            }
                .header__logo {
                    top: 36px;
                }

                .page-scrolled .header__logo {
                    top: 4px;
                }

                .header__first-line {
                    top: 28px;
                }

                .page-scrolled .header__first-line {
                    top: -52px;
                }
                    .header__action {

                    }

                    .header__action:last-child {

                    }
                        .header__icon {

                        }

                        .header__action:hover .header__icon {

                        }

                .header__second-line {
                    top: 68px;
                    gap: 35px;
                }

                .page-scrolled .header__second-line {
                    top: 27px;
                }

                    .header__shortcuts {
                        gap: 24px;
                    }
                        .header__link {
                            padding: 12px 16px;
                            font-size: 22px;
                            line-height: 26px;
                        }

                        .header__link:hover {

                        }

                    .header__toggle-menu {
                        margin-top: -4px;
                        margin-right: -6px; /* Делаем так, чтобы иконка была по правому краю контейнера */
                        height: 50px;
                    }
                        .header__burger {
                            width: 58px;
                            padding-top: 4px;
                        }

                        .header__burger-cross {

                        }

                        .header__toggle-menu:hover .header__burger {

                        }

        .header__dropdown {

        }

        .page-scrolled .header__dropdown {
            margin-top: -51px; /* На столько шапка стала меньше */
        }

            .header__drop-wrap {

            }
                .header__inner-wrap {
                    margin-left: -40px;
                    margin-right: -40px;
                    padding: 33px 40px 40px;
                }
                    .header__close-menu {

                    }

                .header__navigation {

                }

                .header__profile-link {
                    padding: 13px 9px;
                    font-size: 16px;
                    line-height: 24px;
                }

                .header__profile-link:hover {

                }
}



@media (width < 740px) {

    .header {
        padding-top: var(--header-height);
    }

    html:not(.burger-expanded) .header--zero-height {
        padding-top: 0;
    }

        .header__detachable-part {
            padding-top: 0;
        }

        .page-scrolled .header__detachable-part {

        }

        .burger-expanded .header__detachable-part {
            background-color: #FFFFFF;
            color-scheme: light;
        }

        .page-scrolled.burger-expanded .header__detachable-part {
            background-color: #FFFFFF;
            backdrop-filter: none;
            transition: none;
        }
            .header__wrap {
                display: flex;
                align-items: stretch;
                justify-content: space-between;
            }
                .header__logo {
                    top: 18px;
                }

                .page-scrolled .header__logo {
                    top: 6px;
                }

                .burger-expanded .header__logo {
                    display: none;
                }

                .header__first-line {
                    left: 0;
                    width: 100%;
                    top: 20px;
                    display: none;
                }

                .page-scrolled .header__first-line {
                    top: 20px;
                }

                .burger-expanded .header__first-line {
                    display: flex;
                    margin-left: 0;
                }
                    .header__action {

                    }

                    .header__action:last-child {

                    }
                        .header__icon {

                        }

                        .burger-expanded .header__icon,
                        .burger-expanded:hover .header__icon {
                            fill: #6073A2;
                        }

                        .header__action:hover .header__icon {

                        }

                /* Вообще язык в шапке должен быть сделать как header__action.
                  Но конкретно на лендинге берётся компонент .lang изначально
                  предназначенный для другого использования
                */
                .header__lang {
                    margin-left: 4px;
                }
                    .header__lang .lang__link {
                        padding-left: 8px;
                        padding-right: 8px;
                    }

                    .header__lang .lang__link--current {
                        color: #6073A2;
                    }


                .header__search {
                    z-index: 10;
                    width: 100%;
                    right: auto;
                    background-color: #FFFFFF;
                }

                .search-expanded .header__search {
                    animation: none;
                }
                    .header__search-form {
                        width: 100%;
                    }

                    .header__close-search {
                        width: 54px;
                        padding-right: 14px;
                        margin-right: -14px;
                    }
                        .header__search-cross {
                            fill: #303F64;
                        }

                        .header__close-search:hover .header__search-cross {
                            fill: #303F64;
                        }


                .header__second-line {
                    top: 0;
                }

                .page-scrolled .header__second-line {
                    top: 0;
                }
                    .header__shortcuts {
                        display: none;
                    }
                        .header__link {

                        }

                        .header__link:hover {

                        }

                    .header__toggle-menu {
                        margin-right: calc(-1 * var(--container-padding) + 2px); /* Делаем так, чтобы иконка была по правому краю контейнера. 2px чтобы не породить горизонтальный скролл (иногда встречается баг на андроиде) */
                        width: 100px;
                        height: var(--header-height);
                        transition: height var(--slide);
                    }

                    .page-scrolled:not(.burger-expanded) .header__toggle-menu {
                        height: 58px;
                    }

                        .header__burger {
                            width: 44px;
                        }

                        .burger-expanded .header__burger {
                            display: none;
                        }


                        /* Крестик закрытия бургера: */
                        .header__burger-cross {
                            margin-right: -24px;
                            fill: #303F64;
                        }

                        .burger-expanded .header__burger-cross {
                            display: block;
                        }



        .header__dropdown {
            position: static;
            margin-top: 0;
            width: auto;
            animation: none;
        }

        .page-scrolled .header__dropdown {
            margin-top: 0;
        }

        .burger-expanded .header__dropdown {

        }
            .header__drop-wrap {
                padding-bottom: 55px;
            }
                .header__inner-wrap {
                    margin: 0;
                    padding: 0;
                }
                    .header__close-menu {
                        display: none;
                    }

                .header__navigation {

                }
                    .header__profile-link {
                        margin-top: 50px;
                        padding: 13px 9px;
                        font-size: 16px;
                        line-height: 24px;
                    }

                    .header__profile-link:hover {

                    }


    .burger-expanded {

    }
}


