.header-volkov {
    --slide: 500ms ease;
}

.header-volkov {

}
    .header__detachable-part {
        position: fixed;
        z-index: 300; /* на основном сайте было выше .week-headings */
        left: 0;
        right: 0;
        top: 0;
        height: var(--header-height);
        transition: height var(--slide),
                    background-color var(--slide),
                    backdrop-filter var(--slide);
    }

    .page-scrolled .header__detachable-part {
        height: var(--header-collapsed-height);
        background-color: rgb(11 30 58 / 70%);
        backdrop-filter: blur(4px);
        transform: translate3d(0, 0, 0); /* форсируем 3d acceleration */
        backface-visibility: hidden; /* улучшаем производительность */
    }
        .header-volkov__wrap {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between; /* Навигация внутри будет по центру, всё остальное position: absolute по краям */
        }
            .header-volkov__logo {

            }

            .header-volkov__language {

            }


@media (1850px <= width) {

    .header-volkov {

    }
        .header__detachable-part {

        }

        .page-scrolled .header__detachable-part {

        }
            .header-volkov__wrap {

            }
                .header-volkov__logo {

                }

                .header-volkov__language {

                }
}




@media (width < 740px) {

    .header-volkov {

    }
        .header__detachable-part {

        }

        .burger-expanded .header__detachable-part {

        }

        .page-scrolled .header__detachable-part {

        }
            .header-volkov__wrap {

            }
                .header-volkov__logo {

                }

                .header-volkov__language {
                    margin-right: -10px;
                }
}









