html {
    height: 100%;
    min-width: 1250px; /* Планшеты */
}

@media (1700px <= width) {

    html {
        /* Здесь минимальная ширина не нужна */
    }
}


@media (width < 740px) {

    html {
        min-width: 320px;
    }
}
