.jumbotron {
    --intro-height: 567px;
}

.jumbotron {

}
    .jumbotron__limitation {
        position: relative;
        overflow: hidden; /* обрезаем after */
    }
        .jumbotron__widget {

        }

        .jumbotron__limitation::before {
            content: "";
            position: absolute;
            z-index: 50;
            left: 50%;
            top: 0;
            margin-left: -925px;
            width: 1850px;
            height: var(--intro-height);
            background-color: rgba(48 63 100 / 30%);
            clip-path: path("M1217.25 567H1850L1849.5 0H614.5C945.299 0 1213.86 253.305 1217.25 567Z");
            background-position: right center;
            background-size: cover;
            background-repeat: no-repeat;
            backdrop-filter: blur(8px);
            transform: translate3d(0, 0, 0); /* форсируем 3d acceleration */
            backface-visibility: hidden; /* улучшаем производительность */
            pointer-events: none;
        }

        .jumbotron__content {
            position: absolute;
            z-index: 75;
            inset: 0;
            pointer-events: none;
        }
            .jumbotron__sidebar {
                pointer-events: auto;
                width: fit-content;
                height: var(--intro-height);
                padding-bottom: 32px;
                margin-left: auto;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                gap: 24px;
            }
                .jumbotron__tile {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    width: 253px;
                    height: 103px;
                    padding: 6px 11px;
                    text-decoration: none;
                    box-shadow: 0 0 0 3px transparent;
                    border-radius: 10px;
                    transition: box-shadow 300ms ease;
                }

                .jumbotron__tile--current {
                    box-shadow: 0 0 0 3px #E3BB6B;
                }
                    .jumbotron__tile-image {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        vertical-align: top;
                        background-color: var(--black-image-fallback);
                        border-radius: 10px;
                        transition: filter var(--transition-hover);
                    }

                    .jumbotron__tile:hover .jumbotron__tile-image {
                        filter: brightness(110%) contrast(110%);
                    }

                    .jumbotron__tile::before {
                        content: "";
                        position: absolute;
                        z-index: 10;
                        left: 0;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        background-image: linear-gradient(to bottom, rgb(11 30 58 / 0%), rgb(11 30 58 / 0%) 50%, rgb(11 30 58 / 85%) 100%);
                        border-radius: 10px;
                        display: block;
                    }

                    .jumbotron__tile-heading {
                        position: relative;
                        z-index: 20;
                        font-family: var(--font-heading);
                        font-weight: 500;
                        font-style: italic;
                        font-size: 18px;
                        line-height: 21px;
                        color: rgb(255 255 255 / 80%);
                        text-transform: uppercase;
                    }


@media (1850px <= width) {

    .jumbotron {
        --intro-height: 800px;
    }

    .jumbotron {
        /*margin-top: calc(-1 * var(--header-height));*/
        /*background-color: #303F64;*/
    }
        .jumbotron__limitation {
            /*position: relative;*/
            margin-left: auto;
            margin-right: auto;
            max-width: 2560px;
            /*overflow: hidden; !* обрезаем after *!*/
        }
            .jumbotron__widget {

            }

            .jumbotron__limitation::before {
                margin-left: -1280px;
                width: 2560px;
                /*background-color: rgba(48 63 100 / 30%);*/
                clip-path: path("M2560 0H981C1421.72 0 1779 363.695 1779 800H2560V0Z");
            }

        .jumbotron__content {
            /*position: absolute;*/
            /*z-index: 75;*/
            /*inset: 0;*/
            /*pointer-events: none;*/
        }
            .jumbotron__sidebar {
                /*pointer-events: auto;*/
                /*width: fit-content;*/
                /*height: var(--intro-height);*/
                /*padding-bottom: 32px;*/
                /*margin-left: auto;*/
                /*display: flex;*/
                /*flex-direction: column;*/
                /*justify-content: flex-end;*/
                /*gap: 24px;*/
            }
                .jumbotron__tile {
                    /*position: relative;*/
                    /*display: flex;*/
                    /*flex-direction: column;*/
                    /*justify-content: flex-end;*/
                    width: 363px;
                    height: 148px;
                    padding: 16px;
                    /*text-decoration: none;*/
                }
                    .jumbotron__tile-image {
                        /*position: absolute;*/
                        /*left: 0;*/
                        /*top: 0;*/
                        /*width: 100%;*/
                        /*height: 100%;*/
                        /*vertical-align: top;*/
                        /*background-color: var(--black-image-fallback);*/
                        /*border-radius: 10px;*/
                        /*transition: filter var(--transition-hover);*/
                    }

                    .jumbotron__tile:hover .jumbotron__tile-image {
                        /*filter: brightness(110%) contrast(110%);*/
                    }

                    .jumbotron__tile::before {
                        /*content: "";*/
                        /*position: absolute;*/
                        /*z-index: 10;*/
                        /*left: 0;*/
                        /*top: 0;*/
                        /*right: 0;*/
                        /*bottom: 0;*/
                        /*background-image: linear-gradient(to bottom, rgb(11 30 58 / 0%), rgb(11 30 58 / 0%) 50%, rgb(11 30 58 / 85%) 100%);*/
                        /*border-radius: 10px;*/
                        /*display: block;*/
                    }

                    .jumbotron__tile-heading {
                        /*position: relative;*/
                        /*z-index: 20;*/
                        /*font-family: var(--font-heading);*/
                        /*font-weight: 500;*/
                        /*font-style: italic;*/
                        font-size: 20px;
                        line-height: 23px;
                        /*color: rgb(255 255 255 / 80%);*/
                        /*text-transform: uppercase;*/
                    }
}



@media (width < 740px) {

    .jumbotron {
        --intro-height: 494px;
    }

    .jumbotron {
        /*margin-top: calc(-1 * var(--header-height));*/
        /*background-color: #303F64;*/
    }
        .jumbotron__limitation {
            /*position: relative;*/
            /*margin-left: auto;*/
            /*margin-right: auto;*/
            /*max-width: 1920px;*/
            /*overflow: hidden; !* обрезаем after *!*/
        }
            .jumbotron__widget {

            }

            .jumbotron__limitation::before {
                display: none;
            }

            .jumbotron__content {
                display: none;
            }
}
