.login {
    width: 440px;
    padding: 40px;
}
    .login__heading {
        margin-top: 0;
        margin-bottom: 0;
        font-weight: inherit;
    }

    .login__body {
        margin-top: 20px;
    }


@media (width < 740px) {

    .login {
        width: 100%;
        max-width: 440px;
    }
}
