.timeline {
    padding-bottom: 100px;
}

.mobile-collage {
    position: relative;
    /*overflow: hidden;*/
    height: 3000px; /* Speed */
}
    .mobile-collage__viewport {
        position: sticky;
        top: 0; /* Момент, когда начинается горизонтальная прокрутка */
        height: 100vh; /* Когда заканчивается */
    }
        .mobile-collage__scroll {
            height: 100%;
            overflow: hidden;
        }
            .mobile-collage__wrap {
                position: relative;
                height: 100%;
                display: flex;
            }
                .mobile-collage__ribbon {
                    width: 4332px;
                    height: 100%;
                    padding-top: var(--header-collapsed-height);
                    display: flex;
                    align-items: center;
                }
                    .mobile-collage__timeline {
                        width: 4332px;
                        height: 786px;
                        background-image: url("../vectors/timeline.svg");
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: left top;
                    }


    .mobile-collage__viewport--landed {

    }
