.timeline {
    padding-bottom: 100px;
}

.mobile-collage {
    position: relative;
    /*overflow: hidden;*/
    height: 2000px;
}
    .mobile-collage__viewport {
        position: sticky;
        top: 0; /* Момент, когда начинается горизонтальная прокрутка */
        height: 100vh; /* Когда заканчивается */
    }
        .mobile-collage__scroll {
            height: 100%;
            overflow: hidden;
        }
            .mobile-collage__ribbon {
                width: 5000px;
                height: 100%;
                background-color: #F7F8FA;
                /*background-image: url("../vectors/timeline.svg");*/
                background-image: url("../temp/collage-desktop@2x.jpg");
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
                transition: transform 100ms ease;
            }


    .mobile-collage__viewport--landed {

    }
