.net-link {
    display: flex;
    width: fit-content;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    text-decoration: 1px underline transparent;
    text-underline-offset: 3px;
    transition: text-decoration-color var(--transition-hover);
}

.net-link:hover {
    text-decoration-color: currentColor;
}
    .net-link__icon {
        vertical-align: top;
    }


.net-link--not-clickable {
    text-decoration: none;
}
    .net-link--not-clickable .net-link__icon {

    }



@media (1850px <= width) {

    .net-link {
        font-size: 17px;
        line-height: 22px;
    }

    .net-link:hover {

    }
        .net-link__icon {

        }
}
