.news-preview {

}
    .news-preview__viewport {

    }

    .news-preview__info {
        margin-top: 24px;
        font-style: italic;
        font-size: 15px;
        line-height: 20px;
    }

    .news-preview__name {
        margin-top: 8px;
        font-weight: 600;
        font-size: 22px;
        line-height: 30px;
        color: #F8F0E5;
    }



@media (1850px <= width) {

    .news-preview {

    }
        .news-preview__viewport {

        }

        .news-preview__info {
            font-size: 16px;
            line-height: 22px;
        }

        .news-preview__name {
            font-size: 24px;
            line-height: 33px;
        }
}



@media (width < 740px) {

    .news-preview {

    }
        .news-preview__viewport {

        }

        .news-preview__info {
            /*margin-top: 24px;*/
            /*font-style: italic;*/
            font-size: 14px;
            line-height: 19px;
        }

        .news-preview__name {
            margin-top: 10px;
            /*font-weight: 600;*/
            font-size: 20px;
            line-height: 27px;
            /*color: #F8F0E5;*/
        }
}

