.news {
    margin-top: var(--page-top-padding-default);
}
    .news__heading {
        margin-top: 0;
        margin-bottom: 0;
        text-align: center;
    }

    .news__list {
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 40px 20px;
    }

    .news__navigation {
        margin-top: 40px;
    }



@media (1700px <= width) {

    .news {
        /*margin-top: var(--article-top-padding);*/
    }
        .news__heading {
            /*margin-top: 0;*/
            /*margin-bottom: 0;*/
            /*text-align: center;*/
        }

        .news__list {
            margin-top: 60px;
            /*display: grid;*/
            /*grid-template-columns: repeat(3, minmax(0, 1fr));*/
            gap: 60px 24px;
        }

        .news__navigation {
            margin-top: 60px;
        }
}



@media (width < 740px) {

    .news {

    }
        .news__heading {

        }

        .news__list {
            margin-top: 26px;
            display: grid;
            grid-template-columns: repeat(1, minmax(0, 1fr));
        }

        .news__navigation {
            margin-top: 26px;
        }
}

