.node {
    --node-radius: 6px;
}

.node {
    padding-top: var(--page-top-padding);
}
    .node__heading {
        margin-top: 0;
        margin-bottom: 0;
        text-align: center;
    }

    .node__body {
        margin-top: 40px;
        position: relative;
    }
        .node__link {
            position: absolute;
            display: block;
            text-decoration: none;
            clip-path: inset(0 round var(--node-radius)); /* Лучше чем border-radius, потому что обрезает область кликабельности */
        }
            .node__image {
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                display: block;
                filter: blur(4px);
                transform: translate3d(0, 0, 0); /* форсируем 3d acceleration */
                backface-visibility: hidden; /* улучшаем производительность */
                background-repeat: no-repeat;
                transition: filter var(--transition-hover);
            }

            .node__link:hover .node__image {
                filter: blur(0);
            }


            .node__overlay {
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                display: block;
                background-color: rgb(11 30 58 / 70%);
                transition: opacity var(--transition-hover);
            }

            .node__link:hover .node__overlay {
                opacity: 0;
            }


            .node__hover {
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                display: block;
                background-color: rgb(228 187 107 / 50%);
                opacity: 0;
                transition: opacity var(--transition-hover);
            }

            .node__link:hover .node__hover {
                opacity: 100%;
            }


            .node__label {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                height: 100%;
                padding: 16px 20px;
                font-family: var(--font-heading);
                font-weight: 500;
                font-style: italic;
                font-size: 24px;
                line-height: 28px;
                color: #EBD7B2;
                text-transform: uppercase;
                transition: color var(--transition-hover);
            }

            .node__link:hover .node__label {
                color: #303F64;
            }
                .node__highlight {
                    font-size: 1.25em;
                    padding-bottom: 0.15em;
                    font-weight: 600;
                }



/* Страница "О театре" */

.node__body--about {
    width: 1200px;
    height: 396px;
}
    .node__body--about .node__image {
        background-image: url("../images/node-about/node-about-laptop@1x.jpg");
        background-size: 1200px 396px;
    }

    @media (min-resolution: 1.5dppx) {
        .node__body--about .node__image {
            background-image: url("../images/node-about/node-about-laptop@2x.jpg");
        }
    }


    .node__link--first-russian {
        left: 406px;
        top: 0;
        width: 388px;
        height: 178px;
    }
        .node__link--first-russian .node__image {
            background-position: -404px 0;
        }

    .node__link--people {
        left: 0;
        top: 0;
        width: 390px;
        height: 396px;
        /* Лучше чем border-radius, потому что обрезает область кликабельности (382px -- это ширина 390px, минус 8px угол с другой стороны): */
        clip-path: inset(0 round 382px var(--node-radius) var(--node-radius) var(--node-radius));
    }
        .node__link--people .node__image {
            background-position: 0 0;
        }

    .node__link--equipment {
        left: 406px;
        top: 194px;
        width: 388px;
        height: 202px;
    }
        .node__link--equipment .node__image {
            background-position: -404px -194px;
        }

    .node__link--documents {
        left: 810px;
        top: 0;
        width: 390px;
        height: 396px;
        /* Лучше чем border-radius, потому что обрезает область кликабельности (382px -- это ширина 390px, минус 8px угол с другой стороны): */
        clip-path: inset(0 round var(--node-radius) 382px var(--node-radius) var(--node-radius));
    }
        .node__link--documents .node__image {
            background-position: -810px 0;
        }



/* Страница "Проекты и события" */

.node__body--projects {
    width: 1200px;
    height: 851px;
}
    .node__body--projects .node__image {
        background-image: url("../images/node-projects/node-projects-laptop@1x.jpg");
        background-size: 1200px 851px;
    }

    @media (min-resolution: 1.5dppx) {
        .node__body--projects .node__image {
            background-image: url("../images/node-projects/node-projects-laptop@2x.jpg");
        }
    }


    .node__link--275-anniversary {
        left: 810px;
        top: 0;
        width: 390px;
        height: 490px;
        /* Лучше чем border-radius, потому что обрезает область кликабельности (320px -- это высота левого-верхнего айтема 326px, минус 6px угол снизу): */
        clip-path: inset(0 round var(--node-radius) 320px var(--node-radius) var(--node-radius)); /* Лучше чем border-radius, потому что обрезает область кликабельности */
    }
        .node__link--275-anniversary .node__label {

        }

        .node__link--275-anniversary .node__image {
            background-position: -810px 0;
        }

    .node__link--volkov-festival {
        left: 0;
        top: 506px;
        width: 1200px;
        height: 181px;
    }
        .node__link--volkov-festival .node__label {
            justify-content: flex-start;
        }

        .node__link--volkov-festival .node__image {
            background-position: 0 -506px;
        }

    .node__link--dmitrievsky-center {
        left: 406px;
        top: 266px;
        width: 388px;
        height: 224px;
    }
        .node__link--dmitrievsky-center .node__label {

        }

        .node__link--dmitrievsky-center .node__image {
            background-position: -406px -266px;
        }

    .node__link--challenges {
        left: 0;
        top: 342px;
        width: 390px;
        height: 148px;
    }
        .node__link--challenges .node__label {
            justify-content: flex-start;
        }

        .node__link--challenges .node__image {
            background-position: 0 -342px;
        }

    .node__link--directors-lab {
        left: 406px;
        top: 0;
        width: 388px;
        height: 250px;
    }
        .node__link--directors-lab .node__label {

        }

        .node__link--directors-lab .node__image {
            background-position: -406px 0;
        }

    .node__link--future {
        left: 0;
        top: 0;
        width: 390px;
        height: 326px;
        /* Лучше чем border-radius, потому что обрезает область кликабельности (320px -- это высота левого-верхнего айтема 326px, минус 6px угол снизу): */
        clip-path: inset(0 round 320px var(--node-radius) var(--node-radius) var(--node-radius)); /* Лучше чем border-radius, потому что обрезает область кликабельности */
    }
        .node__link--future .node__label {

        }

        .node__link--future .node__image {
            background-position: 0 0;
        }

    .node__link--exhibitions {
        left: 0;
        top: 703px;
        width: 592px;
        height: 148px;
    }
        .node__link--exhibitions .node__label {

        }

        .node__link--exhibitions .node__image {
            background-position: 0 -703px;
        }

    .node__link--tours {
        left: 608px;
        top: 703px;
        width: 592px;
        height: 148px;
    }
        .node__link--tours .node__label {
            justify-content: flex-start;
        }

        .node__link--tours .node__image {
            background-position: -608px -703px;
        }



/* Страница "Визит в театр" */

.node__body--visit {
    width: 1200px;
    height: 743px;
}
    .node__body--visit .node__image {
        background-image: url("../images/node-visit/node-visit-laptop@1x.jpg");
        background-size: 1200px 743px;
    }

    @media (min-resolution: 1.5dppx) {
        .node__body--visit .node__image {
            background-image: url("../images/node-visit/node-visit-laptop@2x.jpg");
        }
    }


    .node__link--excursions {
        left: 0;
        top: 0;
        width: 390px;
        height: 356px;
        /* Лучше чем border-radius, потому что обрезает область кликабельности (320px -- это высота правого-верхнего айтема 326px, минус 6px угол снизу): */
        clip-path: inset(0 round 320px var(--node-radius) var(--node-radius) var(--node-radius)); /* Лучше чем border-radius, потому что обрезает область кликабельности */
    }
        .node__link--excursions .node__label {

        }

        .node__link--excursions .node__image {
            background-position: 0 0;
        }

    .node__link--rules {
        left: 406px;
        top: 0;
        width: 390px;
        height: 154px;
    }
        .node__link--rules .node__label {

        }

        .node__link--rules .node__image {
            background-position: -406px 0;
        }

    .node__link--group {
        left: 810px;
        top: 0;
        width: 390px;
        height: 326px;
        /* Лучше чем border-radius, потому что обрезает область кликабельности (320px -- это высота левого-верхнего айтема 326px, минус 6px угол снизу): */
        clip-path: inset(0 round var(--node-radius) 320px var(--node-radius) var(--node-radius)); /* Лучше чем border-radius, потому что обрезает область кликабельности */
    }
        .node__link--group .node__label {

        }

        .node__link--group .node__image {
            background-position: -810px 0;
        }

    .node__link--plan {
        left: 0;
        top: 372px;
        width: 390px;
        height: 148px;
    }
        .node__link--plan .node__label {
            justify-content: flex-start;
        }

        .node__link--plan .node__image {
            background-position: 0 -372px;
        }

    .node__link--3d-tour {
        left: 406px;
        top: 170px;
        width: 388px;
        height: 231px;
    }
        .node__link--3d-tour .node__label {

        }

        .node__link--3d-tour .node__image {
            background-position: -406px -170px;
        }

    .node__link--pushkin-card {
        left: 810px;
        top: 342px;
        width: 390px;
        height: 123px;
    }
        .node__link--pushkin-card .node__label {
            justify-content: flex-start;
        }

        .node__link--pushkin-card .node__image {
            background-position: -810px -342px;
        }

    .node__link--svo {
        left: 406px;
        top: 417px;
        width: 388px;
        height: 156px;
    }
        .node__link--svo .node__label {
            justify-content: flex-start;
        }

        .node__link--svo .node__image {
            background-position: -406px -417px;
        }

    .node__link--refunds {
        left: 810px;
        top: 481px;
        width: 390px;
        height: 123px;
    }
        .node__link--refunds .node__label {
            justify-content: flex-start;
        }

        .node__link--refunds .node__image {
            background-position: -810px -481px;
        }

    .node__link--souvenir {
        left: 406px;
        top: 589px;
        width: 388px;
        height: 154px;
    }
        .node__link--souvenir .node__label {

        }

        .node__link--souvenir .node__image {
            background-position: -406px -589px;
        }

    .node__link--photo {
        left: 0;
        top: 536px;
        width: 390px;
        height: 207px;
    }
        .node__link--photo .node__label {

        }

        .node__link--photo .node__image {
            background-position: 0 -536px;
        }

    .node__link--canteen {
        left: 810px;
        top: 620px;
        width: 390px;
        height: 123px;
    }
        .node__link--canteen .node__label {

        }

        .node__link--canteen .node__image {
            background-position: -810px -620px;
        }




@media (1850px <= width) {

    .node {
        --node-radius: 8px;
    }

    .node {

    }
        .node__heading {

        }

        .node__body {
            margin-top: 60px;
        }
            .node__link {

            }
                .node__image {

                }

                .node__link:hover .node__image {

                }


                .node__overlay {

                }

                .node__link:hover .node__overlay {

                }


                .node__label {
                    padding: 20px 24px;
                    font-size: 32px;
                    line-height: 37px;
                }

                .node__link:hover .node__label {

                }


    /* Страница "О театре" */

    .node__body--about {
        width: 1760px;
        height: 674px;
    }
        .node__body--about .node__image {
            background-image: url("../images/node-about/node-about-monitor@1x.jpg");
            background-size: 1760px 674px;
        }

        @media (min-resolution: 1.5dppx) {
            .node__body--about .node__image {
                background-image: url("../images/node-about/node-about-monitor@2x.jpg");
            }
        }

        .node__link--first-russian {
            left: 595px;
            top: 0;
            width: 570px;
            height: 250px;
        }
            .node__link--first-russian .node__image {
                background-position: -570px 0;
            }


        .node__link--people {
            width: 571px;
            height: 674px;
            clip-path: inset(0 round 571px var(--node-radius) var(--node-radius) var(--node-radius)); /* Лучше чем border-radius, потому что обрезает область кликабельности */
        }
            .node__link--people .node__image {
                background-position: 0 0;
            }

        .node__link--equipment {
            left: 595px;
            top: 274px;
            width: 570px;
            height: 400px;
        }
            .node__link--equipment .node__image {
                background-position: -570px -274px;
            }

        .node__link--documents {
            left: 1189px;
            top: 0;
            width: 571px;
            height: 674px;
            clip-path: inset(0 round var(--node-radius) 571px var(--node-radius) var(--node-radius)); /* Лучше чем border-radius, потому что обрезает область кликабельности */
        }
            .node__link--documents .node__image {
                background-position: -1189px 0;
            }





    /* Страница "Проекты и события" */

    .node__body--projects {
        width: 1760px;
        height: 1224px;
    }
        .node__body--projects .node__image {
            background-image: url("../images/node-projects/node-projects-monitor@1x.jpg");
            background-size: 1760px 1224px;
        }

        @media (min-resolution: 1.5dppx) {
            .node__body--projects .node__image {
                background-image: url("../images/node-projects/node-projects-monitor@2x.jpg");
            }
        }


    .node__link--275-anniversary {
        left: 1189px;
        top: 0;
        width: 571px;
        height: 722px;
        /* Лучше чем border-radius, потому что обрезает область кликабельности (478px -- это высота левого-верхнего айтема 486px, минус 8px угол снизу): */
        clip-path: inset(0 round var(--node-radius) 478px var(--node-radius) var(--node-radius)); /* Лучше чем border-radius, потому что обрезает область кликабельности */
    }
        .node__link--275-anniversary .node__image {
            background-position: -1189px 0;
        }

    .node__link--volkov-festival {
        left: 0;
        top: 746px;
        width: 1760px;
        height: 252px;
    }
        .node__link--volkov-festival .node__image {
            background-position: 0 -746px;
        }

    .node__link--dmitrievsky-center {
        left: 595px;
        top: 274px;
        width: 570px;
        height: 448px;
    }
        .node__link--dmitrievsky-center .node__image {
            background-position: -595px -274px;
        }

    .node__link--challenges {
        left: 0;
        top: 510px;
        width: 571px;
        height: 212px;
    }
        .node__link--challenges .node__image {
            background-position: 0 -510px;
        }

    .node__link--directors-lab {
        left: 595px;
        top: 0;
        width: 570px;
        height: 250px;
    }
        .node__link--directors-lab .node__image {
            background-position: -595px 0;
        }

    .node__link--future {
        left: 0;
        top: 0;
        width: 571px;
        height: 486px;
        /* Лучше чем border-radius, потому что обрезает область кликабельности (478px -- это высота левого-верхнего айтема 486px, минус 8px угол снизу): */
        clip-path: inset(0 round 478px var(--node-radius) var(--node-radius) var(--node-radius)); /* Лучше чем border-radius, потому что обрезает область кликабельности */
    }
        .node__link--future .node__image {
            background-position: 0 0;
        }

    .node__link--exhibitions {
        left: 0;
        top: 1022px;
        width: 868px;
        height: 212px;
    }
        .node__link--exhibitions .node__image {
            background-position: 0 -1022px;
        }

    .node__link--tours {
        left: 892px;
        top: 1022px;
        width: 868px;
        height: 212px;
    }
        .node__link--tours .node__image {
            background-position: -892px -1022px;
        }



    /* Страница "Визит в театр" */

    .node__body--visit {
        width: 1760px;
        height: 1099px;
    }
        .node__body--visit .node__image {
            background-image: url("../images/node-visit/node-visit-monitor@1x.jpg");
            background-size: 1760px 1091px;
        }

        @media (min-resolution: 1.5dppx) {
            .node__body--visit .node__image {
                background-image: url("../images/node-visit/node-visit-monitor@2x.jpg");
            }
        }


    .node__link--excursions {
        left: 0;
        top: 0;
        width: 571px;
        height: 516px;
        /* Лучше чем border-radius, потому что обрезает область кликабельности (478px -- это высота правого-верхнего айтема 486px, минус 8px угол снизу): */
        clip-path: inset(0 round 478px var(--node-radius) var(--node-radius) var(--node-radius)); /* Лучше чем border-radius, потому что обрезает область кликабельности */
    }
        .node__link--excursions .node__label {

        }

        .node__link--excursions .node__image {
            background-position: 0 0;
        }

    .node__link--rules {
        left: 595px;
        top: 0;
        width: 570px;
        height: 258px;
    }
        .node__link--rules .node__image {
            background-position: -406px 0;
        }

    .node__link--group {
        left: 1189px;
        top: 0;
        width: 571px;
        height: 486px;
        /* Лучше чем border-radius, потому что обрезает область кликабельности (478px -- это высота левого-верхнего айтема 486px, минус 6px угол снизу): */
        clip-path: inset(0 round var(--node-radius) 478px var(--node-radius) var(--node-radius)); /* Лучше чем border-radius, потому что обрезает область кликабельности */
    }
        .node__link--group .node__image {
            background-position: -1189px 0;
        }

    .node__link--plan {
        left: 0;
        top: 540px;
        width: 571px;
        height: 212px;
    }
        .node__link--plan .node__image {
            background-position: 0 -540px;
        }

    .node__link--3d-tour {
        left: 595px;
        top: 282px;
        width: 570px;
        height: 416px;
    }
        .node__link--3d-tour .node__label {

        }

        .node__link--3d-tour .node__image {
            background-position: -595px -282px;
        }

    .node__link--pushkin-card {
        left: 1189px;
        top: 510px;
        width: 571px;
        height: 188px;
    }
        .node__link--pushkin-card .node__label {

        }

        .node__link--pushkin-card .node__image {
            background-position: -1189px -342px;
        }

    .node__link--svo {
        left: 595px;
        top: 722px;
        width: 570px;
        height: 192px;
    }
        .node__link--svo .node__label {
            justify-content: flex-start;
        }

        .node__link--svo .node__image {
            background-position: -406px -417px;
        }

    .node__link--refunds {
        left: 1189px;
        top: 722px;
        width: 571px;
        height: 154px;
    }
        .node__link--refunds .node__label {
            max-width: 420px;
        }

        .node__link--refunds .node__image {
            background-position: -1189px -481px;
        }

    .node__link--souvenir {
        left: 595px;
        top: 938px;
        width: 570px;
        height: 161px;
    }
        .node__link--souvenir .node__label {

        }

        .node__link--souvenir .node__image {
            background-position: -406px -589px;
        }

    .node__link--photo {
        left: 0;
        top: 776px;
        width: 571px;
        height: 323px;
    }
        .node__link--photo .node__label {
            justify-content: flex-start;
        }

        .node__link--photo .node__image {
            background-position: 0 -536px;
        }

    .node__link--canteen {
        left: 1189px;
        top: 900px;
        width: 571px;
        height: 199px;
    }
        .node__link--canteen .node__label {
            justify-content: flex-start;
        }

        .node__link--canteen .node__image {
            background-position: -1189px -620px;
        }
}



@media (width < 740px) {

    .node {
        --node-radius: 8px;
    }

    .node {

    }
        .node__heading {

        }

        .node__body {
            margin-top: 24px;
            width: auto;
            height: auto;
        }
            .node__link {
                position: relative;
                inset: auto;
                margin-top: 10px;
                width: auto;
                clip-path: none; /* Переключаемся на border-radius. На мобилках разницы нет, но с ним проще работать */
                border-radius: var(--node-radius);
                overflow: hidden;
            }

            .node__link:first-child {
                margin-top: 0;
            }
                .node__image {

                }

                .node__link:hover .node__image {

                }


                .node__overlay {

                }

                .node__link:hover .node__overlay {

                }


                .node__label {
                    padding: 16px;
                    font-size: 22px;
                    line-height: 26px;
                }

                .node__link:hover .node__label {

                }



    /* Страница "О театре" */

    .node__body--about {

    }
        .node__body--about .node__image {
            background-image: url("../images/node-about/node-about-smartphone@1x.jpg");
            background-size: 430px 579px;
        }

        @media (min-resolution: 1.5dppx) {
            .node__body--about .node__image {
                background-image: url("../images/node-about/node-about-smartphone@2x.jpg");
            }
        }

        .node__link--first-russian {
            height: 195px;
            border-radius: 50% 50% var(--node-radius) var(--node-radius) / 160px 160px var(--node-radius) var(--node-radius);
        }
            .node__link--first-russian .node__image {
                background-position: center 0;
            }
                .node__link--first-russian .node__label {
                    align-items: center;
                }

        .node__link--people {
            height: 122px;
        }
            .node__link--people .node__image {
                background-position: center -205px;
            }

        .node__link--equipment {
            height: 119px;
        }
            .node__link--equipment .node__image {
                background-position: center -337px;
            }

        .node__link--documents {
            height: 113px;
        }
            .node__link--documents .node__image {
                background-position: center -466px;
            }



    /* Страница "Проекты и события" */

    .node__body--projects {

    }
        .node__body--projects .node__image {
            background-image: url("../images/node-projects/node-projects-smartphone@1x.jpg");
            background-size: 430px 1212px;
        }

        @media (min-resolution: 1.5dppx) {
            .node__body--projects .node__image {
                background-image: url("../images/node-projects/node-projects-smartphone@2x.jpg");
            }
        }


    .node__link--275-anniversary {
        height: 246px;
        border-radius: 50% 50% var(--node-radius) var(--node-radius) / 160px 160px var(--node-radius) var(--node-radius);
    }
        .node__link--275-anniversary .node__label {
            align-items: center;
            padding-bottom: 24px;
        }
            .node__link--275-anniversary .node__highlight {

            }

        .node__link--275-anniversary .node__image {
            background-position: center 0;
        }

    .node__link--volkov-festival {
        height: 122px;
    }
        .node__link--volkov-festival .node__label {
            max-width: 230px;
            justify-content: flex-start;
        }

        .node__link--volkov-festival .node__image {
            background-position: center -256px;
        }

    .node__link--dmitrievsky-center {
        height: 119px;
    }
        .node__link--dmitrievsky-center .node__image {
            background-position: center -388px;
        }

    .node__link--challenges {
        height: 113px;
    }
        .node__link--challenges .node__label {
            justify-content: flex-start;
        }

        .node__link--challenges .node__image {
            background-position: center -517px;
        }

    .node__link--directors-lab {
        height: 168px;
    }
        .node__link--directors-lab .node__image {
            background-position: center -640px;
        }

    .node__link--future {
        height: 145px;
    }
        .node__link--future .node__label {
            justify-content: flex-start;
            max-width: 240px;
        }

        .node__link--future .node__image {
            background-position: center -818px;
        }

    .node__link--exhibitions {
        height: 99px;
    }
        .node__link--exhibitions .node__label {
            justify-content: flex-start;
        }

        .node__link--exhibitions .node__image {
            background-position: center -973px;
        }

    .node__link--tours {
        height: 130px;
    }
        .node__link--tours .node__image {
            background-position: center -1082px;
        }





    /* Страница "Визит в театр" */

    .node__body--visit {

    }
        .node__body--visit .node__image {
            background-image: url("../images/node-visit/node-visit-smartphone@1x.jpg");
            background-size: 430px 1579px;
        }

        @media (min-resolution: 1.5dppx) {
            .node__body--visit .node__image {
                background-image: url("../images/node-visit/node-visit-smartphone@2x.jpg");
            }
        }


    .node__link--excursions {
        height: 237px;
        border-radius: 50% 50% var(--node-radius) var(--node-radius) / 160px 160px var(--node-radius) var(--node-radius);
    }
        .node__link--excursions .node__label {
            align-items: center;
        }

        .node__link--excursions .node__image {
            background-position: center 0;
        }

    .node__link--rules {
        height: 124px;
    }
        .node__link--rules .node__label {
            justify-content: flex-start;
        }

        .node__link--rules .node__image {
            background-position: center -249px;
        }

    .node__link--group {
        height: 124px;
    }
        .node__link--group .node__label {
            justify-content: flex-start;
        }

        .node__link--group .node__image {
            background-position: center -385px;
        }

    .node__link--plan {
        height: 124px;
    }
        .node__link--plan .node__label {
            justify-content: flex-start;
        }

        .node__link--plan .node__image {
            background-position: center -521px;
        }

    .node__link--3d-tour {
        height: 124px;
    }
        .node__link--3d-tour .node__label {
            justify-content: flex-start;
        }

        .node__link--3d-tour .node__image {
            background-position: center -657px;
        }

    .node__link--pushkin-card {
        height: 124px;
    }
        .node__link--pushkin-card .node__label {
            justify-content: flex-start;
        }

        .node__link--pushkin-card .node__image {
            background-position: center -793px;
        }

    .node__link--svo {
        height: 124px;
    }
        .node__link--svo .node__label {
            justify-content: flex-start;
        }

        .node__link--svo .node__image {
            background-position: center -929px;
        }

    .node__link--refunds {
        height: 124px;
    }
        .node__link--refunds .node__label {
            justify-content: flex-start;
        }

        .node__link--refunds .node__image {
            background-position: center -1065px;
        }

    .node__link--souvenir {
        height: 124px;
    }
        .node__link--souvenir .node__label {
            justify-content: flex-start;
        }

        .node__link--souvenir .node__image {
            background-position: center -1201px;
        }

    .node__link--photo {
        height: 124px;
    }
        .node__link--photo .node__label {
            justify-content: flex-start;
        }

        .node__link--photo .node__image {
            background-position: center -1337px;
        }

    .node__link--canteen {
        height: 124px;
    }
        .node__link--canteen .node__label {
            justify-content: flex-start;
        }

        .node__link--canteen .node__image {
            background-position: center -1473px;
        }
}
