.page {

}

@media (width < 740px) {

    .page {

    }

    .burger-expanded .page {
        display: none;
    }
}



.page:has(.jumbotron),
.page:has(.intro) {
    margin-top: calc(-1 * var(--header-height));
}



/* Обрезаем карусели */

.page:not(:has(.week-headings)) {
    overflow: hidden;
}
