.paper {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 18px;
}


@media (1850px <= width) {

    .paper {
      gap: 24px;
    }
}



@media (width < 740px) {

    .paper {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        gap: 24px;
    }
}
