.participation {
    padding-top: 80px;
    padding-bottom: 80px;
}
    .participation__heading {
        margin-top: 0;
        margin-bottom: 0;
        color: #E4BB6B;
    }

    .participation__body {
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: 20px;
    }


@media (1850px <= width) {

    .participation {
        padding-top: 110px;
        padding-bottom: 110px;
    }
        .participation__heading {
            /*margin-top: 0;*/
            /*margin-bottom: 0;*/
            /*color: #E4BB6B;*/
        }

        .participation__body {
            margin-top: 60px;
            /*display: grid;*/
            /*grid-template-columns: repeat(4, minmax(0, 1fr));*/
            /*gap: 20px;*/
        }
}