.participation {
    padding-top: 80px;
}
    .participation__heading {
        margin-top: 0;
        margin-bottom: 40px;
        color: #E4BB6B;
    }

    .participation__body {

    }
        .participation__ribbon {
            display: inline-flex;
            align-items: stretch;
            gap: 20px;
        }
            .participation__item {

            }


@media (1850px <= width) {

    .participation {
        padding-top: 110px;
        padding-bottom: 110px;
    }
        .participation__heading {
            margin-bottom: 60px;
        }

        .participation__body {

        }
            .participation__ribbon {
                gap: 28px;
            }
                .participation__item {

                }
}



@media (width < 740px) {

    .participation {
        padding-top: 60px;
    }
        .participation__heading {
            /*margin-top: 0;*/
            margin-bottom: 24px;
            /*color: #E4BB6B;*/
        }
            .participation__heading.title,
            .participation__heading .title {
                font-size: 24px;
                line-height: 28px;
            }

        .participation__body {
            overflow: visible;
        }
            .participation__ribbon {
                display: block;
            }
                .participation__item {
                    margin-top: 24px;
                }

                .participation__item:first-child {
                    margin-top: 0;
                }
}
