.person {
    padding-top: var(--page-top-padding);
}
    .person__about {
        display: grid;
        grid-template-columns: 422px auto;
        gap: 24px;
    }
        .person__preview {

        }
            .person__image {
                vertical-align: top;
                background-color: var(--black-image-fallback);
                border-radius: 20px;
            }

        .person__summary {

        }
            .person__heading {
                margin-top: 0;
                margin-bottom: 0;
            }

            .person__post {
                margin-top: 16px;
                font-size: 20px;
                line-height: 27px;
                color: #B9B9B9;
            }

            .person__bio {
                margin-top: 24px;
                font-size: 24px;
                line-height: 30px;
                color: #FFFFFF;
            }

            .person__more {
                margin-top: 16px;
            }


        .person__schedule {

        }
            .person__schedule-heading {
                margin-top: 80px;
                margin-bottom: 0;
                font-family: var(--font-heading);
                font-weight: normal;
                font-style: italic;
                font-size: 48px;
                line-height: 56px;
                color: #E4BB6B;
                text-transform: uppercase;
            }

            .person__schedule-widget {
                margin-top: 2px;
            }

            .person__schedule-note {
                margin-top: 72px;
                font-size: 20px;
                line-height: 24px;
                color: #F8F0E5;
            }

        .person__data {

        }

        .person__additional-info {
            margin-top: 100px;
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 1fr));
            gap: 24px;
        }
            .person__additional-section {

            }
                .person__additional-heading {
                    margin-top: 0;
                    margin-bottom: 0;
                    font-family: var(--font-heading);
                    font-weight: normal;
                    font-style: italic;
                    font-size: 48px;
                    line-height: 56px;
                    color: #E4BB6B;
                    text-transform: uppercase;
                }

                .person__additional-widget {
                    margin-top: 24px;
                }

        .person__press {
            margin-top: 100px;
        }
            .person__press-heading {
                margin-top: 0;
                margin-bottom: 0;
                font-family: var(--font-heading);
                font-weight: normal;
                font-style: italic;
                font-size: 48px;
                line-height: 56px;
                color: #E4BB6B;
                text-transform: uppercase;
            }

            .person__press-list {
                margin-top: 40px;
                display: grid;
                grid-template-columns: repeat(3, minmax(0, 1fr));
                gap: 24px;
            }
