.plans {

}
    .plans__main {

    }
        .plans__heading {
            margin-top: 0;
            margin-bottom: 0;
            text-align: center;
        }

        .plans__hint {
            margin-top: 12px;
            font-size: 18px;
            line-height: 24px;
            text-align: center;
        }

        .plans__scene-heading {
            margin-top: 32px;
        }

        .plans__main-scheme {
            margin-top: 32px;
            overflow-x: auto;
            margin-left: calc(-1 * var(--container-padding));
            margin-right: calc(-1 * var(--container-padding));
            padding-left: var(--container-padding);
            padding-right: var(--container-padding);
        }
            .plans__main-scheme-exact-wrap {
                width: 1080px;
                margin-left: auto;
                margin-right: auto;
            }

        .plans__changes {
            margin-top: 32px;
            padding: 12px 20px 14px;
            max-width: 820px;
            margin-left: auto;
            margin-right: auto;
            font-size: 16px;
            line-height: 22px;
            text-align: center;
            background-color: #E3BB6B;
            border-radius: 4px;
        }

        .plans__capacity {
            margin-top: 32px;
            max-width: 820px;
            margin-left: auto;
            margin-right: auto;
            font-size: 16px;
            line-height: 22px;
            text-align: center;
        }

    .plans__chamber {
        margin-top: 80px;
    }
        .plans__chamber-heading {
            margin-top: 0;
            margin-bottom: 0;
            text-align: center;
        }

        .plans__chamber-scene-heading {
            margin-top: 32px;
        }

        .plans__chamber-image {
            margin-top: 20px;
            margin-left: auto;
            margin-right: auto;
            display: block;
            vertical-align: top;
            max-width: 100%;
            height: auto;
        }

        .plans__chamber-scheme {
            margin-top: 32px;
            overflow-x: auto;
        }
            .plans__chamber-scheme {
                margin-top: 32px;
                overflow-x: auto;
                margin-left: calc(-1 * var(--container-padding));
                margin-right: calc(-1 * var(--container-padding));
                padding-left: var(--container-padding);
                padding-right: var(--container-padding);
            }
                .plans__chamber-scheme-exact-wrap {
                    width: 404px;
                    margin-left: auto;
                    margin-right: auto;
                }

        @media (740px <= width) {

            .plans__chamber-scheme {
                transform: scale(1.2);
            }
        }
