.red-star {
    display: flex;
    align-items: baseline;
    gap: 7px;
    padding-top: 3px;
    padding-bottom: 1px;
    font-size: 11px;
    line-height: 14px;
    color: #181818;
    text-decoration: none;
}
    .red-star__logo {
        position: relative;
        top: -1px;
        display: inline-block;
        vertical-align: baseline;
        width: 80px;
        height: 16px;
        background-image: url("../vectors/red-star.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        text-indent: 200%;
        white-space: nowrap;
        overflow: hidden;
    }
