:root {
    --font: "Nunito Sans";
    --font-heading: "Brygada 1918";
    --body-font-size: 18px;
    --body-line-height: 25px;
    --ease-out-quint: cubic-bezier(0.22, 1, 0.36, 1);
    --transition-hover: 100ms ease;
    /*--transition-show: 1200ms var(--ease-out-quint);*/
    --image-fallback: #F3F5F4;
    --action-color: #E4BB6B;
    --action-color-hover: #EBD7B2;
    /*--input-border: #B3B3B3;*/
    /*--input-border-hover-and-focus: #7E7E7E;*/
    /*--placeholder-color: #999999;*/
    /*--disabled-background: #F6F6F6;*/
    /*--disabled-color: #999999;*/
    /*--error: #FF0033;*/
    --page-top-padding: 24px;
    --header-height: 113px;
    --blue-hover: #223046;
    --slider-rounding: 32px;
}

@media (1850px <= width) {

    :root {
        --header-height: 156px;
        --page-top-padding: 34px;
        --body-font-size: 20px;
        --body-line-height: 27px;
        --slider-rounding: 40px;
    }
}

@media (width < 740px) {

    :root {
        --header-height: 90px;
        --page-top-padding: 20px;
        --body-font-size: 16px;
        --body-line-height: 24px;
        --slider-rounding: 12px;
    }
}



/* Паддинг у контейнера существует только на смартфонах */

/* Большие Pro, Plus и Max телефоны типа iPhone 15 Plus*/
@media (400px <= width < 740px) {
    :root {
        --container-padding: 24px;
    }
}

/* Обычные телефоны типа iPhone 15 */
@media (350px <= width < 400px) {
    :root {
        --container-padding: 20px;
    }
}

/* Старенькие телефоны типа iPhone SE 1st gen */
@media (width < 350px) {
    :root {
        --container-padding: 16px;
    }
}
