:root {
    --font: "Nunito Sans";
    --font-heading: "Brygada 1918";
    --body-font-size: 18px;
    --body-line-height: 25px;
    --ease-out-quint: cubic-bezier(0.22, 1, 0.36, 1);
    --transition-hover: 100ms ease;
    --transition-show: 900ms var(--ease-out-quint);
    --image-fallback: #F3F5F4;
    --black-image-fallback: #09182E;
    --action-color: #E4BB6B;
    --action-color-hover: #EBD7B2;
    /*--input-border: #B3B3B3;*/
    --input-border-hover: rgb(228 187 107 / 80%);
    --input-border-focus: #E4BB6B;
    --placeholder-color: #6073A2;
    --disabled-background: #CED2D8;
    --disabled-color: #8D867C;
    --error: #FF0033;
    --page-top-padding: 24px;
    --header-height: 113px;
    --header-collapsed-height: 85px;
    --footer-margin: 140px;
    --blue-hover: #223046;
    --slider-rounding: 32px;
}

@media (1850px <= width) {

    :root {
        --header-height: 156px;
        --header-collapsed-height: 105px;
        --footer-margin: 200px;
        --page-top-padding: 34px;
        --body-font-size: 20px;
        --body-line-height: 27px;
        --slider-rounding: 40px;
    }
}

@media (width < 740px) {

    :root {
        --header-height: 80px;
        --header-collapsed-height: 58px;
        --footer-margin: 200px;
        --page-top-padding: 20px;
        --body-font-size: 16px;
        --body-line-height: 24px;
        --slider-rounding: 12px;
    }
}



/* Паддинг у контейнера существует только на смартфонах */

/* Большие Pro, Plus и Max телефоны типа iPhone 15 Plus*/
@media (400px <= width < 740px) {
    :root {
        --container-padding: 24px;
    }
}

/* Обычные телефоны типа iPhone 15 */
@media (350px <= width < 400px) {
    :root {
        --container-padding: 20px;
    }
}

/* Старенькие телефоны типа iPhone SE 1st gen */
@media (width < 350px) {
    :root {
        --container-padding: 16px;
    }
}
