.schedule {
    padding-top: 40px;
}
    .schedule__heading {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 0;
        margin-bottom: 0;
        font-family: var(--font-heading);
        font-weight: normal;
        font-style: italic;
        font-size: 60px;
        line-height: 70px;
        color: #F9F6F2;
        text-transform: uppercase;
        text-align: center;
        gap: 24px;
    }

    .schedule__bodies {
        margin-top: 43px;
    }

        .schedule__tab {
            display: none;
        }

        .schedule__tab--current {
            display: block;
            animation: var(--slide-bottom);
        }
            .schedule__filters {
                position: relative;
                z-index: 225;
            }

            .schedule__preview {

            }

            .schedule__table-headings {
                margin-top: 38px;
            }

            .schedule__content {
                margin-top: 30px;
            }
                .schedule__item {
                    margin-top: 60px;
                }

                .schedule__item:first-child {
                    margin-top: 0;
                }



@media (1850px <= width) {

    .schedule {
        padding-top: 60px;
    }
        .schedule__heading {
            /*display: flex;*/
            /*align-items: center;*/
            /*justify-content: center;*/
            /*margin-top: 0;*/
            /*margin-bottom: 0;*/
            /*text-align: center;*/
            gap: 38px;
            font-size: 80px;
            line-height: 94px;
        }

        .schedule__bodies {
            margin-top: 61px;
        }
            .schedule__tab {

            }

            .schedule__tab--current {

            }

        .schedule__filters {

        }

        .schedule__preview {

        }

        .schedule__table-headings {
            margin-top: 57px;
        }

        .schedule__content {
            margin-top: 40px;
        }
            .schedule__item {
                margin-top: 80px;
            }

            .schedule__item:first-child {
                /*margin-top: 0;*/
            }
}



@media (width < 740px) {

    .schedule {
        padding-top: 40px;
    }
        .schedule__heading {
            /*display: flex;*/
            /*align-items: center;*/
            /*justify-content: center;*/
            /*margin-top: 0;*/
            /*margin-bottom: 0;*/
            /*font-family: var(--font-heading);*/
            /*font-weight: normal;*/
            /*font-style: italic;*/
            font-size: 32px;
            line-height: 37px;
            /*color: #F9F6F2;*/
            /*text-transform: uppercase;*/
            /*text-align: center;*/
            /*gap: 24px;*/

            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 16px;
        }

        .schedule__bodies {
            margin-top: 40px;
        }
            .schedule__tab {

            }

            .schedule__tab--current {

            }
                .schedule__filters {

                }

                .schedule__preview {

                }

                .schedule__table-headings {
                    display: none;
                }

                .schedule__content {
                    /*margin-top: 30px;*/
                }
                    .schedule__item {
                        margin-top: 40px;
                    }

                    .schedule__item:first-child {
                        /*margin-top: 0;*/
                    }
}

