.search-filter {
    position: relative;
    padding: 1px; /* борюр инпута будет делаться внешней тенью, без внутренней. Внутренняя плохо рендерится, между ней и внешней проступает синий фон */
}
    .search-filter__widget {
        vertical-align: top;
        width: 100%;
        height: 46px;
        padding: 12px 18px;
        box-shadow: 0 0 0 1px #F8F0E5;
        border: none;
        background-color: transparent; /* reset grey background in some cases, such as <select> */
        background-clip: padding-box;
        outline: none;
        border-radius: 23px;
        font-family: inherit;
        font-size: 16px; /* not less than 16px (otherwise mobile browsers will zoom in on focus) */
        line-height: 22px;
        color: #F8F0E5;
        opacity: 1; /* reset select:disabled default fade on iOS */
        -webkit-tap-highlight-color: transparent;
        transition: box-shadow var(--transition-hover);
    }

    .search-filter__widget::placeholder {
        opacity: 1; /* reset opacity drop Firefox */
        color: #F8F0E5;
    }

    .search-filter__widget:hover {
        box-shadow: 0 0 0 1px var(--input-border-focus);
    }

    .search-filter__widget:focus-visible {
        box-shadow: 0 0 0 2px var(--input-border-focus);
        transition: none;
    }


    .search-filter__submit {
        position: absolute;
        right: 0;
        top: 0;
        width: 46px;
        height: 46px;
        background-color: transparent;
        padding: 0;
        border: none;
        border-radius: 50%;
        cursor: pointer;
    }
        .search-filter__magnifier {
            vertical-align: top;
            fill: #F8F0E5;
            width: 24px;
            height: 24px;
        }

        .search-filter__submit:hover .search-filter__magnifier {
            fill: var(--input-border-focus);
        }

        .search-filter__submit:active {
            translate: 0 1px;
        }



@media (1850px <= width) {

    .search-filter {

    }
        .search-filter__widget {
            /*vertical-align: top;*/
            /*width: 100%;*/
            height: 62px;
            padding: 18px 24px;
            /*box-shadow: 0 0 0 1px #F8F0E5;*/
            /*border: none;*/
            /*background-color: transparent; !* reset grey background in some cases, such as <select> *!*/
            /*background-clip: padding-box;*/
            /*outline: none;*/
            border-radius: 31px;
            /*font-family: inherit;*/
            font-size: 20px; /* not less than 16px (otherwise mobile browsers will zoom in on focus) */
            line-height: 26px;
            /*color: #F8F0E5;*/
            /*opacity: 1; !* reset select:disabled default fade on iOS *!*/
            /*-webkit-tap-highlight-color: transparent;*/
            /*transition: box-shadow var(--transition-hover);*/
        }

        .search-filter__widget::placeholder {
            /*opacity: 1; !* reset opacity drop Firefox *!*/
            /*color: #F8F0E5;*/
        }

        .search-filter__widget:hover {
            /*box-shadow: 0 0 0 1px var(--input-border-focus);*/
        }

        .search-filter__widget:focus-visible {
            box-shadow: 0 0 0 3px var(--input-border-focus);
            /*transition: none;*/
        }


        .search-filter__submit {
            width: 62px;
            height: 62px;
        }
            .search-filter__magnifier {
                width: 30px;
                height: 30px;
            }
}
