.separator {
    --bar-animation: 300ms
}

.separator {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 1px;
    padding-left: 6px;
    padding-right: 6px;
}
    .separator::before,
    .separator::after {
        content: "";
        position: absolute;
        top: -2px;
        width: 5px;
        height: 5px;
        background-color: #E4BB6B;
        border-radius: 50%;
    }

    .separator::before {
        left: 0;
    }

    .separator::after {
        right: 0;
    }

    .separator__bar {
        width: 0;
        height: 1px;
        background-color: #E4BB6B;
        transition: width var(--bar-animation) linear;
    }

    .separator--animated .separator__bar {
        width: 74px;
    }

    .separator__circle-1 {
        position: absolute;
        top: -3px;
        width: 7px;
        height: 7px;
        background-color: #E4BB6B;
        border-radius: 50%;
    }

    .separator__circle-1--left {
        left: 76px;
    }

    .separator__circle-1--right {
        right: 76px;
    }





