.slick-slider--css-stories {

}
    .slick-slider--css-stories .slick-list {

    }
        .slick-slider--css-stories .slick-track {

        }
            .slick-slider--css-stories .slick-slide {
                padding: 23px 15px;
                opacity: 40%;
                transition: opacity var(--transition-hover);
            }

            .slick-slider--css-stories .slick-center {
                opacity: 100% !important;
            }
                .slick-slider--css-stories .story__scale {
                    transition: transform 1200ms var(--ease-out-quint);
                }

                .slick-slider--css-stories .slick-center .story__scale {
                    transform: scale(110%);
                }


    .slick-slider--css-stories .slick-arrow {
        position: absolute;
        top: 0;
        bottom: 0;
        height: auto;
        margin: 0;
        transform: none;
        z-index: 10;
        width: auto;
    }

    .slick-slider--css-stories .slick-prev {
        left: 0;
        margin-right: calc((100vw - 5 * 30px - 2 * 60px) / 5 / 2 + 15px); /* (100vw - 5 * 30px - 2 * 60px) -- суммарная ширина всех карточек,
                                                                             делим на 5 штук,
                                                                             делим на 2, потому что нужно отнять только половину
                                                                             15px -- коррекция на трансформацию scale внутри карточки
                                                                           */
        right: 50%;
    }

    .slick-slider--css-stories .slick-next {
        right: 0;
        margin-left: calc((100vw - 5 * 30px - 2 * 60px) / 5 / 2 + 15px); /* (100vw - 5 * 30px - 2 * 60px) -- суммарная ширина всех карточек,
                                                                             делим на 5 штук,
                                                                             делим на 2, потому что нужно отнять только половину
                                                                             15px -- коррекция на трансформацию scale внутри карточки
                                                                           */
        left: 50%;
    }
        .slick-slider--css-stories .slick-arrow::before {
            display: none; /* старая стрелочка */
        }

        .slick-slider--css-stories .slick-arrow::after {
            content: "";
            position: absolute;
            top: 50%;
            margin-top: -30px;
            width: 60px;
            height: 60px;
            background-size: 44px 44px;
            background-repeat: no-repeat;
            background-position: center center;
            border-radius: 50%;
            transition: background-color var(--transition-hover);
        }

        .slick-slider--css-stories .slick-arrow:hover::after {
            background-color: #E4BB6B;
        }
            .slick-slider--css-stories .slick-prev::after {
                left: 10%;
                background-image: url("../vectors/stories-prev.svg");
            }

            .slick-slider--css-stories .slick-next::after {
                right: 10%;
                background-image: url("../vectors/stories-next.svg");
            }

@media (1850px <= width) {

    .slick-slider--css-stories .slick-slide {
        padding-top: 30px;
        padding-bottom: 30px;
    }
        .slick-slider--css-stories .slick-arrow::after {
            margin-top: -40px;
            width: 80px;
            height: 80px;
            background-size: 60px 60px;
        }
}
