@keyframes slide-left {
    from { opacity: 30%; transform: translateX(20px); }
    to { opacity: 100%; transform: translateY(0); }
}

:root {
    --slide-left: slide-left 800ms var(--ease-out-quint);
}
