.slider-entry {
    text-align: center;
}
    .slider-entry__image {
        vertical-align: top;
        width: auto;   /* 992x558 -- расчёт на 16:9. Более широкоформатно нельзя. */
        height: 558px;
        border-radius: var(--slider-rounding);
        object-fit: contain;
    }


@media (1850px <= width) {

    .slider-entry {
        /*text-align: center;*/
    }
        .slider-entry__image {
            /*width: auto;   !* 992x558 -- расчёт на 16:9. Более широкоформатно нельзя. *!*/
            height: 837px;
            /*border-radius: var(--slider-rounding);*/
            /*object-fit: contain;*/
        }
}



@media (width < 740px) {

    .slider-entry {

    }
        .slider-entry__image {
            width: 100%;
            height: auto;
            /*border-radius: var(--slider-rounding);*/
            /*object-fit: contain;*/
        }
}


