.spectacle {
    padding-top: 44px;
}
    .spectacle__section {
        margin-top: 80px;
        position: relative;
    }

    .spectacle__section:first-child {
        margin-top: 0;
    }
        .spectacle__section-heading {
            margin-top: 0;
            margin-bottom: 0;
            color: #E4BB6B;
        }

        .spectacle__section-action {
            position: absolute;
            right: 0;
            top: 0;
        }

        .spectacle__widget {
            margin-top: 30px;
        }

        .spectacle__widget:first-child {
            margin-top: 0;
        }



@media (1850px <= width) {

    .spectacle {
        padding-top: 66px;
    }
        .spectacle__section {
            margin-top: 100px;
        }
            .spectacle__section-heading {

            }

            .spectacle__section-action {

            }

            .spectacle__widget {
                margin-top: 40px;
            }
}



@media (width < 740px) {

    .spectacle {
        padding-top: 60px;
    }
        .spectacle__summary {

        }

        .spectacle__section {
            margin-top: 60px;
        }
            .spectacle__section-heading {

            }

            .spectacle__section-action {
                margin-top: -6px;
            }

            .spectacle__widget {
                margin-top: 28px;
            }
}

