.stage {
    position: relative;
}
    .stage__background {
        position: relative;
        display: block;
        /* stylelint-disable */
        height: 300dvh; /* Здесь должно быть 200dvh, но клиент хочет, чтобы пользователь подольше задерживался на главном видосе */
        /* stylelint-enable */
    }
        .stage__sticky-part {
            position: sticky;
            top: 0;
            /* stylelint-disable */
            height: 100dvh;
            /* stylelint-enable */
            display: block;
        }
            .stage__link {
                display: block;
                width: 100%;
                height: 100%;
            }
                .stage__video {
                    vertical-align: top;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    background-color: #E3BB6B;
                }

            .stage__operations {
                position: absolute;
                z-index: 200;
                left: 0;
                right: 0;
                bottom: 50px;
                display: flex;
                justify-content: center;
                gap: 50px;
                pointer-events: none;
            }
                .stage__action {
                    vertical-align: top;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    padding: 15px 24px;
                    min-width: 284px;
                    background-color: transparent;
                    box-shadow: inset 0 0 0 2px #F8F0E5;
                    border-radius: 40px; /* чтобы наверняка */
                    font-family: inherit;
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 24px;
                    color: #F8F0E5;
                    text-align: center;
                    text-decoration: none;
                    white-space: nowrap;
                    cursor: pointer;
                    user-select: none;
                    pointer-events: auto;
                    transition: background-color var(--transition-hover),
                    box-shadow var(--transition-hover),
                    color var(--transition-hover);
                }

                .stage__action:hover {
                    background-color: #F8F0E5;
                    box-shadow: inset 0 0 0 2px transparent;
                    color: #0B1E3A;
                }

        /* Маска: */
        .stage__background::after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            /* stylelint-disable */
            height: 100dvh;
            /* stylelint-enable */
            display: block;
            background-image: url("../vectors/stage-mask-desktop.svg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
        }



@media (1850px <= width) {

    .stage {

    }
        .stage__video {

        }

        .stage__operations {
            bottom: 60px;
            gap: 60px;
        }
            .stage__action {
                padding: 20px 28px;
                min-width: 370px;
                font-size: 24px;
                line-height: 34px;
            }
}



@media (width < 740px) {

    .stage {

    }
        /* Маска: */
        .stage__background::after {
            background-image: url("../vectors/stage-mask-smartphone.svg");
        }

        .stage__operations {
            bottom: 24px;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            gap: 24px;
        }
            .stage__action {
                padding: 12px 18px;
                font-size: 16px;
                line-height: 22px;
            }
}

