.step {
    position: relative;
    width: 305px;
    height: 428px;
    padding: 19px 21px 32px;
    box-shadow: inset 0 0 0 1px #F8F0E5;
    border-radius: 20px;
    display: flex;
    align-items: stretch;
    flex-direction: column;
}
    .step__index {
        text-align: right;
        margin-bottom: auto;
    }

    .step__heading {
        font-size: 18px;
        line-height: 25px;
    }

    .step__addition {
        margin-top: 20px;
        font-family: var(--font-heading);
        font-style: italic;
        font-size: 20px;
        line-height: 23px;
        color: #E4BB6B;
    }

    .step__tech-link {
        margin-top: 12px;
        margin-bottom: -10px;
        padding-top: 10px;
        padding-bottom: 10px;
        display: flex;
        align-items: center;
        gap: 4px;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #E4BB6B;
        text-decoration: 1px underline transparent;
        text-underline-offset: 2px;
        transition: ted-decoration-color var(--transition-hover);
    }

    .step__tech-link:hover {
        text-decoration-color: currentColor;
    }
        .link__icon {
            vertical-align: top;
            flex-shrink: 0;
            width: 18px;
            height: 18px;
        }

    /* Наведение */
    .step::after {
        content: "";
        position: absolute;
        inset: 0;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        border-radius: 20px;
        opacity: 0;
        transition: opacity 250ms ease;
    }

    .step:hover::after {
        opacity: 100%;
    }

    .step:nth-child(1)::after {
        background-image: url("../images/steps/step-01@1x.jpg");
    }

    @media (min-resolution: 1.5dppx) {
        .step:nth-child(1)::after {
            background-image: url("../images/steps/step-01@2x.jpg");
        }
    }


    .step:nth-child(2)::after {
        background-image: url("../images/steps/step-02@1x.jpg");
    }

    @media (min-resolution: 1.5dppx) {
        .step:nth-child(2)::after {
            background-image: url("../images/steps/step-02@2x.jpg");
        }
    }


    .step:nth-child(3)::after {
        background-image: url("../images/steps/step-03@1x.jpg");
    }

    @media (min-resolution: 1.5dppx) {
        .step:nth-child(3)::after {
            background-image: url("../images/steps/step-03@2x.jpg");
        }
    }


    .step:nth-child(4)::after {
        background-image: url("../images/steps/step-04@1x.jpg");
    }

    @media (min-resolution: 1.5dppx) {
        .step:nth-child(4)::after {
            background-image: url("../images/steps/step-04@2x.jpg");
        }
    }


    .step:nth-child(5)::after {
        background-image: url("../images/steps/step-05@1x.jpg");
    }

    @media (min-resolution: 1.5dppx) {
        .step:nth-child(5)::after {
            background-image: url("../images/steps/step-05@2x.jpg");
        }
    }



@media (1850px <= width) {

    .step {
        width: 419px;
        height: 512px;
        padding: 32px 32px 40px;
        /*border: 1px solid #F8F0E5;*/
        /*border-radius: 20px;*/
        /*display: flex;*/
        /*align-items: stretch;*/
        /*flex-direction: column;*/
    }
        .step__index {
            /*text-align: right;*/
            /*margin-bottom: auto;*/
        }

        .step__heading {
            font-size: 22px;
            line-height: 30px;
        }

        .step__addition {
            margin-top: 24px;
            /*font-family: var(--font-heading);*/
            /*font-style: italic;*/
            font-size: 24px;
            line-height: 28px;
            /*color: #E4BB6B;*/
        }

        .step__tech-link {
            /*margin-top: 12px;*/
            /*margin-bottom: -10px;*/
            /*padding-top: 10px;*/
            /*padding-bottom: 10px;*/
            /*display: flex;*/
            /*align-items: center;*/
            /*gap: 4px;*/
            /*font-weight: 500;*/
            font-size: 20px;
            line-height: 27px;
            /*color: #E4BB6B;*/
            /*text-decoration: 1px underline transparent;*/
            /*text-underline-offset: 2px;*/
            /*transition: ted-decoration-color var(--transition-hover);*/
        }

        .step__tech-link:hover {
            /*text-decoration-color: currentColor;*/
        }
            .link__icon {
                /*vertical-align: top;*/
                /*flex-shrink: 0;*/
                width: 24px;
                height: 24px;
            }
}



@media (width < 740px) {

    .step {
        width: auto;
        height: auto;
        padding: 28px 14px 24px;
        /*border: 1px solid #F8F0E5;*/
        border-radius: 16px;
        /*display: flex;*/
        /*align-items: stretch;*/
        /*flex-direction: column;*/
    }
        .step__index {
            /*text-align: right;*/
            margin-bottom: 63px;
        }
            .step__index.title,
            .step__index .title {
                font-size: 32px;
                line-height: 37px;
            }

        .step__heading {
            font-size: 16px;
            line-height: 22px;
        }

        .step__addition {
            margin-top: 16px;
            /*font-family: var(--font-heading);*/
            /*font-style: italic;*/
            font-size: 18px;
            line-height: 21px;
            /*color: #E4BB6B;*/
        }

        .step__tech-link {
            margin-top: 6px;
            /*padding-top: 10px;*/
            /*padding-bottom: 10px;*/
            /*display: flex;*/
            /*align-items: center;*/
            /*gap: 4px;*/
            /*font-weight: 500;*/
            /*font-size: 16px;*/
            /*line-height: 20px;*/
            /*color: #E4BB6B;*/
            /*text-decoration: 1px underline transparent;*/
            /*text-underline-offset: 2px;*/
            /*transition: ted-decoration-color var(--transition-hover);*/
        }

        .step__tech-link:hover {
            /*text-decoration-color: currentColor;*/
        }
            .link__icon {
                /*vertical-align: top;*/
                /*flex-shrink: 0;*/
                /*width: 18px;*/
                /*height: 18px;*/
            }

    /* Наведение */
    .step::after {
        /*content: "";*/
        /*position: absolute;*/
        /*inset: 0;*/
        /*background-size: cover;*/
        /*background-repeat: no-repeat;*/
        /*background-position: center center;*/
        border-radius: 16px;
        /*opacity: 0;*/
        /*transition: opacity 250ms ease;*/
    }

    .step:hover::after {
        /*opacity: 100%;*/
    }
}


