@media (740px <= width) {

    .stories {

    }
        .stories__heading {

        }

        .stories__cut {
            overflow: hidden;
        }
            .stories__stretch {
                margin-left: -180px;
                margin-right: -180px;
            }
}
