.stories {
    position: relative;
    padding-top: 75px;
    overflow: hidden; /* Обрезаем карусель */
}
    .stories__heading {
        margin-top: 0;
        margin-bottom: 0;
        font-family: var(--font-heading);
        font-weight: normal;
        font-style: italic;
        font-size: 39px;
        line-height: 54px;
        text-transform: uppercase;
        color: #E4BB6B;
    }

    .stories__widget {
        margin-top: 40px;
    }


@media (1850px <= width) {

    .stories {
        padding-top: 100px;
    }
        .stories__heading {
            font-size: 52px;
            line-height: 61px;
        }

        .future__widget {
            margin-top: 60px;
        }
}



@media (width < 740px) {

    .stories {
        padding-top: 60px;
    }
        .stories__heading {
            font-size: 26px;
            line-height: 30px;
        }

        .stories__widget {
            margin-top: 24px;
            max-width: 430px; /* Максимальный поддерживаемый телефон -- это стандартные
                             430px для "iPhone 15 Plus" и "iPhone 15 Pro Max".
                             На устройствах больше будет прост центрирование. */
            border-left: var(--container-padding) solid transparent;
            border-right: var(--container-padding) solid transparent;
            margin-left: auto;
            margin-right: auto;
        }
}




.stories--landing {
    margin-top: 100px;
    margin-bottom: calc(-1 * var(--footer-margin));
    padding-top: 50px;
    padding-bottom: 80px;
    border-bottom: 1px solid #9C9CC5;
    background-color: #EBD7B2;
    color-scheme: light;
}
    .stories--landing .stories__heading {
        color: #0B1E3A;
    }
        .stories--landing .carousel__pagination {
            color: #303F64;
        }

        .stories--landing .stories__widget {
            margin-top: 27px;
        }


@media (1850px <= width) {

    .stories--landing {
        padding-top: 75px;
        padding-bottom: 103px;
    }

        .stories--landing .stories__widget {
            margin-top: 45px;
        }
}

@media (width < 740px) {

    .stories--landing {
        padding-top: 24px;
        padding-bottom: 65px;
    }

    .stories--landing .stories__widget {
        margin-top: 23px;
    }
}
