.stripes {
    position: relative;
    height: 112px;
    overflow: hidden;
}
    .stripes__item {
        width: fit-content;
        padding: 6px 13px;
        color-scheme: light;
        font-family: var(--font-heading);
        font-weight: 600;
        font-style: italic;
        font-size: 30px;
        line-height: 36px;
        white-space: nowrap;
        text-transform: uppercase;
    }
        .stripes__item::before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            width: 3000px;
        }

        .stripes__line-break {
            display: none;
        }

    .stripes__item--primary {
        position: absolute;
        right: 50%;
        top: 0;
        background-color: #E4BB6B;
        color: #303F64;
    }
        /* Продлеваем полоску */
        .stripes__item--primary::before {
            right: 100%;
            margin-right: -2px; /* чтобы при зуме наверняка соприкасалось с основным телом */
            background-color: #E4BB6B;
        }

    .stripes__item--secondary {
        position: absolute;
        left: 50%;
        bottom: 0;
        background-color: #F8F0E5;
        color: #0B1E3A;
    }
        .stripes__item--secondary::before {
            left: 100%;
            margin-left: -2px; /* чтобы при зуме наверняка соприкасалось с основным телом */
            background-color: #F8F0E5;
        }



@media (1850px <= width) {

    .stripes {
        height: 152px;
    }
        .stripes__item {
            padding: 8px 16px;
            font-size: 40px;
            line-height: 48px;
        }
            .stripes__item::before {

            }

        .stripes__item--primary {

        }
            /* Продлеваем полоску */
            .stripes__item--primary::before {

            }

        .stripes__item--secondary {

        }
            .stripes__item--secondary::before {

            }
}



@media (width < 740px) {

    .stripes {
        height: 82px;
    }
        .stripes__item {
            padding: 4px 10px;
            font-size: 22px;
            line-height: 26px;
        }

        @media (width < 350px) {

            .stripes__item {
                font-size: 20px;
                line-height: 25px;
            }
        }



            .stripes__item::before {
                width: 500px;
            }

            .stripes__line-break {
                display: inline;
            }

        .stripes__item--primary {

        }
            /* Продлеваем полоску */
            .stripes__item--primary::before {

            }

        .stripes__item--secondary {

        }
            .stripes__item--secondary::before {

            }
}




/* Вариант с волковым */

.stripes--founder {
    margin-top: 60px;
}
    .stripes--founder .stripes__item--primary {
        margin-right: -296px; /* Вытягиваем относительно центра */
    }

    .stripes--founder .stripes__item--secondary {
        margin-left: -296px; /* Вытягиваем относительно центра */
    }

@media (1850px <= width) {

    .stripes--founder {
        margin-top: 102px;
    }
        .stripes--founder .stripes__item--primary {
            margin-right: -394px; /* Вытягиваем относительно центра */
        }

        .stripes--founder .stripes__item--secondary {
            margin-left: -394px; /* Вытягиваем относительно центра */
        }
    }

@media (width < 740px) {

    .stripes--founder {
        margin-top: 80px;
        height: 134px;
    }
        .stripes--founder .stripes__item--primary {
            margin-right: -82px; /* Вытягиваем относительно центра */
        }

        .stripes--founder .stripes__item--secondary {
            margin-left: -60px; /* Вытягиваем относительно центра */
        }
}



/* Вариант с летописью */

.stripes--chronicle {
    margin-top: 105px;
}
    .stripes--chronicle .stripes__item--primary {
        margin-right: 10px; /* Вытягиваем относительно центра */
    }

    .stripes--chronicle .stripes__item--secondary {
        margin-left: -296px; /* Вытягиваем относительно центра */
    }

@media (1850px <= width) {

    .stripes--chronicle {
        margin-top: 140px;
    }
        .stripes--chronicle .stripes__item--primary {
            margin-right: 14px; /* Вытягиваем относительно центра */
        }

        .stripes--chronicle .stripes__item--secondary {
            margin-left: -394px; /* Вытягиваем относительно центра */
        }
    }

@media (width < 740px) {

    .stripes--chronicle {
        margin-top: 80px;
        height: 110px;
    }
        .stripes--chronicle .stripes__item--primary {
            margin-right: -82px; /* Вытягиваем относительно центра */
        }

        .stripes--chronicle .stripes__item--secondary {
            margin-left: -124px; /* Вытягиваем относительно центра */
        }
}



/* Вариант с Lorem Ipsum */

.stripes--encyclopedia {

}
    .stripes--encyclopedia .stripes__item--primary {
        margin-right: -300px; /* Вытягиваем относительно центра */
    }

    .stripes--encyclopedia .stripes__item--secondary {
        margin-left: -285px; /* Вытягиваем относительно центра */
    }

@media (1850px <= width) {

    .stripes--encyclopedia {

    }

        .stripes--encyclopedia .stripes__item--primary {
            margin-right: -390px; /* Вытягиваем относительно центра */
        }

        .stripes--encyclopedia .stripes__item--secondary {
            margin-left: -390px; /* Вытягиваем относительно центра */
        }
    }

@media (width < 740px) {

    .stripes--encyclopedia {
        height: 134px;
    }
        .stripes--encyclopedia .stripes__item--primary {
            margin-right: -72px; /* Вытягиваем относительно центра */
        }

        .stripes--encyclopedia .stripes__item--secondary {
            margin-left: -122px; /* Вытягиваем относительно центра */
        }
}
