.subscription {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
    gap: 1px 20px;
}
    .subscription__field {

    }

    .subscription__agreement {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 3;
        max-width: 300px;
    }

    .subscription__text-agreement {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 3;
        margin-top: 4px;
        font-size: 11px;
        line-height: 16px;
        color: #505050;
    }

    .subscription__submit {

    }
        .subscription__submit.button,
        .subscription__submit .button {
            padding-left: 26px;
            padding-right: 26px;
        }



@media (1850px <= width) {

    .subscription {
        /*display: grid;*/
        /*grid-template-columns: 1fr auto;*/
        /*grid-template-rows: auto auto;*/
        gap: 2px 24px;
    }
        .subscription__field {

        }

        .subscription__agreement {
            /*grid-row-start: 2;*/
            /*grid-row-end: 3;*/
            /*grid-column-start: 1;*/
            /*grid-column-end: 3;*/
            max-width: 370px;
        }

        .subscription__text-agreement {
            /*margin-top: 4px;*/
            font-size: 13px;
            line-height: 20px;
            /*color: #505050;*/
        }

        .subscription__submit {

        }
            .subscription__submit.button,
            .subscription__submit .button {
                padding-left: 40px;
                padding-right: 40px;
            }
}



@media (width < 740px) {

    .subscription {
        display: flex;
        flex-direction: column;
        /*grid-template-columns: 1fr auto;*/
        /*grid-template-rows: auto auto;*/
        /*gap: 1px 20px;*/
    }
        .subscription__field {

        }

        .subscription__agreement {
            margin-top: 4px;
            /*grid-row-start: 2;*/
            /*grid-row-end: 3;*/
            /*grid-column-start: 1;*/
            /*grid-column-end: 3;*/
            max-width: none;
        }

        .subscription__text-agreement {

        }

        .subscription__submit {
            margin-top: 8px;
        }
            .subscription__submit.button,
            .subscription__submit .button {
                width: 100%;
                /*padding-left: 26px;*/
                /*padding-right: 26px;*/
            }
}



.subscription--footer {
    /*display: grid;*/
    /*grid-template-columns: 1fr auto;*/
    /*grid-template-rows: auto auto;*/
    /*gap: 1px 20px;*/
}
    .subscription--footer .subscription__field {

    }

    .subscription--footer .subscription__agreement {
        /*grid-row-start: 2;*/
        /*grid-row-end: 3;*/
        /*grid-column-start: 1;*/
        /*grid-column-end: 3;*/
        /*max-width: 300px;*/
    }

    .subscription--footer .subscription__submit {

    }
        .subscription--footer .subscription__submit.button,
        .subscription--footer .subscription__submit .button {
            /*padding-left: 26px;*/
            /*padding-right: 26px;*/
        }

        .subscription--footer .subscription__submit.button:hover,
        .subscription--footer .subscription__submit .button:hover {
            background-color: #0B1E3A;
            color: #E4BB6B;
        }


