/* Глобальные стили для всех каруселей */

.swiper-button-next,
.swiper-button-prev {
    user-select: none;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
    pointer-events: auto; /* Не отменяем чтобы при клике не выделялся соседний текст, чтобы сработал user-select: none; выше */
}



/* Скин basic */

.swiper--skin-basic {
    /* Если оставить overflow: hidden по дефолту, то получается странный эффект
       когда карусель уходит не в край экрана, а в край контейнера. Отменяем это поведение.
       overflow: hidden; возвращается на уровне .page, уже за пределами контейнера.
    */
    overflow: visible;
}

@media (740px <= width) {

    .swiper--skin-basic .swiper-controls {
        display: none;
    }
}


@media (width < 740px) {

    .swiper--skin-basic {

    }
        .swiper--skin-basic .swiper-slide:not(:first-child) {
            display: none;
        }

        .swiper--skin-basic.swiper-initialized .swiper-slide {
            display: block;
        }

        .swiper--skin-basic .swiper-controls {
            display: none;
            align-items: center;
            justify-content: center;
            margin-bottom: -16px; /* Потому что нижний паддинг у кнопок */
        }

        .swiper--skin-basic.swiper-initialized .swiper-controls {
            display: flex;
        }
            .swiper--skin-basic .swiper-pagination {
                width: auto;
                position: static;
                font-size: 15px;
                line-height: 20px;
                user-select: none; /* При клике по стрелочкам иногда текст выделяется */
            }

            .swiper--skin-basic .swiper-button {
                position: static;
                margin: 0;
                width: 49px;
                height: 49px;
                transition: opacity var(--transition-hover);
            }

            .swiper--skin-basic .swiper-button::after {
                display: none;
            }
                .swiper--skin-basic .swiper-arrow {
                    flex-shrink: 0;
                    vertical-align: top;
                    stroke: #FFFFFF;
                    width: 27px;
                    height: 17px;
                }
}






.swiper--photo-gallery {

}

@media (740px <= width) {

    .swiper--photo-gallery .swiper-wrapper {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: 20px;
    }

    @media (1850px <= width) {

        .swiper--photo-gallery .swiper-wrapper {
            gap: 24px;
        }
    }
}



.swiper--video-gallery {

}

@media (740px <= width) {

    .swiper--video-gallery .swiper-wrapper {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 20px;
    }

    @media (1850px <= width) {

        .swiper--video-gallery .swiper-wrapper {
            gap: 24px;
        }
    }
}













