.timeline {
    padding-bottom: 100px;
}
    .timeline__widget {
        position: relative;
        /*overflow: hidden;*/
        height: 3000px; /* Speed */
    }
        .timeline__viewport {
            position: sticky;
            top: 0; /* Момент, когда начинается горизонтальная прокрутка */
            height: 100vh; /* Когда заканчивается */
        }
            .timeline__scroll {
                height: 100%;
                overflow: hidden;
            }
                .timeline__wrap {
                    position: relative;
                    height: 100%;
                    display: flex;
                }
                    .timeline__ribbon {
                        width: 4332px;
                        height: 100%;
                        padding-top: var(--header-collapsed-height);
                        display: flex;
                        align-items: center;
                    }
                        .timeline__history {
                            width: 4332px;
                            height: 700px;
                            background-image: url("../vectors/timeline.svg");
                            background-size: contain;
                            background-repeat: no-repeat;
                            background-position: left top;
                        }


    .timeline__viewport--landed {

    }
