.timeline {
    --point-width: 480px; /* должно совпадать с шириной фоновой кривой от (от точки до точки) */
    --points-gap: 100px; /* отступ между точками или правый паддинг другими словами */
    --total-points: 26; /* значение по-умолчанию, но будет корректироваться скриптом */
}

.timeline {
    padding-bottom: 80px;
}
    .timeline__widget {
        position: relative;
        height: 6000px; /* Speed */
    }
        .timeline__viewport {
            position: sticky;
            top: 0; /* Момент, когда начинается горизонтальная прокрутка */
            height: 100vh; /* Когда заканчивается */
        }
            .timeline__scroll {
                height: 100%;
                overflow: hidden;
            }
                .timeline__wrap {
                    position: relative;
                    height: 100%;
                    display: flex;
                }
                    .timeline__ribbon {
                        width: calc(var(--total-points) * var(--point-width) - var(--points-gap)); /* у последнего айтема нет правого отступа */
                        height: 100%;
                        padding-top: var(--header-collapsed-height);
                        display: flex;
                        align-items: center;
                    }
                        .timeline__history {
                            position: relative;
                            width: 100%;
                            height: 109px;
                            display: flex;
                            align-items: flex-start;
                        }
                            /* По-идее фон должен быть на timeline__history, но он странно смотрится на последнем элементуе. Нужно обрезать его справа на 380px */
                            .timeline__history::before {
                                content: "";
                                position: absolute;
                                inset: 0;
                                right: calc(var(--point-width) - var(--points-gap));
                                background-image: url("../vectors/timeline.svg");
                                background-size: calc(2 * var(--point-width)) 109px;
                                background-repeat: repeat-x;
                                background-position: left top;
                            }

                            .timeline__point {
                                padding-right: var(--points-gap);
                                position: relative;
                                width: var(--point-width);
                                height: 100%;
                                flex-shrink: 0;
                            }

                            .timeline__point:last-child {
                                padding-right: 0;
                            }
                                .timeline__point-inner {
                                    position: absolute;
                                    left: 0;
                                    right: var(--points-gap);
                                }

                                .timeline__point:nth-child(odd) .timeline__point-inner {
                                    top: 100%;
                                    padding-top: 20px;
                                }

                                .timeline__point:nth-child(even) .timeline__point-inner {
                                    bottom: 100%;
                                    padding-bottom: 20px;
                                }
                                    .timeline__point-inner::before {
                                        content: "";
                                        position: absolute;
                                        left: -6px;
                                        display: block;
                                        width: 12px;
                                        height: 12px;
                                        border-radius: 50%;
                                        background-color: #F8F0E5;
                                        box-shadow: 0 0 0 4px rgb(248 240 229 / 50%);
                                    }

                                    .timeline__point:nth-child(odd) .timeline__point-inner::before {
                                        top: -8px;
                                    }

                                    .timeline__point:nth-child(even) .timeline__point-inner::before {
                                        bottom: -8px;
                                    }

                                    .timeline__year {
                                        font-weight: bold;
                                        font-size: 18px;
                                        line-height: 22px;
                                        color: #F8F0E5;
                                    }

                                    .timeline__heading {
                                        margin-top: 8px;
                                        font-family: var(--font-heading);
                                        font-style: italic;
                                        font-weight: 600;
                                        font-size: 20px;
                                        line-height: 24px;
                                        color: #E4BB6B;
                                        text-transform: uppercase;
                                    }

                                    .timeline__description {
                                        margin-top: 4px;
                                        font-size: 15px;
                                        line-height: 22px;
                                    }


@media (1850px <= width) {

    .timeline {
        --point-width: 720px; /* должно совпадать с шириной фоновой кривой от (от точки до точки) */
        --points-gap: 124px; /* отступ между точками или правый паддинг другими словами */
    }

    .timeline {
        padding-bottom: 120px;
    }

        .timeline__widget {
            height: 8000px; /* Speed */
        }
            .timeline__viewport {

            }
                .timeline__scroll {

                }
                    .timeline__wrap {

                    }
                        .timeline__ribbon {

                        }
                            .timeline__history {
                                height: 163px;
                            }
                                /* По-идее фон должен быть на timeline__history, но он странно смотрится на последнем элементуе. Нужно обрезать его справа на 380px */
                                .timeline__history::before {
                                    background-image: url("../vectors/timeline-monitor.svg");
                                    background-size: calc(2 * var(--point-width)) 163px;
                                }

                                .timeline__point {

                                }

                                .timeline__point:last-child {

                                }
                                    .timeline__point-inner {

                                    }

                                    .timeline__point:nth-child(odd) .timeline__point-inner {
                                        padding-top: 26px;
                                    }

                                    .timeline__point:nth-child(even) .timeline__point-inner {
                                        padding-bottom: 26px;
                                    }
                                        .timeline__point-inner::before {
                                            left: -8px;
                                            width: 16px;
                                            height: 16px;
                                            box-shadow: 0 0 0 5px rgb(248 240 229 / 50%);
                                        }

                                        .timeline__point:nth-child(odd) .timeline__point-inner::before {
                                            top: -10px;
                                        }

                                        .timeline__point:nth-child(even) .timeline__point-inner::before {
                                            bottom: -10px;
                                        }

                                        .timeline__year {
                                            font-size: 22px;
                                            line-height: 26px;
                                        }

                                        .timeline__heading {
                                            margin-top: 12px;
                                            font-size: 24px;
                                            line-height: 29px;
                                        }

                                        .timeline__description {
                                            margin-top: 6px;
                                            font-size: 18px;
                                            line-height: 24px;
                                        }
}



@media (width < 740px) {

    .timeline {
        /*--point-width: 480px; !* должно совпадать с шириной фоновой кривой от (от точки до точки) *!*/
        /*--points-gap: 100px; !* отступ между точками или правый паддинг другими словами *!*/
        /*--total-points: 26; !* значение по-умолчанию, но будет корректироваться скриптом *!*/
        --points-heigt: 270px;
    }

    .timeline {
        padding-top: 54px;
        padding-bottom: 0;
    }
        .timeline__widget {
            /*position: relative;*/
            height: auto;
            overflow-x: auto;
        }
            .timeline__viewport {
                position: static;
                width: calc(970px + 2 * var(--container-padding));
                height: auto;
                padding-top: 16px; /* чтобы шарики не влияли на скролл */
            }
                .timeline__scroll {
                    height: auto;
                    overflow: visible;
                }
                    .timeline__wrap {
                        /*position: relative;*/
                        height: auto;
                        display: block;
                    }
                        .timeline__wrap.container {
                            max-width: none;
                            border: none;
                        }

                        .timeline__ribbon {
                            width: auto;
                            height: auto;
                            padding-top: 0;
                            display: block;
                            /*align-items: center;*/
                        }
                            .timeline__history {
                                position: relative;
                                width: auto;
                                height: auto;
                                display: flex;
                                align-items: flex-start;
                                flex-direction: column;
                            }
                                /* По-идее фон должен быть на timeline__history, но он странно смотрится на последнем элементуе. Нужно обрезать его справа на 380px */
                                .timeline__history::before {
                                    /*content: "";*/
                                    position: absolute;
                                    inset: 0 var(--container-padding);
                                    bottom: var(--points-heigt);
                                    /*top: calc(var(--point-width) - var(--points-gap));*/
                                    background-image: url("../vectors/timeline-smartphone.svg");
                                    background-size: 970px calc(2 * var(--points-heigt));
                                    background-repeat: repeat-y;
                                    /*background-position: left top;*/
                                }

                                .timeline__point {
                                    padding-right: 0;
                                    /*position: relative;*/
                                    width: 334px;
                                    height: var(--points-heigt);
                                    margin-left: var(--container-padding);
                                    /*flex-shrink: 0;*/
                                }

                                .timeline__point:nth-child(even) {
                                    margin-left: auto;
                                    margin-right: var(--container-padding);
                                }

                                .timeline__point:last-child {
                                    /*padding-right: 0;*/
                                }
                                    .timeline__point-inner {
                                        position: absolute;
                                        top: 0;
                                        left: auto;
                                        right: auto;
                                    }

                                    .timeline__point:nth-child(odd) .timeline__point-inner {
                                        left: 0;
                                        top: auto;
                                        padding-top: 24px;
                                    }

                                    .timeline__point:nth-child(even) .timeline__point-inner {
                                        right: 0;
                                        bottom: auto;
                                        padding-top: 24px;
                                    }
                                        .timeline__point-inner::before {
                                            /*content: "";*/
                                            /*position: absolute;*/
                                            left: auto;
                                            /*display: block;*/
                                            width: 22px;
                                            height: 22px;
                                            /*border-radius: 50%;*/
                                            /*background-color: #F8F0E5;*/
                                            box-shadow: 0 0 0 5px rgb(248 240 229 / 50%);
                                        }

                                        .timeline__point:nth-child(odd) .timeline__point-inner::before {
                                            top: -11px;
                                            left: -11px;
                                        }

                                        .timeline__point:nth-child(even) .timeline__point-inner::before {
                                            top: -11px;
                                            right: -11px;
                                            bottom: auto;
                                        }

                                        .timeline__year {
                                            /*font-weight: bold;*/
                                            font-size: 20px;
                                            line-height: 24px;
                                            /*color: #F8F0E5;*/
                                        }

                                        .timeline__heading {
                                            margin-top: 12px;
                                            /*font-family: var(--font-heading);*/
                                            /*font-style: italic;*/
                                            /*font-weight: 600;*/
                                            font-size: 20px;
                                            line-height: 24px;
                                            /*color: #E4BB6B;*/
                                            /*text-transform: uppercase;*/
                                        }

                                        .timeline__description {
                                            margin-top: 12px;
                                            font-size: 16px;
                                            line-height: 22px;
                                        }
}

