.timeline {
    padding-bottom: 100px;
}
    .timeline__widget {
        position: relative;
        height: 2500px; /* Speed */
    }
        .timeline__viewport {
            position: sticky;
            top: 0; /* Момент, когда начинается горизонтальная прокрутка */
            height: 100vh; /* Когда заканчивается */
        }
            .timeline__scroll {
                height: 100%;
                overflow: hidden;
            }
                .timeline__wrap {
                    position: relative;
                    height: 100%;
                    display: flex;
                }
                    .timeline__ribbon {
                        width: 2723px;
                        height: 100%;
                        padding-top: var(--header-collapsed-height);
                        display: flex;
                        align-items: center;
                    }
                        .timeline__history {
                            width: 2723px;
                            height: 440px;
                            background-image: url("../vectors/timeline.svg");
                            background-size: contain;
                            background-repeat: no-repeat;
                            background-position: left top;
                        }


    .timeline__viewport--landed {

    }



@media (1850px <= width) {

    .timeline {
        /*padding-bottom: 100px;*/
    }
        .timeline__widget {
            /*position: relative;*/
            height: 3000px; /* Speed */
        }
            .timeline__viewport {
                /*position: sticky;*/
                /*top: 0; !* Момент, когда начинается горизонтальная прокрутка *!*/
                /*height: 100vh; !* Когда заканчивается *!*/
            }
                .timeline__scroll {
                    /*height: 100%;*/
                    /*overflow: hidden;*/
                }
                    .timeline__wrap {
                        /*position: relative;*/
                        /*height: 100%;*/
                        /*display: flex;*/
                    }
                        .timeline__ribbon {
                            width: 4332px;
                            /*height: 100%;*/
                            /*padding-top: var(--header-collapsed-height);*/
                            /*display: flex;*/
                            /*align-items: center;*/
                        }
                            .timeline__history {
                                width: 4332px;
                                height: 700px;
                                /*background-image: url("../vectors/timeline.svg");*/
                                /*background-size: contain;*/
                                /*background-repeat: no-repeat;*/
                                /*background-position: left top;*/
                            }


        .timeline__viewport--landed {

        }
}



@media (width < 740px) {

    .timeline {
        padding-bottom: 0;
    }
        .timeline__widget {
            /*position: relative;*/
            height: auto; /* Speed */
        }
            .timeline__viewport {
                position: static;
                /*top: 0; !* Момент, когда начинается горизонтальная прокрутка *!*/
                height: auto; /* Когда заканчивается */
            }
                .timeline__scroll {
                    height: auto;
                    overflow: visible;
                    overflow-x: auto;
                    padding-top: 60px;
                    padding-bottom: 60px;
                }
                    .timeline__wrap {
                        position: static;
                        height: auto;
                        display: block;
                    }
                        .timeline__ribbon {
                            width: 970px;
                            height: auto;
                            padding-top: 0;
                            display: block;
                        }
                            .timeline__history {
                                width: 970px;
                                height: 1433px;
                                background-image: url("../vectors/timeline-smartphone.svg");
                            }


        .timeline__viewport--landed {

        }
}

