.torn-apart {

}
    .torn-apart__content {
        position: relative;
        z-index: 20;
        background-color: #0B1E3A; /* как у body */
    }

    /* stylelint-disable */
    .torn-apart__gap {
        height: calc(100svh - var(--header-collapsed-height)); /* держит высоту для создания дыры */
    }
    /* stylelint-enable */

        .torn-apart__image {
            position: fixed;
            z-index: 10;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            vertical-align: top;
            object-fit: cover;
            background-color: var(--image-fallback);
        }
