.troupe {
    padding-top: var(--page-top-padding);
}
    .troupe__heading {
        margin-top: 0;
        margin-bottom: 0;
        text-align: center;
    }

    .troupe__search {
        margin-top: 24px;
        width: 420px;
        margin-left: auto;
    }

    .troupe__body {

    }
        .troupe__person {

        }
