.volkov {
    overflow: hidden; /* обрезаем анимации */
    position: relative;
    height: 700px;
    padding-top: var(--header-height);
    background-image: url("../images/volkov/volkov-background-laptop@1x.jpg");
    background-size: 1850px 700px;
    background-repeat: no-repeat;
    background-position: center center;
}

@media (min-resolution: 2dppx) {

    .volkov {
        background-image: url("../images/volkov/volkov-background-laptop@2x.jpg");
    }
}


/* На широких ноутах театр смещённый вправо выглядит немного странно. Подвинем влево: */

@media (1440px <= width) {

    .volkov {
        background-position: calc(50% - 100px) center;
    }
}


    /* Волков - портрет */
    .volkov__hero {
        position: absolute;
        left: 50%;
        top: 50%;
        margin-top: -220px;
        margin-left: -213px;
        width: 426px;
        height: 500px;
        background-image: url("../images/volkov/volkov-hero-laptop@1x.png");
        background-size: auto 100%;
        background-repeat: no-repeat;
        background-position: center center;
    }

    @media (min-resolution: 2dppx) {

        .volkov__hero {
            background-image: url("../images/volkov/volkov-hero-laptop@2x.png");
        }
    }

    /* Градиент */
    .volkov__overlay {
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 30%;
        background-image: linear-gradient(transparent, #0B1E3A 70%, #0B1E3A);
    }
        .volkov__content {
            position: relative;
            height: 100%;
        }
            .volkov__intro {
                position: absolute;
                left: 0;
                top: 40px;
                width: 380px;
            }
                .volkov__heading {
                    margin-top: 0;
                    margin-bottom: 0;
                    font-family: var(--font-heading);
                    font-weight: 500;
                    font-style: italic;
                    font-size: 34px;
                    line-height: 40px;
                    color: #E4BB6B;
                    text-transform: uppercase;
                }

                .volkov__description {
                    margin-top: 24px;
                    font-size: 16px;
                    line-height: 22px;
                }

            .volkov__quote {
                position: absolute;
                right: 0;
                bottom: 70px;
                width: 600px;
                margin: 0 0 0 auto;
                font-family: var(--font-quote);
                font-style: normal;
                font-weight: normal;
                font-size: 32px;
                line-height: 38px;
            }
                .volkov__author {
                    margin-top: 10px;
                    display: block;
                    font-family: var(--font);
                    font-style: italic;
                    font-size: 16px;
                    line-height: 22px;
                    color: #E4BB6B;
                    text-align: right;
                }




@media (1850px <= width) {

    .volkov {
        height: 1050px;
        background-image: url("../images/volkov/volkov-background-monitor@1x.jpg");
        background-size: 2560px 1050px;
        background-position: center center;
    }

    @media (min-resolution: 2dppx) {

        .volkov {
            background-image: url("../images/volkov/volkov-background-monitor@2x.jpg");
        }
    }

        /* Волков - портрет */
        .volkov__hero {
            margin-left: -316px;
            margin-top: -320px;
            width: 584px;
            height: 740px;
            background-image: url("../images/volkov/volkov-hero-monitor@1x.png");
        }

        @media (min-resolution: 2dppx) {

            .volkov__hero {
                background-image: url("../images/volkov/volkov-hero-monitor@2x.png");
            }
        }

        /* Градиент */
        .volkov__overlay {
            height: 34%;
            background-image: linear-gradient(transparent, #0B1E3A 70%, #0B1E3A);
        }
            .volkov__content {

            }
                .volkov__intro {
                    top: 70px;
                    width: 642px;
                }
                    .volkov__heading {
                        font-size: 56px;
                        line-height: 67px;
                    }

                    .volkov__description {
                        margin-top: 40px;
                        font-size: 24px;
                        line-height: 33px;
                    }

                .volkov__quote {
                    bottom: 78px;
                    width: 761px;
                    font-size: 48px;
                    line-height: 58px;
                }
                    .volkov__author {
                        margin-top: 16px;
                        font-size: 24px;
                        line-height: 33px;
                    }
}



@media (width < 740px) {


    .volkov {
        height: 917px;
        background-image: url("../images/volkov/volkov-background-smartphone@1x.jpg");
        background-size: 740px 917px;
    }

    @media (min-resolution: 2dppx) {

        .volkov {
            background-image: url("../images/volkov/volkov-background-smartphone@2x.jpg");
        }
    }
        /* Волков - портрет */
        .volkov__hero {
            margin-left: -195px;
            margin-top: -130px;
            width: 391px;
            height: 464px;
            background-image: url("../images/volkov/volkov-hero-smartphone@1x.png");
        }

        @media (min-resolution: 2dppx) {

            .volkov__hero {
                background-image: url("../images/volkov/volkov-hero-smartphone@2x.png");
            }
        }

        /* Градиент */
        .volkov__overlay {
            height: 40%;
            background-image: linear-gradient(transparent, #0B1E3A 70%, #0B1E3A);
        }
            .volkov__content {

            }
                .volkov__intro {
                    top: 40px;
                    left: 0;
                    right: 0;
                    width: auto;
                }
                    .volkov__heading {
                        /*margin-top: 0;*/
                        /*margin-bottom: 0;*/
                        /*font-family: var(--font-heading);*/
                        /*font-weight: 500;*/
                        /*font-style: italic;*/
                        font-size: 32px;
                        line-height: 38px;
                        /*color: #E4BB6B;*/
                        /*text-transform: uppercase;*/
                    }

                    .volkov__description {
                        margin-top: 24px;
                        font-size: 16px;
                        line-height: 22px;
                    }

                .volkov__quote {
                    bottom: 0;
                    left: 0;
                    right: 0;
                    width: auto;
                    font-size: 28px;
                    line-height: 34px;
                }
                    .volkov__author {
                        margin-top: 16px;
                        /*display: block;*/
                        /*font-family: var(--font);*/
                        /*font-style: italic;*/
                        font-size: 18px;
                        line-height: 25px;
                        /*color: #E4BB6B;*/
                        /*text-align: right;*/
                    }
}


