.week {

}
    .week__inner {
        display: grid;
        gap: 40px;
    }
        .week__row {
            /* Ширины:
                 7*155 (дни календаря)
               + 6*1 (разделители)
               + 12*9 (отступы слева и справа от разделителей)
               = 1199
            */
            display: grid;
            grid-template-columns: repeat(7, 155px);
            gap: 19px;
            background-image: linear-gradient(to right, transparent, transparent 173px, #223152 173px, #223152 174px);
            background-size: 174px 1px;
            background-repeat: repeat;
            background-position: -8px top;
        }
            .week__day {
                padding-top: 3px;
                padding-bottom: 12px;
            }

            .week__day--empty {
                font-size: 16px;
                line-height: 24px;
                color: #B9B9B9;
                text-align: center;
            }
                .week__number {
                    font-family: var(--font-heading);
                    font-style: italic;
                    font-size: 36px;
                    line-height: 36px;
                    text-align: right;
                    color: #FFFFFF;
                }

                .week__day--weekend .week__number {
                    color: #E4BB6B;
                }

                .week__today-shows {
                    margin-top: 21px;
                    display: flex;
                    flex-direction: column;
                    gap: 24px;
                }
                    .week__item {

                    }
                        .week__mobile-number {
                            display: none;
                        }

                        .week__mobile-day-title {
                            display: none;
                        }

                        .week__show {

                        }


@media (1850px <= width) {

    .week {

    }
        .week__inner {
            display: grid;
            gap: 60px;
        }
            .week__row {
                /* Ширины:
                     7*227 (дни календаря)
                   + 6*2 (разделители)
                   + 12*13 (отступы слева и справа от разделителей)
                   + 3 (три лишних пикселя осталось)
                   = 1760
                */
                width: 1757px; /* на 3px меньше контейнера */
                margin-left: auto;
                margin-right: auto;
                /*display: grid;*/
                grid-template-columns: repeat(7, 227px);
                gap: 28px;
                background-image: linear-gradient(to right, transparent, transparent 253px, #223152 253px, #223152 255px);
                background-size: 255px 1px;
                /*background-repeat: repeat;*/
                background-position: -13px top;
            }
                .week__day {
                    padding-top: 4px;
                    padding-bottom: 16px;
                }

                .week__day--empty {
                    font-size: 18px;
                    line-height: 25px;
                }
                    .week__number {
                        font-family: var(--font-heading);
                        /*font-style: italic;*/
                        font-size: 48px;
                        line-height: 48px;
                        /*text-align: right;*/
                    }

                    .week__number--weekend {
                        /*color: #E4BB6B;*/
                    }

                    .week__today-shows {
                        margin-top: 15px;
                        /*display: flex;*/
                        /*flex-direction: column;*/
                        gap: 18px;
                    }
                        .week__item {

                        }
                            .week__mobile-number {
                                /*display: none;*/
                            }

                            .week__mobile-day-title {
                                /*display: none;*/
                            }

                            .week__show {

                            }
}



@media (width < 740px) {

    .week {
        --padding: 12px;
    }

    .week {
        overflow: hidden;
    }
        .week__inner {
            display: block;
        }
            .week__row {
                display: block;
                background-image: none;
                margin-left: calc(-1 * var(--padding));
                margin-right: calc(-1 * var(--padding));
            }
                .week__day {
                    padding: 0;
                }

                .week__day--empty {
                    display: none;
                }

                /* clearfix */
                .week__row::before,
                .week__row::after {
                    content: " ";
                    display: table;
                }

                .week__row::after {
                    clear: both;
                }

                    .week__number {
                        display: none;
                        /*font-family: var(--font-heading);*/
                        /*font-style: italic;*/
                        /*font-size: 36px;*/
                        /*line-height: 36px;*/
                        /*text-align: right;*/
                    }

                    .week__number--weekend {
                        /*color: #E4BB6B;*/
                    }

                    .week__today-shows {
                        margin-top: 0;
                        display: block;
                        flex-direction: column;
                        gap: calc(2 * var(--padding));
                    }
                        .week__item {
                            float: left;
                            width: 50%;
                            margin-top: 24px;
                            padding-left: var(--padding);
                            padding-right: var(--padding);
                            border-left: 1px solid #223152;
                            border-right: 1px solid #223152;
                        }
                            .week__mobile-number {
                                display: block;
                                font-family: var(--font-heading);
                                font-style: italic;
                                font-size: 40px;
                                line-height: 38px;
                                color: #FFFFFF;
                                text-align: right;
                            }

                            .week__day--weekend .week__mobile-number {
                                color: #E4BB6B;
                            }

                            .week__mobile-day-title {
                                display: block;
                                margin-bottom: 24px;
                                text-align: right;
                                font-family: var(--font-heading);
                                font-style: italic;
                                font-size: 16px;
                                line-height: 19px;
                                color: #B9B9B9;
                                text-transform: lowercase;
                            }

                            .week__day--weekend .week__mobile-day-title {
                                color: #EBD7B2;
                            }

                            .week__show {

                            }

}

