.window {
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    background-color: #F8F0E5;
    color: #000000;
    border-radius: 8px;
}
    .window__close {
        float: right;
        position: relative;
        inset: 0;
        margin: 10px;
        width: 60px;
        height: 60px;
        text-indent: 200%;
        white-space: nowrap;
        overflow: hidden !important;
        opacity: 1;
    }
        .window__close::after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            background-image: url("../vectors/cross.svg");
            background-size: 24px 24px;
            background-repeat: no-repeat;
            background-position: center center;
        }

@media (1850px <= width) {

    .window {

    }
        .window__close {
            width: 80px;
            height: 80px;
        }
            .window__close::after {
                background-size: 28px 28px;
            }
}
