.window {
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    background-color: #FFFFFF;
    border-radius: 4px;
}
    .window__close {
        position: absolute;
        right: 10px !important;
        top: 10px !important;
        width: 44px;
        height: 44px;
        text-indent: 200%;
        white-space: nowrap;
        overflow: hidden !important;
        opacity: 1;
    }
        .window__close::after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            background-image: url("../vectors/cross.svg");
            background-size: 16px 16px;
            background-repeat: no-repeat;
            background-position: center center;
        }

