<!DOCTYPE html>
<html lang="ru" itemscope itemtype="https://schema.org/Thing">
    <head>
        <meta charset="utf-8">
        <title>Лендинг с историей</title>

        <!-- favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="../favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../favicon/favicon-16x16.png">
        <link rel="mask-icon" href="../favicon/safari-pinned-tab.svg" color="#FFFFFF">

        <!-- manifest -->
        <link rel="manifest" href="../manifest.json">
        <meta name="theme-color" content="#FFFFFF">
        <meta name="msapplication-config" content="../browserconfig.xml">
        <meta name="msapplication-TileColor" content="#FFFFFF">

        <!-- assets -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../styles/styles.css">

    </head>
    <body>

        <!--[if IE]>
            <div class="browser">
                Вы используете устаревший браузер. Для корректной работы этого сайта и большинства других вам необходимо перейти на современный&nbsp;браузер.
            </div>
        <![endif]-->


        <div class="header-volkov">
            <div class="header__detachable-part">
                <div class="header-volkov__wrap container">
                    <div class="header-volkov__logo">
                        <a class="logo" href="#">
                            Театр Волкова — первый русский
                        </a>
                    </div>
                    <div class="header-volkov__language">
                        <div class="lang">
                            <button class="lang__link " type="button">РУС</button>
                            <button class="lang__link lang__link--current" type="button">ENG</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="page">
            <div class="volkov">
                <div class="volkov__wrap container">
                    <div class="volkov__intro">
                        <h1 class="volkov__heading">
                            Lorem ipsum magna nunc in sit amet
                        </h1>
                        <div class="volkov__description">
                            Lorem ipsum dolor sit amet consectetur. Turpis pretium morbi nisi nec. Auctor ipsum tempor quisque convallis aliquam cras morbi.
                        </div>
                    </div>
                    <blockquote class="volkov__quote">
                        Lorem ipsum dolor sit amet consectetur. Cursus tellus ornare sit accumsan sit nulla nec sollicitudin suspendisse. Egestas nec metus nunc viverra maecenas ut
                        <cite class="volkov__author">©Федор Волков</cite>
                    </blockquote>
                </div>
            </div>
            <div class="container">
1234
            </div>
            <footer class="footer">
                <div class="footer__wrap container">
                    <div class="footer__primary-section">
                        <div class="footer__navigation">
                            <nav class="nav nav--footer">
                                <div class="nav__section">
                                    <div class="nav__item">
                                        <a class="nav__link" href="news.html">Новости</a>
                                    </div>
                                    <div class="nav__item">
                                        <a class="nav__link" href="#">Репертуар</a>
                                    </div>
                                    <div class="nav__item">
                                        <a class="nav__link" href="#">Труппа</a>
                                    </div>
                                    <div class="nav__item">
                                        <a class="nav__link" href="#">О Театре</a>
                                        <div class="nav__sub-nav">
                                            <a class="nav__sub-link" href="#">Первый русский театр</a>
                                            <a class="nav__sub-link" href="#">Люди театра</a>
                                            <a class="nav__sub-link" href="equipment.html">Параметры сцены</a>
                                            <a class="nav__sub-link" href="documents.html">Документы</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="nav__section">
                                    <div class="nav__item">
                                        <a class="nav__link" href="#">Проекты и события</a>
                                        <div class="nav__sub-nav">
                                            <a class="nav__sub-link" href="#">275 лет</a>
                                            <a class="nav__sub-link" href="#">Волковский фестиваль</a>
                                            <a class="nav__sub-link" href="#">БТР</a>
                                            <a class="nav__sub-link" href="#">Режиссерская лаборатория</a>
                                            <a class="nav__sub-link" href="#">Наши гастроли</a>
                                            <a class="nav__sub-link" href="#">Конкурсы</a>
                                            <a class="nav__sub-link" href="#">Выставки</a>
                                            <a class="nav__sub-link" href="#">Центр Дмитревского</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="nav__section">
                                    <div class="nav__item">
                                        <a class="nav__link" href="#">
                                            Визит в театр
                                        </a>
                                        <div class="nav__sub-nav">
                                            <a class="nav__sub-link" href="#">Экскурсии</a>
                                            <a class="nav__sub-link" href="#">Фотосессия</a>
                                            <a class="nav__sub-link" href="#">Сувениры</a>
                                            <a class="nav__sub-link" href="#">Театральный буфет</a>
                                            <a class="nav__sub-link" href="#">Покупка и возврат билетов</a>
                                            <a class="nav__sub-link" href="#">Групповая заявка</a>
                                            <a class="nav__sub-link" href="#">План зала</a>
                                            <a class="nav__sub-link" href="#">Правила посещения театра</a>
                                            <a class="nav__sub-link" href="#">Пушкинская карта</a>
                                            <a class="nav__sub-link" href="#">3D тур по театру</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="nav__section">
                                    <div class="nav__item nav__item--contacts">
                                        <a class="nav__link" href="#">
                                            Контакты
                                        </a>
                                    </div>
                                    <div class="nav__item nav__item--encyclopedia">
                                        <a class="nav__link" href="#">
                                            Волковская энциклопедия
                                        </a>
                                    </div>
                                    <div class="nav__addition">
                                        <div class="contacts-preview">
                                            <div class="contacts-preview__tel-heading">
                                                Телефон кассы
                                            </div>
                                            <a class="contacts-preview__phone" href="tel:+74852727404">
                                                +7 (4852) 72-74-04
                                            </a>
                                            <div class="contacts-preview__media">
                                                <a class="net" href="https://t.me/volkov_teatr">
                                                    <span class="visuallyhidden">Телеграм</span>
                                                    <svg class="net__icon" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                                                        <path d="M32 16c0 8.837-7.163 16-16 16S0 24.837 0 16 7.163 0 16 0s16 7.163 16 16Zm-15.427-4.188c-1.556.647-4.666 1.987-9.33 4.02-.758.3-1.155.595-1.19.883-.062.487.548.679 1.378.94l.35.111c.817.266 1.916.576 2.487.589.519.01 1.097-.203 1.736-.641 4.357-2.942 6.607-4.429 6.748-4.461.1-.023.238-.051.332.032.093.083.084.24.074.283-.06.258-2.454 2.483-3.693 3.634-.386.36-.66.614-.716.672-.125.13-.253.254-.376.372-.759.732-1.328 1.28.032 2.176.653.431 1.176.787 1.698 1.142.57.388 1.137.775 1.872 1.257.188.123.367.25.54.374.664.473 1.26.898 1.995.83.428-.04.87-.441 1.094-1.64.53-2.834 1.572-8.974 1.812-11.504a2.822 2.822 0 0 0-.026-.63.674.674 0 0 0-.228-.433c-.192-.155-.488-.188-.62-.186-.602.01-1.525.332-5.969 2.18Z"/>
                                                    </svg>
                                                </a>
                                                <a class="net" href="https://vk.com/volkov_teatr">
                                                    <span class="visuallyhidden">Вконтакте</span>
                                                    <svg class="net__icon" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                                                        <path fill-rule="evenodd" d="M2.25 2.25C0 4.498 0 8.12 0 15.36v1.28c0 7.24 0 10.861 2.25 13.11C4.498 32 8.12 32 15.36 32h1.28c7.24 0 10.861 0 13.11-2.25C32 27.502 32 23.88 32 16.64v-1.28c0-7.24 0-10.861-2.25-13.11C27.502 0 23.88 0 16.64 0h-1.28C8.12 0 4.499 0 2.25 2.25ZM5.4 9.732c.173 8.32 4.333 13.32 11.627 13.32h.413v-4.76c2.68.267 4.707 2.227 5.52 4.76h3.787c-1.04-3.786-3.774-5.88-5.48-6.68 1.706-.986 4.106-3.386 4.68-6.64h-3.44c-.747 2.64-2.96 5.04-5.067 5.267V9.733H14v9.227c-2.133-.533-4.827-3.12-4.947-9.227H5.4Z"/>
                                                    </svg>
                                                </a>
                                                <a class="net" href="https://ok.ru/volkovteatr">
                                                    <span class="visuallyhidden">Одноклассники</span>
                                                    <svg class="net__icon" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                                                        <path d="M14.19 8.443A2.551 2.551 0 0 1 16 7.689c.716 0 1.357.283 1.81.754.47.471.753 1.112.753 1.809 0 .716-.283 1.357-.754 1.81a2.551 2.551 0 0 1-1.809.753 2.486 2.486 0 0 1-1.81-.754 2.55 2.55 0 0 1-.753-1.809c0-.697.302-1.338.754-1.81Z"/>
                                                        <path fill-rule="evenodd" d="M2.243 2.243C0 4.485 0 8.123 0 15.359v1.282c0 7.255 0 10.874 2.243 13.116C4.485 32 8.123 32 15.359 32h1.282c7.237 0 10.874 0 13.116-2.243C32 27.515 32 23.877 32 16.641v-1.282c0-7.237 0-10.874-2.243-13.116C27.515 0 23.877 0 16.641 0h-1.282C8.122 0 4.504 0 2.243 2.243ZM16 15.925a5.64 5.64 0 0 0 3.995-1.659 5.64 5.64 0 0 0 0-7.99 5.64 5.64 0 0 0-7.99 0 5.64 5.64 0 0 0 0 7.99A5.674 5.674 0 0 0 16 15.925Zm7.274 2.448-1.659-2.261a.26.26 0 0 0-.395-.038c-1.564 1.338-3.487 2.205-5.56 2.205-2.073 0-3.995-.867-5.56-2.205a.292.292 0 0 0-.395.038l-1.658 2.261a.285.285 0 0 0 .037.358 11.705 11.705 0 0 0 4.712 2.3L9.29 27.212c-.094.17.038.396.226.396h3.43c.114 0 .208-.057.245-.17l2.45-5.465 2.45 5.465c.038.094.132.17.245.17h3.43c.208 0 .32-.207.226-.396l-3.505-6.181c1.696-.396 3.317-1.15 4.712-2.3.15-.094.17-.245.075-.358Z"/>
                                                    </svg>
                                                </a>
                                            </div>
                                            <div class="contacts-preview__features">
                                                <div class="contacts-preview__shield contacts-preview__shield--pushkin-card">
                                                    Пушкинская карта
                                                </div>
                                                <div class="contacts-preview__shield contacts-preview__shield--quality">
                                                    Оценка качества услуг учреждений культуры
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </nav>
                        </div>
                        <div class="footer__subscription">
                            <div class="footer__subscription-intro">
                                <label class="footer__subscription-heading" for="footer-subscription-email">
                                    Подписка на рассылку
                                </label>
                                <div class="footer__subscription-note">
                                    Раз в неделю. Ничего лишнего.<br> Премьеры, репертуар, подборки спектаклей.
                                </div>
                            </div>
                            <div class="footer__subscription-form">
                                <form class="subscription subscription--footer" data-js-form>
                                    <div class="subscription__field">
                                        <div class="input input--inverted">
                                            <input class="input__widget" type="email" placeholder="E-mail" id="footer-subscription-email">
                                        </div>
                                    </div>
                                    <div class="subscription__text-agreement">
                                        Нажимая «Отправить» вы подтверждаете, что ознакомились с&nbsp;условиями <a class="link link--text-alike" href="#">Пользовательского соглашения</a>
                                    </div>
                                    <div class="subscription__submit">
                                        <button class="button" type="submit" data-js-submit>
                                            Отправить
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="footer__secondary-section">
                        <div class="footer__legalities">
                            <div class="footer__item">
                                2023 © Все права защищены
                            </div>
                            <div class="footer__item">
                                <a class="link link--inverted-text-alike" href="#">Политика конфиденциальности</a>
                            </div>
                            <div class="footer__item">
                                <a class="link link--inverted-text-alike" href="#">Карта сайта</a>
                            </div>
                        </div>
                        <a class="footer__developer red-star" href="https://redstar.agency">
                            разработано в&nbsp;<b class="red-star__logo">Редстар</b>
                        </a>
                    </div>
                </div>
            </footer>
        </div>

        <!-- Уведомления -->
        <div class="notifications-center">
            <div class="alert alert--success" data-js-alert-success style="display: none;">
                <div class="alert__label">
                    Ваша заявка получена. Спасибо за обращение!
                </div>
                <button class="alert__dismiss" type="button">
                    Закрыть
                </button>
            </div>
            <div class="alert alert--danger" data-js-alert-failure style="display: none;">
                <div class="alert__label">
                    Во время отправки данных произошла ошибка.<br class="desktop-only">
                    Проверьте ваше соединение и попробуйте позже.
                </div>
                <button class="alert__dismiss" type="button">
                    Закрыть
                </button>
            </div>
        </div>

        <!-- jQuery dependant -->
        <script src="../vendors/jquery/jquery-3.7.1.min.js"></script>
        <script src="../vendors/magnific-popup/jquery.magnific-popup.min.js"></script>
        <script src="../vendors/slick/slick.min.js"></script>
        <script src="../vendors/inputmask/jquery.inputmask.min.js"></script>
        <script src="../vendors/inputmask.phone/inputmask.phone.extensions.min.js"></script>
        <script src="../vendors/inputmask.phone/phone-codes/phone-ru.min.js"></script>

        <!-- Vanilla JS -->
        <script src="../vendors/swiper/swiper-bundle.min.js"></script>
        <script src="../vendors/photoswipe/photoswipe.umd.min.js"></script>
        <script src="../vendors/photoswipe/photoswipe-lightbox.umd.min.js"></script>

        <!-- Scripts -->
        <script src="../scripts/scripts.js"></script>

    </body>
</html>
