<!DOCTYPE html>
<html lang="en" itemscope itemtype="https://schema.org/Thing">
    <head>
        <meta charset="utf-8">
        <title>Деталка новости</title>

        <!-- favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="../favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../favicon/favicon-16x16.png">
        <link rel="mask-icon" href="../favicon/safari-pinned-tab.svg" color="#FFFFFF">

        <!-- manifest -->
        <link rel="manifest" href="../manifest.json">
        <meta name="theme-color" content="#FFFFFF">
        <meta name="msapplication-config" content="../browserconfig.xml">
        <meta name="msapplication-TileColor" content="#FFFFFF">

        <!-- assets -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../styles/styles.css">

    </head>
    <body>

        <!--[if IE]>
            <div class="browser">
                Вы используете устаревший браузер. Для корректной работы этого сайта и большинства других вам необходимо перейти на современный&nbsp;браузер.
            </div>
        <![endif]-->


        <div class="header">
            TO DO: Header
        </div>

        <div class="page">
            <div class="central container">
                <nav class="breadcrumbs">
                    <div class="breadcrumbs__item">
                        <a class="breadcrumbs__link" href="index.html">Главная</a>
                    </div>
                    <div class="breadcrumbs__item">
                        <a class="breadcrumbs__link" href="news.html">Новости</a>
                    </div>
                    <div class="breadcrumbs__item">
                        <div class="breadcrumbs__title">Театр Волкова покажет фолк-рок мюзикл о Некрасове и спектакли Сергея Пускепалиса в Ставрополе и Севастополе</div>
                    </div>
                </nav>


            </div>
            <footer class="footer">
                <div class="footer__wrap container">
                    TO DO: Footer
                </div>
            </footer>
        </div>


        <script src="../vendors/jquery/jquery-3.7.1.min.js"></script>
        <script src="../vendors/magnific-popup/jquery.magnific-popup.min.js"></script>
        <script src="../vendors/inputmask/jquery.inputmask.min.js"></script>
        <script src="../vendors/inputmask.phone/inputmask.phone.extensions.min.js"></script>
        <script src="../vendors/inputmask.phone/phone-codes/phone-ru.min.js"></script>
        <script src="../scripts/_mfp.js"></script>
        <script src="../scripts/_input.js"></script>
        <script src="../scripts/_inputmask.js"></script>

    </body>
</html>
